
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		#if($config.get('zoomLevel') != "" && $config.get('zoomLevel') != "0" )<style type="text/css">div#login_form{ zoom: $config.get("zoomLevel"); -moz-transform: scale($config.get("zoomLevel")); -moz-transform-origin: 0 0;margin: 0;}</style>#end
		<link rel="shortcut icon" href="favicon.ico">
		<title>$config.get('appShort')</title>
		<link rel="apple-touch-icon" href="images/infoboxes.gif" />
		<link href="common/login.css" rel="stylesheet" type="text/css"/>
		<link href="common/sso.css" rel="stylesheet" type="text/css"/>
		<link href="common/jquery.reject.css" rel="stylesheet" type="text/css"/>
		<script language="JavaScript" type="text/javascript" src="js/login.js?$text.get('build.number')"></script>
		<script language="JavaScript" type="text/javascript" src="js/jquery-reject.min.js?$text.get('build.number')"></script>
		#if("$frmlnd" != "1" && $offline_online == "1" && "$config.get('portal_redirect')" == "1")
			<meta http-equiv="refresh" content="0;url=$config.get('portal_link')">
		#end
	</head>
	<body>
		#if("$!session_invalid" == "yes" || $sessiontimeout=="1")
		    <script language="JavaScript" type="text/javascript" >
			$(function() {
				$( "#timeout-message" ).dialog({
					modal: true,
					buttons: {
						Ok: function() {
							$( this ).dialog( "close" );
						}
					}
				});
			});
			</script>
	        <div id="timeout-message" title="Session Timeout">
	            <p>
	                    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
	                    $text.get('pixalere.sessiontimeout')

	            </p>
	        </div>
		#end
		<div class="outer">
			<div id="title_component">
				<div id="pixalere_logo">&nbsp;</div>
				<div id="customer_logo">&nbsp;#if("$text.get('pixalere.offline')" == "1")&nbsp;#else 
					<img src="/photos/$config.get("customer_id")/logo.gif" style="text-align:left;margin-left:30px;" align="left"/>
					</script>#end
				</div>
			</div>
		</div>