#parse ("/vm/sso/sso_header.vm")
        <div class="blue_bar">
            <div class="outer_1000">
                
            </div>
        </div>

        <div class="middle_sso">
            <div class="outer_1000">
                <div class="sso_title">
                    $text.get("sso.partialpage.title")
                </div>
                <div class="sso_content">
                    <p>
                        $text.get("sso.partialpage.intro")
                    </p>
                    <br/>
                    <p>$text.get('sso.partialpage.instructions')</p>
                    <p>$text.get('sso.partialpage.pix_user_id') $!pix_user_id</p>
                    <br/>
                    <p>$text.get('sso.partialpage.fields')</p>
                    <div id="partialList">
                    <table style="width:100%; text-align:left;">
                        <tbody>
                        #foreach($text_section in $partialSections)
                            <tr>
                                <td>$text_section</td>
                            </tr>
                        #end
                        </tbody>
                    </table>
                    <br/>
                    <br/>
                    </div>
                    <p>
                    <input 
                        type="button" 
                        name="sso_login" 
                        class="blue_button" 
                        id="sso_login" 
                        value="$text.get("sso.logout.button_login")"  
                        onclick="javascript:document.ssoform.submit();"/>
                    </p>
                </div>
            </div>
        </div>

        <form action="LoginSetup.do" method="post" name="ssoform">
            <input type="hidden" name="sso_logout" value="true"/>
        </form>

        <div class="outerblue">
            <div class="ui-widget" style="margin: 0 auto">
                <div class="ui-state-tooltip ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>        
                            $!config.get('homeInfo_left')
                </div>
            </div>
        </div>

#parse ("/vm/sso/sso_footer.vm")