#parse ("/vm/header.vm")
#set ($objdoo = $!date_of_onset)
#if($!assessment != "" && $!assessment.getAgeofWoundDate().size()>0)
    #set($objdoo=$!assessment.getAgeofWoundDate())
#end
#set($month="")
#set($year="")
#set($day="")
#if($objdoo.size()>0)#set($month=$objdoo.get(0))#end
#if($objdoo.size()>0)#set($day=$objdoo.get(1))#end
#if($objdoo.size()>0)#set($year=$objdoo.get(2))#end

     
#set($objcns=$!assessment.getCNSDate())
#set($cns_month="")
#set($cns_year="")
#set($cns_day="")
#if($objcns.size()>0)#set($cns_month=$objcns.get(0))#end
#if($objcns.size()>0)#set($cns_day=$objcns.get(1))#end
#if($objcns.size()>0)#set($cns_year=$objcns.get(2))#end

<script language="JavaScript" type="text/javascript"  src="js/skinform.js?$text.get('build.number')"></script>
<script language="JavaScript" type="text/javascript"  src="js/diagram.js?$text.get('build.number')"></script>
<script language="JavaScript" type="text/javascript" >
   
function checkClosedDate(day, month, year, day_pre,month_pre,year_pre){
   var date_pre = new Date();
   var fixed_year = 1900 + parseInt(year_pre);
   date_pre.setFullYear(fixed_year,month_pre,day_pre);
   date_pre.setTime(date_pre.getTime()+(14*24*60*60*1000));
   var date = new Date();
   date.setFullYear(year.value,month.value-1,day.value);

   if(date_pre.getTime() < date.getTime()){
        $('#unfinished_confirm').dialog('option', 'title', 'Warning');
        $("#unfinished_label").html('$text.get("pixalere.woundassessment.closed_date_warning")');
        $( "#unfinished_confirm" ).dialog( "open" );
   }else{
    return true;
   }
   
}
var form =  $('#skin_assessment_form');
$(function() {

$('#populate_form').validate({
        rules: {
            assessment_type : "required"
        }, messages: {
            assessment_type: "Full or Partial assessment is required."
        },
        errorLabelContainer:  $('div#errors'),
        wrapper: 'p',
        errorClass: "error",
        invalidHandler: function(form, validator) {
                            $("div#errors").show(); $('html,body').animate({scrollTop: $("#top").offset().top},'slow'); ;
        },
        unhighlight: function(element, errorClass) {
             if (this.numberOfInvalids() == 0) {
                  $("div#errors").hide();
             }
             $(element).removeClass(errorClass);
        }

    });

$( "#unfinished_confirm" ).dialog({
                        autoOpen: false,
			resizable: false,
			height:240,

                        width:500,

			modal: true,
			buttons: [
				{   text: '$text.get("pixalere.go")',
                                    id: 'go_confirm',
                                    click: function() {
					document.form.submit();
                                    }
                                },
				{
                                    text: '$text.get("pixalere.stay")',
                                    id: 'stay_confirm',
                                    click: function() {
					$( this ).dialog( "close" );
                                    }
                                }
			]
    });

        $('#skin_assessment_form').validate({
                    ignore: ".ignore",
                    rules: {
                        
                        wound_year : {canadianDate : {data: ["#wound_day","#wound_month","#wound_year"]}},
                        pain: "required",
                        #if("$components.get('recurrent').required" == "1")recurrent: "required",#end
                        #if("$!config.get('goalPreventative')" != "$!goal.lookup_id")
                        length: {number:true,
                           measurementsRequired : {
                                   data: ["#length"],status: "#status",closed: "$config.get('woundClosed')"} #if("$config.get('enforceLengthLargerThanWidth')"=="1"),enforceLargerLength: {data: ["#length","#length_milli","#width","#width_milli"]}#end},
                        width: {number:true,
                            measurementsRequired : {
                                    data: ["#width"],status: "#status",closed: "$config.get('woundClosed')"}},
                        depth: {number:true,#if("$config.get('woundDepthRequiredForFullAssess')"=="1")measurementsRequired : {data: ["#depth","#depth_milli"],status: "#status",closed: "$config.get('woundClosed')"}},depth: {measurementsRequired : {data: ["#depth","#depth_milli"],status: "#status",closed: "$config.get('woundClosed')"},#end },
                        #end
                        status: "required",
                        full_assessment: "required",
                        
                        discharge_reason: "required",
                        closed_year: {
                             canadianDateClosed : {data: ["#closed_day","#closed_month","#closed_year"], lastassess: ["$!{lastassess_date.getDay()}","$!{lastassess_date.getMonth()}","$!{lastassess_date.getYear()}"]}
                        },
                        wound_year: {required: true},
                        wound_day:{required: true},
                        wound_month:{required: true}
                        
                    },
                    groups: {
                        woundDate: "wound_year wound_day wound_month",
                        lengthRequired: "length",
                        widthRequired: "width",
                        depthRequired: "depth"
                         },
                    messages: {
                        pain: "$text.get('pixalere.woundassessment.error.pain')",
                        woundDate: "$text.get('pixalere.woundassessment.error.wounddate')",
                        wound_date_day: "$text.get('pixalere.woundassessment.error.wounddate')",
                        wound_date_year: "$text.get('pixalere.woundassessment.error.wounddate')",
                        wound_date_month: "$text.get('pixalere.woundassessment.error.wounddate')",
                        wound_edge: "$text.get('pixalere.woundassessment.error.wound_edge')",
                        recurrent: "$text.get('pixalere.woundassessment.error.recurrent')",
                        closed_year: "$text.get('pixalree.woundassessment.form.error.closuredate')",
                        
                        full_assessment: "$text.get('pixalere.woundassessment.error.full_assessment')",
                        
                        status: "$text.get('pixalere.woundassessment.error.status')",
                        length_milli: "$text.get('pixalere.woundassessment.error.length')",
                        width_milli: "$text.get('pixalere.woundassessment.error.width')",
                        length: { measurementsRequired: "$text.get('pixalere.woundassessment.error.length')" #if("$config.get('enforceLengthLargerThanWidth')"=="1"),enforceLargerLength: "$text.get('pixalere.woundassessment.error.lengthmustbelargest')"#end},
                        width: "$text.get('pixalere.woundassessment.error.width')",
                        depth_milli: "$text.get('pixalere.woundassessment.error.depth')",
                        depth: "$text.get('pixalere.woundassessment.error.depth')",
                        discharge_reason: "$text.get('pixalere.woundassessment.error.closure')",
                        closed_year: "$text.get('pixalree.woundassessment.form.error.closuredate')"
                    },
                    errorLabelContainer:  $('div#errors'),
                    wrapper: 'p',
                    errorClass: "error",
                    invalidHandler: function(form, validator) {
                            $("div#errors").show(); $('html,body').animate({scrollTop: $("#top").offset().top},'slow');
                    },
                    unhighlight: function(element, errorClass) {
                            if (this.numberOfInvalids() == 0) {
                                $("div#errors").hide();
                            }
                            $(element).removeClass(errorClass);
                    },submitHandler: function(form) {
                         var result = checkClosedDate(document.form.closed_day,document.form.closed_month,document.form.closed_year,'$!lastassess_date.getDate()','$!lastassess_date.getMonth()','$!lastassess_date.getYear()');
                         if(result){
                            incompleteAlphaVeto();
                         }
                    }

                });
    $("div#errors").hide();
});
function ignoreFields(){
    $("#pain").addClass("ignore");
    $("input[name='recurrent']").addClass("ignore");

    $("#discharge_reason").removeClass("ignore");
    $("#closed_year").removeClass("ignore");
}
function unIgnoreFields(){
    $("#pain").removeClass("ignore");
    $("input[name='recurrent']").removeClass("ignore");

    $("#discharge_reason").addClass("ignore");
    $("#closed_year").addClass("ignore");
}

//$anchor
#if("$anchor" == "anchor_fistula" || "$anchor" == "anchor_sinus" ||"$anchor" == "anchor_undermining")
    document.location = "#${anchor}";

#end
function showDischarge(){
	if(document.form.status.value=="$config.get('skinClosed')"){
            setRequired("");makeRequired();
            document.populate.assessment_type[1].checked =true;
            document.getElementById('lengthRequired').innerText = "";
            document.getElementById('widthRequired').innerText = "";
            #if("$config.get('woundDepthRequiredForFullAssess')"=="1")
                document.getElementById('depthRequired').innerText = "";
            #end
            document.getElementById('dischargeRequired').innerText = "*";
            document.form.discharge_reason.disabled=false;
            document.form.closed_day.disabled=false;
            document.form.closed_month.disabled=false;
            document.form.closed_year.disabled=false;
            document.getElementById('closed_year').style.border="1px solid #7F9DB9";
            $('#closed_year').datepicker('enable');
            ignoreFields();$("div#errors").hide();
	}
	else{
            if(document.populate.assessment_type[0].disabled == true){
                document.populate.assessment_type[0].checked =true;
            }
            if(document.populate.assessment_type[1].checked == true){
                //document.populate.assessment_type[1].checked=false;
            }
            setRequired("*");
            document.getElementById('dischargeRequired').innerText = "";
            makeRequired();
            document.form.discharge_reason.disabled=false;
            document.form.discharge_reason.options[0].selected=true;
            document.form.discharge_reason.disabled=true;
            document.form.closed_day.disabled=false;
            document.form.closed_day.options[0].selected=true;
            document.form.closed_day.disabled=true;
            document.form.closed_month.disabled=false;
            document.form.closed_month.options[0].selected=true;
            document.form.closed_month.disabled=true;
            document.form.closed_year.disabled=true;
            document.form.closed_year.value="";
            document.getElementById('closed_year').style.border="1px solid #C9C7BA";
            $('#closed_year').datepicker('disable');
            unIgnoreFields();
	}
}



function verify() {

    process();
    if(document.getElementById("cancel1").checked == true || document.populate.assessment_type[2].checked == true ||  document.populate.assessment_type[3].checked == true ){
            document.form.submit();
    }else{
        $("#skin_assessment_form").submit();
    }
}
function process(){
    if(document.populate.assessment_type[0].checked == true)
        {
        document.form.full_assessment.value="1";
        }
    if(document.populate.assessment_type[1].checked == true)
        {
        document.form.full_assessment.value="0";
        }
    if(document.populate.assessment_type[2].checked == true)
        {
        document.form.full_assessment.value="2";
        }
    if(document.populate.assessment_type[3].checked == true)
        {
        document.form.full_assessment.value="3";
        }

        fail_check=1;
        c=0;
        
}
//returns "true" if document submission should be vetoed due to not all alphas being filled out
function incompleteAlphaVeto() {

	//if the destination page is anything other than the assessment page...
	if((document.form.page.value !="assess") && (document.form.page.value !="assess_ostomy") && (document.form.page.value !="assess_skin")  && (document.form.page.value !="assess_incision")&& (document.form.page.value !="assess_drain")) {
		var unfinishedAlphas = new Array($!unfinishedAlphas);
		var msgAlphas = new Array();
		if(unfinishedAlphas.length > 0) {
			//if there's only 1 unfinished assessment, and it's the current one, ignore it.
			//if(unfinishedAlphas.length == 1 && unfinishedAlphas[0].toLowerCase() == "$selected_alpha".toLowerCase() && !document.form.cancel.checked && !document.populate.assessment_type[2].checked) {
			//	document.form.submit();
                        //    return false;
			//}
			// remove current alpha from array and replace incision alphas by Incision, only once, and ostomy by Urinal or Fecal
			for(i=0; i < unfinishedAlphas.length; i++) {          // CH_MT fix for bug 1154

					if(unfinishedAlphas[i].toLowerCase() != "$selected_alpha".toLowerCase() || document.getElementById("cancel1").checked == true) {

						if (unfinishedAlphas[i].length>1){
							if (unfinishedAlphas[i].indexOf("ostu") != -1){
								msgAlphas.push('$text.get("pixalere.woundprofile.drawingiconhint.urinalstoma") '+unfinishedAlphas[i].substring(4));
							}else if (unfinishedAlphas[i].indexOf("ostf") != -1){
								msgAlphas.push('$text.get("pixalere.woundprofile.drawingiconhint.fecalstoma") '+unfinishedAlphas[i].substring(4));
							}else if (unfinishedAlphas[i].indexOf("td") != -1){
								msgAlphas.push('$text.get("pixalere.woundprofile.drawingiconhint.drain") '+unfinishedAlphas[i].substring(2));
							}else if (unfinishedAlphas[i].indexOf("tag") != -1){
								msgAlphas.push('$text.get("pixalere.woundprofile.drawingiconhint.incision_tag") '+unfinishedAlphas[i].substring(3));
							}else if (unfinishedAlphas[i].indexOf("s") == 0){
								msgAlphas.push('$text.get("pixalere.woundprofile.drawingiconhint.skin") '+unfinishedAlphas[i].substring(1));
							}
					}else if(unfinishedAlphas[i].toLowerCase() != "$selected_alpha".toLowerCase()){
						msgAlphas.push(unfinishedAlphas[i]);
					}
				}
		  }
		if(msgAlphas.length>0)
		  {
		  //ask the user if they really want to leave while there's unfinished assessments
		  var msg = "$text.get("pixalere.woundassessment.form.unfinishedAlphasMessage.start")";
		  msg += msgAlphas.join();
		  msg += "$text.get("pixalere.woundassessment.form.unfinishedAlphasMessage.end")";
		  $("#unfinished_label").html(msg);
                  $( "#unfinished_confirm" ).dialog( "open" );
		  }
		else
		  {
                    document.form.status.disabled=false;
                    
                    $('#page_loading').show();
                    document.form.submit();
		  }

		}else{

                    document.form.status.disabled=false;
                    
                     $('#page_loading').show();
                    document.form.submit();
                }

	}else{
            document.form.status.disabled=false;
            
            $('#page_loading').show();
            document.form.submit();
        }
}

function makeRequired(){
    
	if(document.getElementById('assessment_type1').checked == false || document.form.status.value=="$config.get('woundClosed')")
	{
            #if("$config.get('disableImagesForPartial')" == "1")
                document.form.image_1.disabled=true;
                document.form.image_2.disabled=true;
                document.form.image_3.disabled=true;
            #end
            #if("$!config.get('goalPreventative')" != "$!goal.lookup_id")
		document.getElementById('lengthRequired').innerText = "";
		document.getElementById('widthRequired').innerText = "";
		document.getElementById('depthRequired').innerText = "";
            
		if(document.getElementById('assessment_type2').checked == false || "$config.get('disableMeasurentsForPartial')"=="1")
		{
                    document.form.length.value='';document.form.width.value='';document.form.depth.value='';
			document.form.length.disabled = true;
			document.form.width.disabled = true;
			document.form.depth.disabled = true;
		}else if(document.getElementById('assessment_type2').checked == true || "$config.get('disableMeasurentsForPartial')"=="0"){
                    document.form.length.disabled = false;
                    document.form.width.disabled = false;
                    document.form.depth.disabled = false;
                }
            #end
	}else{
       
            #if("$config.get('disableImagesForPartial')" == "1")
                document.form.image_1.disabled=false;
                document.form.image_2.disabled=false;
                document.form.image_3.disabled=false;
            #end
            #if("$!config.get('goalPreventative')" != "$!goal.lookup_id")
		document.getElementById('lengthRequired').innerText = "*";
		document.getElementById('widthRequired').innerText = "*";
		#if("$config.get('woundDepthRequiredForFullAssess')"=="1")
			document.getElementById('depthRequired').innerText = "*";
		#end
		document.form.length.disabled = false;
		document.form.width.disabled = false;
		document.form.depth.disabled = false;
            #end
	}
}

</script>

#pageheader($text.get('pixalere.skinassessment.form.pageheader'))

<!-- insert pp / wp read only fields -->
#parse("/vm/breadcrumbs/summary_overview.vm")
<br/>
#parse ("/vm/alphas.vm")

<div class="left"  style="width:100%">

			<form action="AssessmentDispatch.do" method="post" name="populate" id="populate_form">
				<input type="hidden" name="pop" value="1"/>
				<input type="hidden" name="full" value="1"/>
				<input type="hidden" id="assessments" name="assessments" value="$assessmentsRequest"/>
				<input type="hidden" name="page" value="AssessmentSkin"/>
                                <input type="hidden" name="alpha_id" value="$!alpha_id"/>
                                <p><label class="title">$text.get('pixalere.assessment_type')</label><label class="requiredText">* </label>
                                    <input type="radio" name="assessment_type" id="assessment_type1" value="1" #if($!assessment.getFull_assessment() == 1) onclick="makeRequired();" checked="checked" #elseif("$user_signature"!="$text.get('pixalere.na')") onclick="makeRequired();$( '#populate1' ).button({ disabled: false });" #else checked onclick="makeRequired();"#end/><label class="sub_title" for="assessment_type1">$text.get("pixalere.woundassessment.form.full_assessment")</label>
                                    
                                    <input type="radio" name="assessment_type" id="assessment_type2" value="0" #if($!assessment.getFull_assessment() == 0) checked="checked" #end #if("$user_signature"!="$text.get('pixalere.na')") onclick="$( '#populate1' ).button({ disabled: false });makeRequired();" #else disabled #end/><label class="sub_title" for="assessment_type2">$text.get("pixalere.woundassessment.form.partial_assessment")</label>
                                    
                                    <input type="radio" name="assessment_type" id="assessment_type3" value="2" #if($!assessment.getFull_assessment() == 2) checked="checked" #end #if("$user_signature"=="$text.get('pixalere.na')") disabled #end onclick="if(this.checked==true){$( '#populate1' ).button({ disabled: true });makeRequired();}else{$( '#populate1' ).button({ disabled: false });}"/><label class="sub_title" for="assessment_type3">$text.get("pixalere.not_assessed_today")</label>
                                    

                                    <input type="radio" name="assessment_type" id="assessment_type4" value="3" #if($!assessment.getFull_assessment() == 3) checked="checked" #end #if("$user_signature"!="$text.get('pixalere.na')") onclick="if(this.checked==true){$( '#populate1' ).button({ disabled: true; });makeRequired();}else{$( '#populate1' ).button({ disabled: false });}" #else disabled #end /><label class="sub_title" for="assessment_type4">$text.get("pixalere.woundassessment.form.phone_visit")</label>
                                    </p>


                                    <p><input type="button" name="populate1" id="populate1" class="blue_button button" onclick="verifyPopulate();" value="$text.get('pixalere.assessment.form.populate_previous_assessments')" #if($user_signature == "$text.get('pixalere.na')" ) disabled #end/>&nbsp;&nbsp; </p>

                        </form>
</div>


<div id="unfinished_confirm" title="Unfinished Alphas">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><label id="unfinished_label"></label></p>
</div>
<form action="AssessmentSkin.do" method="post" name="form" enctype="multipart/form-data" id="skin_assessment_form">
<p></p>
<div class="ui-widget ui-state-error ui-corner-all" id="errors" style="margin-bottom: 10px;">
	<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>

</div>
<div id="main">
    <div id="leftColumn">
        <div class="section">
		<input type="hidden" name="image_array" value="$!image_array"/>
                <input type="hidden" name="image_array2" value="$!image_array2"/>
                <input type="hidden" name="which" value="[which]"/>
		<input type="hidden" name="page" value="AssessmentSkin"/>
		<input type="hidden" name="delete" id="delete" value=""/>
                <input type="hidden" name="colour" value=""/>
		<input type="hidden" name="full_assessment" value="-1"/>
                <input type="hidden" name="wound_not_assessed" value=""/>
                <input type="hidden" name="cancel" id="cancel" value=""/>
                <input type="hidden" name="anchor" id="anchor" value=""/>
                <input type="hidden" name="alpha_detail_id" value=""/>
                <input type="hidden" name="alpha_id" value="$!alpha_id"/>
                <input type="hidden" name="$form.getTokenName()" value="$!form.getToken()"/>

            <p class="green"><label class="title">$text.get("pixalere.last_update")</label> #if($!user_signature) <span id="signature" class="hintanchor" onmouseover="showhint('$!profName', this, event, '250px')">$!user_signature</span> #else <span class="staticInput">$text.get('pixalere.na')</span> #end </p>
            <p ><label class="super_title">$text.get("pixalere.woundassessment.form.status")</label></p>
            <p class="green nomargin"><label class="leftLabel title" style="width: 110px;">#ip_st($components.get('wound_date'))$text.get('pixalere.woundassessment.form.date_of_onset')#ip_end($components.get('wound_date'))<label id="req1" class="requiredText">*</label></label>#date("wound_date" $month $day $year "" "0" "")
            </p><p class="green nomargin">
           <label class="leftLabel title" style="width: 100px;">#ip_st($components.get('status'))$text.get("pixalere.woundassessment.form.wound_status")#ip_end($components.get('status')) <label class="requiredText">*</label></label>
          <select name="status" class="textfield" id="status" style="width:140px" onchange="javascript:showDischarge();">

                                                                                          #****************************
                                                                                          * Status Dropdown
                                                                                          ****************************#
                                                                                          #set ($current_status="$!assessment.status")
                                                                                          #if($!assessment.status)
                                                                                          #else
                                                                                                  #set ($current_status = "$config.get('skinActive')")
                                                                                          #end
                                                                                          #lists($wound_status $current_status)
                                                                                  </select>&nbsp;

          </p><p class="green nomargin">
          <label class="leftLabel title">#ip_st($components.get('discharge_reason'))$text.get("pixalere.woundassessment.form.discharge_reason")#ip_end($components.get('discharge_reason')) <label class="required" id="dischargeRequired">#if("$current_status" == "$config.get('woundClosed')") * #end</label></label>
          <select name="discharge_reason" class="textfield" id="discharge_reason" style="width:140px" #if("$current_status" != "$config.get('woundClosed')") disabled #end>
                                                                                  #****************************
                                                                                  * Discharge Reason Dropdown
                                                                                  ****************************#
                                                                                  #lists($discharge_reason $!assessment.discharge_reason)
                                                                                  </select>
          </p><p class="green nomargin">

                                  #set($objcd=$!assessment.getClosedDate())
                                  #set($selectedd="")
                                  #set($selectedm="")
                                  #set($selectedy="")
                                  #if($objcd.size()>0)#set($selectedm=$objcd.get(0))#end
                                  #if($objcd.size()>0)#set($selectedd=$objcd.get(1))#end
                                  #if($objcd.size()>0)#set($selectedy=$objcd.get(2))#end

                                  #set ($disabled = "")
                                  #if("$current_status" != "$config.get('woundClosed')")
                                      #set ($disabled = "disabled")
                                  #end
                                  #set ($required_field = "0")
                                          #if("$current_status" == "$config.get('woundClosed')")
                                      #set ($required_field = "1")
                                  #end
          <label class="leftLabel title" style="width: 100px;">$text.get('pixalere.woundassessment.form.closure_date') </label>#date("closed" $selectedm $selectedd $selectedy "" "0" $disabled)



              </p>
            <p class="green"><label class="leftLabel title">#ip_st($components.get('recurrent'))$text.get('pixalere.woundassessment.form.recurrent')#ip_end($components.get('recurrent'))<span id="req2" class="requiredText">*</span></label>#onoff("$text.get('pixalere.yes')" "$text.get('pixalere.no')" "recurrent" "$!assessment.getRecurrent()" "" "")</p>
            </div>
            <div class="section" data-category="b">
            <p class="green nomargin"><label class="leftLabel title" >#ip_st($components.get('pain'))$text.get("pixalere.woundassessment.form.pain") #ip_end($components.get('pain')) <span id="req3" class="requiredText">*</span></label> #select("pain" $pain $!assessment.pain "" "" "" "1")
               </p><p class="green nomargin"><label class="leftLabel title" style="width:135px" for="pain_comments">#ip_st($components.get('pain_comments'))$text.get("pixalere.pain_comments")#ip_end($components.get('pain_comments'))</label><br/>
                <span class=" center padding_vert"><textarea class="small" id="pain_comments" name="pain_comments">$!pain_comments</textarea></span></p>
              </div>
           
         </div>
         <div id="middleColumn">
              #set($intCount=0)
              #foreach($day_item in $day_list)
                   #set($intCount=$intCount+1)
              #end
                #contentBlock($components.get('skin_temperature') $text.get('pixalere.woundassessment.form.skin_temperature') $!assessment.skin_temperature 'green')
                <p class=" nomargin"><label class="leftLabel sub_title">$text.get("pixalere.woundassessment.form.skin_temperature")</label> <input type="number" name="skin_temperature" id="skin_temperature" step="0.1" max="110" style="width:5em" value="$!assessment.skin_temperature"/></p>
              #contentBlockEnd
            #if("$!config.get('goalPreventative')" != "$!goal.lookup_id")
            <div class="section" data-category="d">
              <p><label class="super_title">$text.get("pixalere.woundassessment.form.dimensions") <label class="highlight">$text.get('pixalere.woundassessment.form.wound_area') <label id="wound_area_label"></label> </label>

            </label></p>
              <p class="green nomargin"><label class="leftLabel sub_title">#ip_st($components.get('length'))$text.get("pixalere.woundassessment.form.length")  #ip_end($components.get('length'))<span class="requiredText" id="lengthRequired">*</span></label> <input type="number" name="length" id="length"  step="any"  max="100"  style="width:5em" value="$!assessment.length"/>
              </p><p class="green nomargin"><label class="leftLabel sub_title">#ip_st($components.get('width'))$text.get("pixalere.woundassessment.form.width") #ip_end($components.get('width'))<span class="requiredText" id="widthRequired">*</span></label> <input type="number" name="width" id="width"  step="any" max="100"  style="width:5em"  value="$!assessment.width"/>
              </p><p class="green nomargin"><label class="leftLabel sub_title">#ip_st($components.get('depth'))$text.get("pixalere.woundassessment.form.depth") #ip_end($components.get('depth'))<span class="requiredText" id="depthRequired">#if("$config.get('woundDepthRequiredForFullAssess')"=="1")*#end</span></label> <input type="number" name="depth" id="depth" step="any"  max="100"  style="width:5em" value="$!assessment.depth"/></p>
              </div>
              #end
            <div class="section" data-category="e">
            <p class="green"><label class="title">#ip_st($components.get('site'))$text.get("pixalere.skinassessment.form.site")#ip_end($components.get('site'))</label>
                    <br/>
                    <textarea name="site" id="site" class="small editor" >$!assessment.site</textarea>    
                    </p>
              </div>
        </div>
        <div id="rightColumn">
            <div class="section" data-category="g">        


                    #blockImages($image_array $image_array2   $image_array3 3)
                #if($config.get('showBarcode') == 1)
                    <!-- Call barcode servlet -->
                    <p class=" pad5" style="margin-top:20px;border: 2px solid #000;padding:5px;text-align:center;"><img width="200" height="130"  src="barcode?data=U:$!{userVO.id},P:$!{patient_id},C:$config.get('customer_id'),As:$!{assessment_id},A:$!{alpha_id}&width=3&height=350&resolution=70"/><br/>Ricoh Barcode</p>
                #end

            </div><!-- End of Right Column -->
       </div>
</div>
<p>
    #if("$config.get('showSaveButton')"=="1")<input type="button" name="save" id="save" class="button blue_button" onclick="javascript:document.form.page.value='assess';selectAll();document.form.submit();" value="$text.get("pixalere.temporarysave")"><br/><br/>#end
    </p>
    
    <p><label class="requiredText">$text.get("pixalere.indicates_required_field")</label></p>
</form>
<script language="javascript">

function gotoDeleteImage(image){
	document.getElementById('delete').value=image;
	document.form.page.value='assess';
	selectAll();
	verify();

}

#if($assessment.getFull_assessment() == "1") document.getElementById('assessment_type1').checked=true; #end
#if($assessment.getFull_assessment() == "0") document.getElementById('assessment_type2').checked=true; #end
$(function(){
showDischarge();
});


</script>



#parse ("/vm/footer.vm")
