.mce-content-body p {margin-top:0px;margin-bottom:0px;}
* {margin: 0;}
.footer_expander{color:#000000;width:100%;margin-top:10px;margin-botton:5px;padding:5px;text-align:center;}
/* Firefox only hack */
@-moz-document url-prefix() {
    fieldset.blank {margin-top:35px;}
}
.successCheck{background:url('../images/success-icon.gif');width:16px;height:16px;}
/* clearfix */
#container #ppDiv {
    padding-top: 1px;
}
.select2-results__option{text-align:left;}
.checkmark {background-image: url(../images/checkmark.png);background-repeat:no-repeat;background-position: right bottom;}
.ui-button{ 
    font-srequiredize: 10px !important;
}
.info_alert {background-color:#FFFFFF;border: 1px solid #1c3f95;-webkit-border-radius: 77px;-moz-border-radius: 77px;border-radius: 77px;height:50px;display:block;padding-top:5px;padding-left:13px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;color:#1c3f95;}
#acknowledge_recommendation .ui-dialog-titlebar-close {display: none }
.smallmargin{margin-top:1px;padding:0;}
.rgradient {background-image:url(../images/gradientr.gif);background-repeat: repeat-x;height:8px;}
.gradient {background-image:url(../images/gradient.gif);background-repeat: repeat-x;height:8px;}
dl.hlffrm {width: 100%; }
dl.hlffrm dt{ float:left; text-align:left; width:130px; margin: 0 10px 0 0;}
dl.hlffrm dd{float:left; text-align:left;  margin: 0 0 0 0; width: 190px;}
.ui-button-text-only .ui-button-text { 
    padding: .2em .6em .3em !important; 
}
.summary_right{position:inline;text-align: left;padding-left:5px;margin:0;}
.bg_pink{background: #f4e4e2;}
.pink{color:#ff0084;}
.button-red {border:1px solid #ddd;background:#ed2650  50% 50% repeat-x;font-weight:bold;color:#ffffff}
/*.button-red:hover {border:1px solid #ddd;background:#dddddd url(images/ui-bg_highlight-soft_50_dddddd_1x100.jpg) 50% 50% repeat-x;font-weight:bold;color:#ed2650}*/
img{
 max-width: none;
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
th {font-size:10px;}
#idletimeout { background:#CC5100; border:3px solid #FF6500; color:#fff; font-family:arial, sans-serif; text-align:center; font-size:12px; padding:10px; position:relative; top:0px; left:0; right:0; z-index:100000; display:none; }
#idletimeout a { color:#fff; font-weight:bold }
#idletimeout span { font-weight:bold }
body{  font-family: Arial, Helvetica, sans-serif;font-size: 11px; text-align: center;font-family: Arial, Helvetica, sans-serif; margin:0px; padding:0px; background-color:#e8e8e8; height: 100%;}
.atlwdg-trigger {
    color: white!important;
    text-decoration: none!important;
}
#summary_btn{
    width:100%;
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom:solid #ccc 1px;
    text-align:center;
}
#arrow_btn {
   float:right;
   width:17px;height:17px; 
}
#summary_btn .arrow_up{
    content: url("../images/open.gif");
}
#summary_btn .arrow_down{
    content: url("../images/close.gif");
}

#feedback { 
  height: 104px; 
  width: 104px; 
  position: fixed; left:92%;
  top: 40%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a { 
  display: block; 
  background: #321491; 
  height: 15px; 
  width: 70px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #fff;
}

#feedback a:hover { 
  background: #06c; 
}
.nomargin{margin:0;padding:0;}
.smallmargin{margin-top:1px;padding:0;}
div#tabs{width: 100%; margin: 0px;padding:0px;margin-left:-5px;}
.tabText { font-size: 10px;}
html {height: 100%;}
#waiting{background-color:#FFFFFF;color:#000000; border: 1px #000 solid;z-index:99;width:200px;height:35px;margin: 300px auto;}
#page_loading {
  width:100%;
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  
  z-index: 10;
}
.width120{width:120px;}
.edit{background: url(../images/sprite.png);width:17px;height:16px;background-position:-247px -26px;background-repeat:no-repeat;}
.library{background: url(../images/sprite.png);width:16px;height:13px;background-position:-321px -2px;background-repeat:no-repeat;margin-top:2px}
.clock{background: url(../images/sprite.png);width:16px;height:18px;background-position:-447px 0px;background-repeat:no-repeat;}
.arrow_bk{background: url(../images/sprite.png);width:17px;height:17px;background-position:-61px 0px;background-repeat:no-repeat;}
.arrow_bk_off{background: url(../images/sprite.png);width:17px;height:17px;background-position:-80px 0px;background-repeat:no-repeat;}
.arrow_fw{background: url(../images/sprite.png);width:17px;height:17px;background-position:-23px 0px;background-repeat:no-repeat;}
.arrow_fw_off{background: url(../images/sprite.png);width:17px;height:17px;background-position:-42px 0px;background-repeat:no-repeat;}
.alert{background: url(../images/sprite.png);width:34px;height:32px;background-position:-320px 26px;background-repeat:no-repeat;}
button.add {padding:0;background: url(../images/sprite.png);width: 110px;height: 19px;background-position:-114px -72px;background-repeat:no-repeat; border: 0px;margin-top:5px;margin-bottom:5px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;color:#000000;font-weight: bold;}
button.remove{padding:0;background: url(../images/sprite.png);width: 110px;height: 19px;background-position:-3px -95px;background-repeat:no-repeat; border: 0px;margin-top:5px;margin-bottom:5px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;color:#000000;font-weight: bold;}
button.addall {padding:0;background: url(../images/sprite.png);width: 110px;height: 19px;background-position:-114px -138px;background-repeat:no-repeat; border: 0px;margin-top:5px;margin-bottom:5px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;color:#000000;font-weight: bold;}
button.removeall{padding:0;background: url(../images/sprite.png);width: 110px;height: 19px;background-position:-3px -116px;background-repeat:no-repeat; border: 0px;margin-top:5px;margin-bottom:5px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;color:#000000;font-weight: bold;}
button.update{padding:0;background: url(../images/sprite.png);width: 110px;height: 19px;background-position:-3px -72px;background-repeat:no-repeat; border: 0px;margin-top:5px;margin-bottom:5px; font-family: Arial, Helvetica, sans-serif;font-size: 11px;color:#000000;font-weight: bold;}
span#refpopup_icon{display:inline-block;vertical-align:middle;cursor:pointer;border:0;background: url(../images/sprite.png);width:19px;height:19px;background-position:-251px -0px;background-repeat:no-repeat;}
span#home_icon{display:inline-block;vertical-align:middle;cursor:pointer;background: url(../images/sprite.png);width:19px;height:19px;background-position:-369px -1px;background-repeat:no-repeat;}
#print_report{background: url(../images/sprite.png);width:144px;height:51px;background-position:-1px -18px;background-repeat:no-repeat; font-family: Arial, Helvetica, sans-serif;padding-left: 4px;
font-size: 13px; color: #2c4d95;text-align: left;line-height: 48px;}
div#print_report{margin: 0 auto;}
div#outer { background-color:#FFFFFF;position: relative;  top: 0px; width: 760px; border: none; min-height: 100%;height: auto !important;height: 100%;margin: 0 auto}

/* fix for jquery ui datepicker in ie. */
.arrow_fw_off {}
.ui-datepicker { width: 17em; padding: .2em .2em 0; z-index: 9999 !important; }
label, span{font-family: Arial, Helvetica, sans-serif;font-size: 12px;}
select, option, input{font-family: Arial, Helvetica, sans-serif;font-size: 12px;}
optgroup{font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bolder;}
legend{font-family: Arial, Helvetica, sans-serif;font-size: 12px; font-weight: bolder;}
form {margin: 0px; }
textarea {resize: none;}
p {clear: both; margin-top: 2px; margin-bottom: 2px; text-align: left; top: 1px; display: block; width: 100%;padding-left:2px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;}
p.darkgreen {background: #8ccf8c !important;overflow: hidden;}
p.midgreen {background:#a9e0a9 !important;overflow:hidden;}
p.green {background: #D1F0D1 !important;overflow: hidden;text-align:left;}
p.blue {background: #E8E8E8 !important;overflow: hidden;}
div.blue {background: #E8E8E8 !important;overflow: hidden;text-align:left;}
div.green {background: #D1F0D1 !important;overflow: hidden;text-align:left;}
div.lightgreen {background: #E1G0E1 !important;overflow: hidden;text-align:left;}
h1.midgreen {background:#a2e2a2 !important;overflow:hidden;}
div.darkgreen {background: #8ccf8c !important;overflow: hidden;}
div.blue {background: #E8E8E8 !important;overflow: hidden;}
fieldset.blue {background: #E8E8E8 !important;overflow: hidden;}
p.required {background: #d96051;border: 1px solid red;display:block;}
span.required {background: #d96051;border: 1px solid red;}
span.green {background: #D1F0D1;}
span.blue {background: #E5E5FF;}
p.line{margin:0;padding:0;text-align:left;width:100%;background: #D1F0D1;}
span.line{margin:0;padding:0;text-align:left;width:100%;float:left;background-color:inherit;}
img {border-width: 0px;padding:0; margin:0;}
img.library{background:url(../images/info_popup.gif) no-repeat;}
.border{border-bottom: 1px solid #163995;}
.breadcrumb-left{border-left:1px solid #163995;}
.breadcrumb-right{border-right:1px solid #163995;}
.history_row{background:#F7F7FF;color: #000000; text-align: left;align: left;}
.history_row_title{background: #33cc33;color: #FFFFFF; text-align: left; align: left;width: 400px;}
hr.lightgreen{clear: both; background-color: #F9FFF9; border: 0; color: #F9FFF9; margin-top: 1px; margin-bottom: 1px; width:100%;}
hr.lightblue{clear: both; background-color: #F7F7FF; border: 0; color: #F7F7FF; margin-top: 1px; margin-bottom: 1px;width:100%;}
.changed {font-family: Arial, Helvetica, sans-serif;padding: 0px;font-size: 10px;color: #000000;background: #E5E5FF;border: solid 1px #E5E5FF;}
.padding_vert{padding-bottom: 10px; padding-top: 10px;}

div#error { text-align: left; background: url(../images/icon_required_valid.gif) 0 0 no-repeat; background-color: #E5E5FF; border-width: 1px; border-style:solid; border-color: #FF0000; color: #EE0000; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight : bold}
label.error {margin-left: 15px;float: none;  vertical-align: top;background:url("../images/unchecked.gif") no-repeat 0px 0px;padding-left: 2em; padding-bottom: 2px;font-weight: bold;color: #000;}
option.grey{background-color:#CCCCCC;font-color:#000000;}
em {font-weight: bold; padding-right: 1em; vertical-align: top;}
button.selection {border: 2px solid blue;}
.breadcrumb-border{border-bottom: 1px solid #163995;}
.breadcrumb-left{border-left:1px solid #163995;}
.breadcrumb-right{border-right:1px solid #163995;}
label#exception { margin-left: 50px; font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: normal;color: #000000;text-decoration: none;}
label.leftLabel{   width: 115px; float: left; text-align: left;  margin-right: 0.5em;margin-left:4px; }
label.left { float: left; text-align: left; clear: both; margin-right: 0.5em; }
span.left { float: left; text-align: left; clear: both; margin-right: 0.5em; }
span.leftLabel{   width: 115px; float: left; text-align: left; clear: both; margin-right: 0.5em; }
label.longLeftLabel{display: block;float: left;display: block;width: 180px;margin-top: 2px;text-align: left;}
label.shortLeftLabel{display: block;clear: both;float: left;display: block;width: 100px;margin-top: 2px;text-align: left;}
label.limbLabel{display: block;clear:both;float: left;width: 80px;margin-top: 2px;text-align: left;}
label.realllllyShortLeftLabel{display: block;clear: both;float: left;display: block;width: 50px;margin-top: 2px;text-align: left;}
label.rightAlignHack{display: block;clear: both;float: left;display: block;width: 225px;margin-top: 2px;text-align: left;}
label.small{width: 130px;  text-align: left; margin-right: 0.5em; }
.small_font{font-size:9px;color:grey;}
.deletedItems{color:grey;}
span.small{width: 130px;  text-align: left; margin-right: 0.5em; }
select.fixed{width: 100px;}
/* ALIGNMENTS top: -1.5em; */
label.checkboxColumn1 {float:left;  text-align: left; background-color: inherit;}
label.checkboxColumn2 {float:right;  text-align: left; width: 160px;background-color: inherit;}
div.thumbarrow_header {width: 320px; display: block;}
div.thumb_arrow{width: 20px; display: inline;}
div.thumb_drp {width: 280px; display: inline;}
div.thumbs {width: 320px; display: block;}
div.thumb {width: 12%; display: inline; height: 26px;}
.top{clear: both;text-align: left;width: 300px;left: 0px;top: 15px;}
.inner_left{ position: relative; float: left; left: 0px;  padding-left:4px;margin-top:0px;top: 0; width: 170px; text-align: left;margin:0;}
.inner_right{position: relative; float: left; left: 115px;  width: 115px; text-align: left;margin:0; }
.medium_indent{left: 120px;}
.align_bottom{bottom: 1em; text-align: left;}
.center { clear:both;text-align: center; }
.leftAlign{ text-align: left;}
.rightAlign{ text-align: right;}
.small_indent{left: 75px;}
.requiredText{width:4px;text-align: left; color: red; display:inline;font-weight : normal;font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.fldTitle{float:left; text-align:left;width:80%;}
.fldTitleRight{float:left;display:inline;width:20%;text-align:right;}
.nurse{background-color: #E5E5FF;}
.clinician{background-color: #E0BEBE;}
.darkRow{background-color:  #CCCCFF; }
.lightRow{background-color:  #DCDCFF; }
/* Toolbars (footer/header) */
div.left{position: relative; float: left;  width: 330px; margin-right:4px; clear: both;}
div.leftV{position: relative; float: left;  width: 330px;  margin-right:4px;  clear: both;}
div.middleV{position: relative; float: left; width: 330px;  margin-left:4px;margin-right:3px;}
div.right{position: relative; float: right; width: 330px; margin-left:4px;  }
div.rightV{position: relative; float: right; width: 330px;margin-left:4px;}
div.rightExpand{position:relative;}
div.leftImage{position: relative; float: left;  width: 100px;  clear: both;}
div.rightImage{position: relative; left: 0px; }
div.checkboxes{overflow:hidden}
.hidePanel{display:none;}
.cnt_panel{display:block;text-align:left;background:inherit;float:left;}
.title_panel{display:block;width:100%;text-align:left;float:left;}
.ui-title-panel-open {background: url(../images/open.gif) 0 0 no-repeat;width:17px;height:17px;display:block;}
.ui-title-panel-close {background: url(../images/close.gif) 0 0 no-repeat;width:17px;height:17px;display:block;}
.column { padding-left: 3px; }
.l {background: url(../images/dot.gif) 0 0 repeat-y; height: 100%;}
.r {background: url(../images/dot.gif) 100% 0 repeat-y; height: 100%;}
.tl {background: url(../images/tl.gif) 0 0 no-repeat}
.tr {background: url(../images/tr.gif) 100% 0 no-repeat; padding: 10px;}
.blue_topLeft {float: left; margin: 0;  width: 10px; height: 90px;}
.blue_topRight {float: right; margin: 0;  width: 10px; height: 90px;}
.blue_bottomLeft {float: left;  margin: 0;  width: 10px; height: 90px;}
.blue_bottomRight {float: right;  margin: 0;  width: 10px; height: 90px;}
div#checkImage { display:none; position:absolute;}
img.toolbarSpacer{width:40px;height:45px;}
div.formmenu1{ float:left;width: 273px; height: 25px;line-height:25px;text-align:left;margin-left:15px;margin-top:3px;}

div#database_test { position: absolute; left: 629px; top: 120px; background: url(../images/test.gif); width: 110px; height: 30px;}
div#database_training { position: absolute; left: 629px; top: 120px;  background: url(../images/training.gif); width: 110px; height: 30px;}
div#database_live { position: absolute; left: 629px; top: 120px; background: url(../images/live.gif); width: 110px; height: 30px; }

/* CLASSES */
.block {display: block;background-color: #CCC;position: relative;height: 100%;top: 10px; padding: 3px; border-top: 1px solid #6767FD; border-left: 1px solid #6767FD; border-right: 1px solid #6767FD; border-bottom: 1px solid #6767FD; }
.header {font-family: arial, sans-serif; font-size: 11px;text-align: center;font-family: Arial, Helvetica, sans-serif;font-size: 80%;height: 18px;color: #FFF; }
.content_section {background-color: #E5E5FF;font-family: arial, sans-serif;font-size: 11px;text-align: center;font-family: Arial, Helvetica, sans-serif;font-size: 80%;height: auto;}
.row { display: block; left: 0px;}
.emptyPage { height: 300px;}
.clearer{clear: both;height: 1px;}
.hidden{position: absolute;left: -10000px;}
tr .blue {background-color:#2c4d95;}
tr .green {background-color:#4a8e42}
/** Fields */
fieldset.columned{overflow: hidden;position: relative;border: 0 solid #FFFFFF;}
fieldset.blank {background:#ffffff; padding:0px; border:0px solid #fff;   width:100%;}
button {vertical-align: middle; color:#6666FF;background:#FFF;border:2px #CCC outset;font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: normal;}
fieldset.assess{margin-bottom:10px;text-align:left;width:320px;padding:0;color:#000000;background:#fff;border:0;} 
fieldset.assess legend{padding-left:2px;width:320px;float:left;font-size:14px;cursor:pointer;color:#000000;background:#8ccf8c;border:0;} 
h1{padding-left:4px;font-size:12px;text-align:left;margin-top:3px;display:block;clear:both;background:#ffffff;color:#000000;} 

input [type=button] {color:#6666FF;background:#FFF;border:2px #CCC outset;font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;}
input [type=submit] {color:#6666FF;background:#FFF;border:2px #CCC outset;font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;}
textarea {font-family: Arial, Helvetica, sans-serif;  font-size: 11px; font-weight: normal; padding-left: 2px; padding-right: 2px; padding-top: 2px; padding-bottom: 2px;}
textarea.large{width: 290px; height: 200px;}
textarea.extra_large{width: 640px; height: 80px;}
textarea.medium{width: 290px; height: 120px; min-width: 290px; min-height: 120px;}
textarea.small{width: 290px; height: 30px; min-width: 290px; min-height: 30px;}
textarea.high{width: 340px; height: 280px; min-width: 340px; min-height: 280px;}
textarea.bottom {  top: 3px; left: 0px; width: 300px; height: 80px;}

input [type=text].large { width: 300px;}
input [type=text].medium { width: 150px;}
input [type=text].small { width: 50px;}
input [type=text].numerical { width: 25px;}

input [type=text]#patientName{ border: 0px; border-color: #E5E5FF; background-color: E5E5FF; width: 6em; }
input.submit {clear: both;      top: 0;color:#CC3300;border:2px #CCC outset;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;}
ul.none {list-style-type: none;margin-left: 0;padding-left: 1em;text-indent: -1em;}
label.check {display: block;position: relative;text-align: left;left: 20px;}
select.extra_small { width: 4em;}
select.large{width: 300px; height: 200px;}
select.small{width: 300px; height: 70px; min-width: 300px; min-height: 70px;}
select.medium{width: 150px;}
select.lgth210{width: 210px;}
select.lgth270{width: 270px;}
select.short{width: 50px;}
select.short2{width: 70px;}
/** Alphas */
div#tools {;}
div#a_r {left: 0px; top: 0px; background: url(../images/Alphas/a_r.gif)}
div.eraser {left: 0px;left: 23px; background: url(../images/Alphas/eraser.gif)}
div.move {left: 0px; left: 46px; background: url(../images/Alphas/move.gif)}

/** HINT BOX */
#hintbox{ position:absolute;top: 0;background-color: lightyellow;width: 150px; /*Default width of hint.*/padding: 3px;border:1px solid black;font:normal 11px Verdana;line-height:18px;z-index:100;border-right: 3px solid black;border-bottom: 3px solid black;visibility: hidden;}
.hintanchor{ font-weight: normal; font-size: 12px;}
.hintanchorw{ font-weight: bold;color: white;}
#hintbox_summary{ position:absolute;top: -30;background-color: lightyellow;width: 150px; /*Default width of hint.*/padding: 3px;border:1px solid black;font:normal 11px Verdana;line-height:18px;z-index:0;border-right: 3px solid black;border-bottom: 3px solid black;visibility: hidden;}
.hintanchor_summary{ /*CSS for link that shows hint onmouseover*/font-family: Arial, Helvetica, sans-serif;padding: 0px;font-size: 10px;color: #000000;background: #FFFFFF;border: solid 1px #6666FF;}

.wound_dropdowns{width:140px;left:60px;display:inline;position:absolute;}
img[name="navPatient"]{margin-left:0px;margin-top:-27px;}
img[name="navWound"]{margin-left:0px;margin-top:-27px;}
img[name="navAssess"]{margin-left:0px;margin-top:-27px;}
img[name="navTreatment"]{margin-left:0px;margin-top:-27px;}
img[name="navSummary"]{margin-left:0px;margin-top:-27px;}
img[name="navViewer"]{margin-left:0px;margin-top:-27px;}
img[name="navAdmin"]{margin-left:0px;margin-top:-27px;}
img[name="navLibrary"]{margin-left:0px;margin-top:-27px;}
img[name="navReports"]{margin-left:0px;margin-top:-27px;}
img[name="navPatient2"]{margin-left:0px;margin-top:-27px;}
img[name="navWound2"]{margin-left:0px;margin-top:-27px;}
img[name="navAssess2"]{margin-left:0px;margin-top:-27px;}
img[name="navTreatment2"]{margin-left:0px;margin-top:-27px;}
img[name="navSummary2"]{margin-left:0px;margin-top:-27px;}
img[name="navViewer2"]{margin-left:0px;margin-top:-27px;}
img[name="navAdmin2"]{margin-left:0px;margin-top:-27px;}
img[name="navLibrary2"]{margin-left:0px;margin-top:-27px;}
img[name="navReports2"]{margin-left:0px;margin-top:-27px;}
/*Refactor out. */
.wound_combo {font-family: Arial, Helvetica, sans-serif;padding: 0px;font-size: 10px;border: solid 1px #2c4d95;}
.textfieldDisabled {background-color: #FFFFFF;border: 1px solid #ACA899;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;color: #000000;text-decoration: none;}
.navbutton {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold; }
.reportbutton {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #FFFFFF;}
/*fieldset {background:#e5e5ff; padding:10px; border:1px solid #fff; border-color:#fff #666661 #666661 #fff; margin: 15px 10px 10px 10px; width:97%;}*/
label.opt {font-weight:normal;}
dl {clear:both;}
dt {float:left; text-align:right; width:200px; line-height:25px; margin:0 10px 10px 0;}
dt#issue {float:left; text-align:right; width:100px; line-height:25px; margin:0 10px 10px 0;}
dd {float:left; text-align:left; width:450px; line-height:25px; margin:0 0 10px 0;}
dl.clear {margin:0;}
dl.clear dd{float:left; text-align:left;  margin: 0 0 0 0; width: 190px;}
dl.clear dt{ float:left; text-align:left; width:130px; margin: 0 10px 0 0;}
dl.print {border-bottom: 1px solid #000000; width: 100%; }
dl.print dt{ float:left; text-align:left; width:130px; margin: 0 10px 0 0;}
dl.print dd{float:left; text-align:left;  margin: 0 0 0 0; width: 190px;}
dl.printW dd{float:left; text-align:left;  margin: 0 0 0 0; width: 540px;}
dd.popup{float:left;text-align:left; width:170px;line-height:25px;margin:0 0 10px; }
dt.inner {float:left; text-align:left; width:110px; line-height:25px; margin:0 10px 10px 0;}
dd.inner {float:left; text-align: left; width:270px; line-height:25px; margin:0 0 10px 0;}
div.push{height: 62px;clear: both;z-index:500;}
div#menu {  width: 180px; float: left;  padding: 0px 0px 0px 0px; margin: 0; text-align: left;}
label.checkbox:hover{color:#33CC33;}
label.radio:hover{color:#33CC33;}
.opener{border: 0; background: transparent;}
.openerMove{border: 0; background: transparent;}
#bluemantools { height: 60px;margin-bottom: 10px;}
div#blueman_grid {  display: block;float: left}
div#blueman_half {width: 163px;height: 133px; }
div#blueman {width: 327px;height: 266px; }
div#blueman_full {width: 327px;height: 497px; }
div#blueman_grid2 {  display: block;float: left}
div#blueman2 {width: 327px;height: 266px; }
div#blueman_container{   margin-left: 0px;}
div.summary_left{float:left; width: 340px;margin: 0 10px 0 5px; border-right: 1px solid #000000;}
div.summary_right{float:left; width: 100%;border-right: 1px solid #000000;}
div#summary_whole{width: 100%;}
.summary_rowA{background-color: #CCCCCC; text-align: left;}
.summary_rowB{background-color: #FFFFFF;text-align: left;}
.Adraggable{position: relative; width: 40px; height: 40px;  float: left; margin: 0;touch-action:none;-ms-touch-action: none}
.redBox{ font-size: 20px; color: #FF0000;   width: 20px; height: 20px;  float: left; margin: 0;}
.redBoxHalf{ font-size: 12px; color: #FF0000;   width: 20px; height: 20px;  float: left; margin: 0;}
.empty{font-size: 0px;  width: 20px; height: 20px;  float: left; margin: 0;}
.ylwBox{ font-size: 20px; color: #FFCC00;  width: 20px; height: 20px;  float: left; margin: 0;}
.grnBox{ font-size: 20px; color: #33cc33;  width: 20px; height: 20px;  float: left; margin: 0;}
.yBox{ font-size: 20px; color: #FFCC00;  width: 20px; height: 20px;  float: left; margin: 0;}
.gBox{ font-size: 20px; color: #33cc33;  width: 20px; height: 20px;  float: left; margin: 0;}
.ylwBoxHalf{ font-size: 12px; color: #FFCC00;  width: 20px; height: 20px;  float: left; margin: 0;}
.grnBoxHalf{ font-size: 12px; color: #33cc33;  width: 20px; height: 20px;  float: left; margin: 0;}
.yBoxHalf{ font-size: 12px; color: #FFCC00;  width: 20px; height: 20px;  float: left; margin: 0;}
.gBoxHalf{ font-size: 12px; color: #33cc33;  width: 20px; height: 20px;  float: left; margin: 0;}
.redBlock{ font-size: 15px; background-color: #FF0000;  color: #FFFFFF;  width: 30px; height: 30px;  margin: 0; padding: 0; cursor: pointer;text-align: center;}
.ylwBlock{ font-size: 15px; background-color: #FFCC00;  color: #000000; width: 30px; height: 30px;   margin: 0;padding: 0; cursor: pointer;text-align: center;}
.grnBlock{ font-size: 15px; background-color: #33cc33; color: #FFFFFF;  width: 30px; height: 30px;   margin: 0;padding: 0; cursor: pointer;text-align: center;}
.rbBlock{ font-size: 15px; background-color: #FF0000;  color: #FFFFFF;  width: 30px; height: 30px;  margin: 0; padding: 0; cursor: pointer;text-align: center;}
.ybBlock{ font-size: 15px; background-color: #FFCC00;  color: #000000; width: 30px; height: 30px;   margin: 0;padding: 0; cursor: pointer;text-align: center;}
.gbBlock{ font-size: 15px; background-color: #33cc33; color: #FFFFFF;  width: 30px; height: 30px;   margin: 0;padding: 0; cursor: pointer;text-align: center;}
.selectedAlpha{border:3px solid #3d3da3;}
.tddraggable{ position: relative; width: 40px; height: 40px;  float: left; margin: 0;touch-action:none;-ms-touch-action: none}
.ostfdraggable{  position: relative; width: 40px; height: 40px;  float: left; margin: 0;touch-action:none;-ms-touch-action: none}
.ostudraggable{  position: relative;  width: 40px; height: 40px;  float: left; margin: 0;touch-action:none;-ms-touch-action: none}
.tagdraggable{ position: relative;  width: 40px; height: 40px;  float: left; margin: 0;ouch-action:none;-ms-touch-action: none}
.incsdraggable{ position: relative;  width: 40px; height: 40px;  float: left; margin: 0;touch-action:none;-ms-touch-action: none}
div.blue_header span{font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #163995;text-decoration: none;}
div#header {text-align:center; background: #FFFFFF url(../images/header.gif) no-repeat;padding: 5px 0px 5px 0px;background-position:top center;text-align: center; width: 1110px; height: 28px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #163995;text-decoration: none;}
/** Text */
.touchScreen { border: 1px solid; border-color: #3D3DA3;  }
.normal {font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: normal;color: #000000;text-decoration: none;}
.productheader {font-style: italic;font-weight: bold;color: #3D3DA3;}
.pageheader {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #6666FF;text-decoration: none;}
.mainpageheader {font-family: Arial, Helvetica, sans-serif;font-size: 15px;font-weight: bold;text-decoration: none;color: #333333;}
.reportfont {font-family: Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: none;}
.mainheader {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #3D3DA3;text-decoration: none;}
.mainheader_report {font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #3D3DA3;text-decoration: none;}
#bluemodeltitle {font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;color: #FFFFFF; text-decoration: none;}
.white_title {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #FFFFFF; }
.white_header {font-family: Arial, Helvetica, sans-serif;font-size: 20px;color: #EEEEEE; }
.black_title {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #262626; }
.black_header {font-family: Arial, Helvetica, sans-serif;font-size: 20px;color: #262626; }
.title {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #102069; }
.sub_title {font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight: bold;color: #000000; }
.super_title {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #3D3DA3; }
.date {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;color: #FFFFFF;text-decoration: none;}
.red {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;color: red;text-decoration: none;}
.BOLD {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #000000;text-decoration: none;}
.BODY {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;color: #000000;text-decoration: none;}
.BODY_checkboxitem {font-family: Arial, Helvetica, sans-serif;font-size: 12px;padding-top: 3px;font-weight: normal;color: #000000;text-decoration: none;}
.s_BODY {font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;color: #000000;text-decoration: none;}
.smallNote {font-family: Arial, Helvetica, sans-serif;font-size: 9px;font-weight: normal;color: #000000;text-decoration: none;}
.error { border-color: 2px solid #CC3333;}
.tabrow {text-align: center;list-style: none;margin: 10px 0 10px; padding: 0;line-height: 24px;height: 26px;overflow: hidden;font-size: 11px;font-family: verdana;position: relative;}
.tabrow li {border: 1px solid #AAA;background: #D1D1D1;background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);display: inline-block;position: relative;z-index: 0;border-top-left-radius: 6px; border-top-right-radius: 6px;box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;text-shadow: 0 1px #FFF;margin: 0 -5px;padding: 0 10px;}
.tabrow a {color: #555;text-decoration: none;}
.tabrow li.selected {background: #FFF;color: #333;z-index: 2;border-bottom-color: #FFF;}
.tabrow:before {position: absolute;content: " ";width: 100%;bottom: 0;left: 0;border-bottom: 1px solid #AAA;z-index: 1;}
.tabrow li:before,
.tabrow li:after {border: 1px solid #AAA;position: absolute;bottom: -1px;width: 5px;height: 5px;content: " ";}
.tabrow li:before {left: -6px;border-bottom-right-radius: 6px;border-width: 0 1px 1px 0;box-shadow: 2px 2px 0 #D1D1D1;}
.tabrow li:after { right: -6px;border-bottom-left-radius: 6px;border-width: 0 0 1px 1px;box-shadow: -2px 2px 0 #D1D1D1;}
.tabrow li.selected:before {box-shadow: 2px 2px 0 #FFF;}
.tabrow li.selected:after {box-shadow: -2px 2px 0 #FFF;}
.grey_border{border: 1px solid #545454;}
/** LINKS */
a:visited{ color: #333366; text-decoration: none;}
a:hover{ color: #333322; text-decoration: none; }
a:visited {color: #000000;text-decoration: none;}
a:link {color: #333366;text-decoration: none;}
A.red:link    {font-family: Arial, Helvetica, sans-serif; text-decoration: none; color:red; font-size: 11px;}
A.red:hover   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:red;font-size: 11px;}
A.red:visited   { font-family: Arial, Helvetica, sans-serif;text-decoration:none;color:red;font-size: 11px;}
A.red:active   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:red;font-size: 11px;}
a.title:link {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #102069; }
a.title:hover {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: red; }
a.title:visited {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #102069; }
a.title:active {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #102069; }
A.whitelinks:link    {font-family: Arial, Helvetica, sans-serif; text-decoration: none; color: #FFFFFF; font-size: 11px;}
A.whitelinks:hover   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:#eeeeee;font-size: 11px;}
A.whitelinks:visited   { font-family: Arial, Helvetica, sans-serif;text-decoration:none;color:#ffffFF;font-size: 11px;}
A.whitelinks:active   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:#FFFFFF;font-size: 11px;}
A.blacklinks:link    {font-family: Arial, Helvetica, sans-serif; text-decoration: none; color: #282828; font-size: 11px;}
A.blacklinks:hover   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:#181818;font-size: 11px;}
A.blacklinks:visited   { font-family: Arial, Helvetica, sans-serif;text-decoration:none;color:#181818;font-size: 11px;}
A.blacklinks:active   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:#282828;font-size: 11px;}

A.whitelinks2:link    {font-family: Arial, Helvetica, sans-serif; text-decoration: underline; color: #E5E5FF; font-size: 11px;}
A.whitelinks2:hover   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:#FFFFFF;font-size: 11px;}
A.whitelinks2:visited   { font-family: Arial, Helvetica, sans-serif;text-decoration:underline;color:#E5E5FF;font-size: 11px;}
A.whitelinks2:active   { font-family: Arial, Helvetica, sans-serif;text-decoration:none; color:#E5E5FF;font-size: 11px;}
A.bluelinks:link {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #6666FF;text-decoration: none;}
A.bluelinks:visited {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #6666FF;text-decoration: none;}
A.bluelinks:hover {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #33CC33;text-decoration: none;}
A.bluelinks:active {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #6666FF;text-decoration: none;}
A.bluelinks2:link {font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #6666FF;text-decoration: underline;}
A.bluelinks2:visited {font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #6666FF;text-decoration: underline;}
A.bluelinks2:hover {font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #33CC33;text-decoration: none;}
A.bluelinks2:active {font-family: Arial, Helvetica, sans-serif;font-size: 10px;font-weight: bold;color: #6666FF;text-decoration: none;}
A.popup:link {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;font-weight: bold;color: #3D3DA3;text-decoration: none;}
A.popup:visited {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #3D3DA3;text-decoration: none;}
A.popup:hover {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #33CC33;text-decoration: none;}
A.popup:active {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;font-weight: bold;color: #3D3DA3;text-decoration: none;}
A.s_popup:link {font-family: Arial, Helvetica, sans-serif;font-size: 9px;font-weight: normal;color: #000000;text-decoration: none;}
A.s_popup:visited {font-family: Arial, Helvetica, sans-serif;font-size: 9px;font-weight: normal;color: #000000;text-decoration: none;}
A.s_popup:hover {font-family: Arial, Helvetica, sans-serif;font-size: 9px;font-weight: normal;color: #33CC33;text-decoration: none;}
A.s_popup:active {font-family: Arial, Helvetica, sans-serif;font-size: 9px;font-weight: normal;color: #000000;text-decoration: none;}


/* FLowcharts, refactor out. */
TABLE.container {
       border: none; color: #000000;
       padding: 0em; text-align: center;
       font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: bold; text-decoration: none;
}

TR.row-layer { border: none; text-align: left; width: 100%;}
TD.column-layer_titleb {background-color:  #6666FF;  margin: 0; padding: 2px; width: 25%; font-family: Arial, Helvetica, sans-serif; font-size: 9px;font-weight: bold; color: #FFFFFF; text-decoration: none;}
TD.column-layer_titlegrey {background-color:  #3D3D3D;  margin: 0; padding: 2px; width: 25%; font-family: Arial, Helvetica, sans-serif; font-size: 9px;font-weight: bold; color: #FFFFFF; text-decoration: none;}
TD.column-layer_titleg {
        background-color:  #33CC33;  margin: 0; padding: 2px; width: 25%;
        font-family: Arial, Helvetica, sans-serif; font-size: 9px;
   font-weight: bold; color: #FFFFFF; text-decoration: none;
}
TD.column-layer_lightb {
        background-color:  #DCDCFF;  margin: 0; padding: 2px; width: 25%;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: normal; color: #000000; text-decoration: none;
}
TD.column-layer_lightgrey {
        background-color:  #DBD9DA;  margin: 0; padding: 2px; width: 25%;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: normal; color: #000000; text-decoration: none;
}
TD.column-layer_lightg {
        background-color:  #d5f4d5;  margin: 0; padding: 2px; width: 25%;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: normal; color: #000000; text-decoration: none;
}
TD.column-layer_darkb {
        background-color:  #CCCCFF;  margin: 0; padding: 2px; width: 25%;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: normal; color: #000000; text-decoration: none;
}
TD.column-layer_darkgrey {
        background-color:  #C4C3C4;  margin: 0; padding: 2px; width: 25%;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: normal; color: #000000; text-decoration: none;
}
TD.column-layer_darkg {
        background-color:  #C8F1C8;  margin: 0; padding: 2px; width: 25%;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: normal; color: #000000; text-decoration: none;
}
DIV.base-layer {
 border: none; color: #000000;
 padding: 0; text-align: left; width: 100%;
}
DIV.spacerRow {
   margin: 0; padding: 0; width: auto;
  font-family: Arial, Helvetica, sans-serif; font-size: 11px;
   font-weight: normal; color: #000000; text-decoration: none;
}
DIV.whiteRow {
 background: none #FFFFFF; border: none;

}
    DIV.blueRow {
 background: none #E5E5FF; border: none;

}
DIV.greenRow {
 background: none #D1F0D1; border: none;

}
DIV.leftContainer {
 border: none; float: left; margin: 0; padding: 0; width: auto;
 font-family: Arial, Helvetica, sans-serif; font-size: 12px;
   font-weight: normal; color: #000000; text-decoration: none;
}

DIV.rightContainer {
 border: none; float: right; margin: 0; padding: 0; width: auto;
   font-family: Arial, Helvetica, sans-serif; font-size: 12px;
   font-weight: normal; color: #000000; text-decoration: none;
}


/* Watch out for this DIV... rule, it appears every now and then */

DIV.space-line {
 clear: both; margin: 0; padding: 0; width: auto;
}

/* anytimec.css 4.1112H (anytime.css 4.1112H)
Copyright 2008-2010 Andrew M. Andrews III (www.AMA3.com). Some Rights
Reserved. This work licensed under the Creative Commons Attribution-
Noncommercial-Share Alike 3.0 Unported License except in jurisdicitons
for which the license has been ported by Creative Commons International,
where the work is licensed under the applicable ported license instead.
For a copy of the unported license, visit
http://creativecommons.org/licenses/by-nc-sa/3.0/
or send a letter to Creative Commons, 171 Second Street, Suite 300,
San Francisco, California, 94105, USA.  For ported versions of the
license, visit http://creativecommons.org/international/
Any+Time is a trademark of Andrew M. Andrews III. */
#timepicker {background-image:url('../images/calendar_on.jpg');background-position:right center;background-repeat:no-repeat; }

.AnyTime-pkr * {border:0;font: inherit;font-size: x-small;font-style:normal;font-weight:normal;list-style-type:none;margin:0;padding:0;white-space: nowrap}
div.AnyTime-win {background-color:#F0F0F1;border:3px solid #C0C0C0;font:normal normal normal xx-small/normal sans-serif;padding-bottom:0.2em;-moz-border-radius:6px;-webkit-border-radius:6px}
.AnyTime-pkr .AnyTime-cloak {background-color:#D7D7D7;opacity:0.7;filter:alpha(opacity=70)}
.AnyTime-pkr .AnyTime-hdr {background-color:#D0D0D1;color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:medium;font-weight:normal;height:1em;margin:0;padding:0 0 0.4em 0;text-align:center;-moz-border-radius:2px;-webkit-border-radius:2px}
.AnyTime-pkr .AnyTime-x-btn {background-color:#FCFCFF;border:1px solid #F99;color:#FF9F9F;cursor:default;float:right;margin:0.3em;text-align:center;width:1.5em;-moz-border-radius:0.4em;-webkit-border-radius:0.4em}
.AnyTime-pkr .AnyTime-btn {background-color:#FCFCFE;border:1px solid #999;color:#606062;cursor:default;float:left;font-family:Arial,Helvetica,sans-serif;height:1.5em;margin-bottom:1px;margin-right:1px;padding-top:0.1em;-moz-border-radius:0.4em;-webkit-border-radius:0.4em}
.AnyTime-pkr .AnyTime-body {padding:0.5em}
.AnyTime-pkr .AnyTime-date {float:left;padding:0 0.5em}
.AnyTime-pkr .AnyTime-lbl {clear:left;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:100%;font-weight:normal;font-style:normal;height:1.3em;margin:0;padding:0;text-align:center}
.AnyTime-pkr .AnyTime-yrs {height:2.6em;text-align:center;width:18.6em}
.AnyTime-pkr .AnyTime-yrs-past-btn {width:2.7em}
.AnyTime-pkr .AnyTime-yr-prior-btn, .AnyTime-pkr .AnyTime-yr-cur-btn, .AnyTime-pkr .AnyTime-yr-next-btn {width:3.75em}
.AnyTime-pkr .AnyTime-yrs-ahead-btn {width:2.7em}
.AnyTime-pkr .AnyTime-mons {height:4.8em;text-align:center;width:18.8em}
.AnyTime-pkr .AnyTime-mon-btn {width:2.75em}
.AnyTime-pkr .AnyTime-mon7-btn {clear:left}
.AnyTime-pkr .AnyTime-dom-table {background-color:#F0F0F1;border:1px solid #E3E3E4;border-spacing:1px;width:18.6em}
.AnyTime-pkr th.AnyTime-dow {background-color:#C0C0C1;color:white;font-family:Arial,Helvetica,sans-serif;font-size:95%;font-weight:normal;font-style:normal}
.AnyTime-pkr .AnyTime-dom-btn {float:none;height:1.7em;text-align:right;padding:0 0.5em 0 0}
.AnyTime-pkr .AnyTime-dom-btn-empty {background-color:#F3F3F4;border:1px solid #C0C0c1}
.AnyTime-pkr .AnyTime-time {float:left;padding:0 0 0 1em;text-align:center}
.AnyTime-pkr .AnyTime-hrs {float:left;padding-left:0.5em;padding-right:0.5em;text-align:center;width:7.2em}
.AnyTime-pkr .AnyTime-hrs-am, .AnyTime-pkr .AnyTime-hrs-pm {float:left;width:3.6em}
.AnyTime-pkr .AnyTime-hr-btn {text-align:right;padding-right:0.25em;width:3em; }
.AnyTime-pkr .AnyTime-mins {float:left;padding-left:0.5em;padding-right:0.5em;text-align:center;width:4.7em}
.AnyTime-pkr .AnyTime-mins-tens, .AnyTime-pkr .AnyTime-mins-ones {float:left;width:2.3em}
.AnyTime-pkr .AnyTime-min-ten-btn, .AnyTime-pkr .AnyTime-min-one-btn {float:left;text-align:center;width:2em}
.AnyTime-pkr .AnyTime-min-ten-btn-empty, .AnyTime-pkr .AnyTime-min-one-btn-empty {background-color:#F3F3F4;border:1px solid #C0C0c1}
.AnyTime-pkr .AnyTime-secs {float:left;padding-left:0.5em;padding-right:0.5em;text-align:center;width:4.7em}
.AnyTime-pkr .AnyTime-secs-tens, .AnyTime-pkr .AnyTime-secs-ones {float:left;width:2.3em}
.AnyTime-pkr .AnyTime-sec-ten-btn, .AnyTime-pkr .AnyTime-sec-one-btn {float:left;text-align:center;width:2em}
.AnyTime-pkr .AnyTime-sec-ten-btn-empty, .AnyTime-pkr .AnyTime-sec-one-btn-empty {background-color:#F3F3F4;border:1px solid #C0C0c1}
.AnyTime-pkr .AnyTime-offs {clear:left;float:left;padding-left:0.5em;padding-top:0.5em;text-align:center}
.AnyTime-pkr .AnyTime-off-select-btn {width:1.5em}
.AnyTime-pkr .AnyTime-body-yr-selector {padding:1em;    }
.AnyTime-pkr .AnyTime-yr-mil, .AnyTime-pkr .AnyTime-yr-cent, .AnyTime-pkr .AnyTime-yr-dec, .AnyTime-pkr .AnyTime-yr-yr {float:left;width:2.5em}
.AnyTime-pkr .AnyTime-mil-btn, .AnyTime-pkr .AnyTime-cent-btn, .AnyTime-pkr .AnyTime-dec-btn, .AnyTime-pkr .AnyTime-yr-btn {float:left;text-align:center;width:2em}
.AnyTime-pkr .AnyTime-yr-era {float:left;padding-left:1em;width:4.1em}
.AnyTime-pkr .AnyTime-era-btn {text-align:center;width:3em}
.AnyTime-pkr .AnyTime-body-off-selector {margin:0.5em; }
.AnyTime-pkr .AnyTime-off-off-btn {clear:left;padding-left:1em;padding-right:1em;text-align:left}
.AnyTime-pkr .AnyTime-cur-btn {border:1px solid #333334;background-color:#C0C0C1;color:#FCFCFE;font-weight:bold}
.AnyTime-pkr .AnyTime-out-btn {background-color:#F0F0F1;border:1px solid #C0C0c1}
.AnyTime-pkr .AnyTime-focus-btn {border:1px dashed black}
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
.ui-multiselect-hasfilter ul { position:relative; top:2px }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px }
.ui-multiselect-filter input { width:100px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #292929; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }
.ui-state-tooltip, .ui-widget-content .ui-state-tooltip, .ui-widget-header .ui-state-tooltip { border: 1px solid #edd817; background: #feefb2 50% 50% repeat-x; font-weight: normal; color: #6f6520; }
.ui-state-tooltip a, .ui-state-tooltip a:link, .ui-state-tooltip a:visited { color: #6f6520; text-decoration: none; }
.ui-state-tooltip .ui-icon, .ui-state-tooltip-text .ui-icon {background-image: url(images/ui-icons_ff0084_256x240.png); }
#table_history .dataTables_filter {
display: none;
}
.table_style table { border-collapse: collapse; text-align: left; width: 100%; } .table_style {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #001D2B; }.table_style table td, .table_style table th { padding: 2px 2px; }.table_style table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0F2146), color-stop(1, #193775) );background:-moz-linear-gradient( center top, #0F2146 5%, #193775 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0F2146', endColorstr='#193775');background-color:#0F2146; color:#FFFFFF; font-size: 12px; font-weight: bold; border-left: 1px solid #001B29; } .table_style table thead th:first-child { border: none; }.table_style table tbody td { color: #00557F; border-left: 1px solid #001B29;font-size: 11px;font-weight: normal; }.table_style table tbody .alt td { background: #E1EEF4; color: #00557F; }.table_style table tbody td:first-child { border-left: none; }.table_style table tbody tr:last-child td { border-bottom: none; }
.opacity30 {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}

/* Default settings */
#summary_overview {padding-right: 10px;border:solid 2px #ccc;}
#leftColumn{width:320px;float:left;padding: 5px 5px;}
#middleColumn{width:320px;float:left;padding: 5px 5px;}
#rightColumn{width:320px;float:left;padding: 5px 5px;}
div.formmenu1{ float:left;width: 273px; height: 25px;line-height:25px;text-align:left;margin-left:15px;}
div.topheader{background-color: #0F2148;;width:1024px;height:32px;vertical-align:middle;line-height:32px;}
div.bottomicons{background-color: #0F2148;;width:1024px;height:32px;vertical-align:middle;margin: 0 auto;z-index:99;position:relative;padding:0;}
div#outer { background-color:#FFFFFF;position: relative;  top: 0px; width: 1024px; border: none; min-height: 100%;height: auto !important;height: 100%;margin: 0 auto}
.t {margin-top: 5px; background: url(../images/dot.gif) 0 0 repeat-x; width: 1024px;}
div#secondaryMenu {  margin-top:11px;height: 43px; width: 1024px;  background: url(../images/seconaryMenu_bg.png) #FFF;background-repeat:repeat-x;}
div.blue_header{width: 1024px; text-align: left; margin: 8px 0px 8px 10px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #000000;text-decoration: none; }
.mainMenu {padding-top:8px;width: 1024px; height: 60px; background-color: #FFFFFF;}
.patient_overview_bg{ display:block;width:auto;height:35px;text-align:left;background: url(../images/patient_overview_bg.png) repeat-x;}
.wound_overview_bg{ display:block;width:auto;height:35px;text-align:left;background: url(../images/wound_overview_bg.png) repeat-x;}
.patient_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/patient_overview.png);}
.wound_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/wound_overview.png);}
    .patient_line_dark{background-color: #e2e9f4;}
    .wound_line_dark{background-color: #f4e4e2;}
    div#pix_logo_header {float:left;width:180px;vertical-align:middle;text-align:center;}
    #container {width:1009px; font:12px/17px Arial, Helvetica, sans-serif; color:#333;  padding:15px 5px 20px 10px;overflow: hidden;position:relative;}
    .section {position: relative;  float: left;  width: 320px;margin-top:3px;padding:2px;}
    .footer {  width: 1024px; height: 66px; background-color: #FFFFFF;margin: 0 auto;z-index:99;position:relative;padding:0;}
    div#content{position: relative; float: left;  width: 1024px;  clear: both;}
    .sectionWide{position:relative;}
    .toolbarPatient {text-align:center;float: left;  margin: 0px 12px 0px 24px; background: url(../images/patient.png) no-repeat; width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarWound {text-align:center;float: left;  margin: 0px 12px 0px 12px; background: url(../images/wound.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAssessment {text-align:center;float: left;  margin: 0px 12px 0px 12px; background: url(../images/assess.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarTreatment {text-align:center;float: left;  margin: 0px 6px 0px 6px; background: url(../images/treatment.png) no-repeat; width: 52px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarSummary {text-align:center;float: left;  margin: 0px 7px 0px 7px; background: url(../images/summary.png) no-repeat; width: 50px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAdmin {text-align:center;float: right;  margin: 0px 12px 0px 12px; background: url(../images/admin.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarViewer {text-align:center;float: left;  margin: 0px 90px 0 90px; background: url(../images/viewer.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarReports {text-align:center;float: right;  margin: 0px 12px 0px 12px; background: url(../images/report.png) no-repeat; width: 45px; height: 55px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLogout {text-align:center;float: right;  margin: 0px 12px 0px 12px; background: url(../images/logout.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarHelp {text-align:center;float: right;  margin: 0px 12px 0px 12px; background: url(../images/help.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLibrary {text-align:center;float: right;  margin: 0px 12px 0px 12px; background: url(../images/library.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .spacer_line{float:left;margin:0px 24px 0px 24px;background:url(../images/spacer_line.gif);width: 3px; height: 60px;display:none;}
    div#footer_breadcrumb2{background-color:#E8E8E8;width:100%;border-top: solid 1px #ccc;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #3D3DA3;margin: 0 auto;}
    

/* Screen dependent css */
/** for 1020px or less - 3 column */
@media screen and (max-width: 1000px) {
    #leftColumn{width:320px;float:left;padding: 5px 5px;}
    #middleColumn{width:320px;float:right;padding: 5px 5px;}
    #rightColumn{clear:both;width: auto; padding: 5px 5px;}
    .summary_right{position:inline;text-align: left;padding-left:5px;margin:0;width:100%;}
    div.formmenu1{ float:left;width: 243px; height: 25px;line-height:25px;text-align:left;margin-left:15px;}
    #container {width:685px; font:12px/17px Arial, Helvetica, sans-serif; color:#333;  padding:15px 5px 20px 10px;overflow: hidden;position:relative;}
    div.topheader{background-color: #0F2148;;width:700px;height:32px;vertical-align:middle;line-height:32px;}
    div.bottomicons{background-color: #0F2148;;width:700px;height:32px;vertical-align:middle;margin: 0 auto;z-index:99;position:relative;padding:0;}
    div#outer { background-color:#FFFFFF;position: relative;  top: 0px; width: 700px; border: none; min-height: 100%;height: auto !important;height: 100%;margin: 0 auto}
    .t {margin-top: 5px; background: url(../images/dot.gif) 0 0 repeat-x; width: 700px;}
    div#secondaryMenu {  margin-top:11px;height: 43px; width: 700px;  background: url(../images/seconaryMenu_bg.png) #FFF;background-repeat:repeat-x;}
    div.blue_header{width: 700px; text-align: left; margin: 8px 0px 8px 10px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #000000;text-decoration: none; }
    .mainMenu {padding-top:8px;width: 700px; height: 60px; background-color: #FFFFFF;}

    div#pix_logo_header {float:left;width:180px;vertical-align:middle;text-align:center;}
    .section {padding-left:5px;padding-right:5px;position: relative;  float: left;  width: 320px;}
    .footer {  width: 700px; height: 66px; background-color: #FFFFFF;margin: 0 auto;z-index:99;position:relative;padding:0;}
    div#content{position: relative; float: left;  width: 700px;  clear: both;}
    .sectionWide{position:relative;}
    .patient_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/patient_overview.png);}
    .wound_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/wound_overview.png);}
    .patient_line_dark{background-color: #e2e9f4;}
    .wound_line_dark{background-color: #f4e4e2;}
    div#footer_breadcrumb2{background-color:#E8E8E8;width:700px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #3D3DA3;margin: 0 auto;}
    .toolbarPatient {text-align:center;float: left;  margin: 0px 6px 0px 6px; background: url(../images/patient.png) no-repeat; width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarWound {text-align:center;float: left;  margin: 0px 6px 0px 6px; background: url(../images/wound.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAssessment {text-align:center;float: left;  margin: 0px 6px 0px 6px; background: url(../images/assess.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarTreatment {text-align:center;float: left;  margin: 0px 6px 0px 6px; background: url(../images/treatment.png) no-repeat; width: 52px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarSummary {text-align:center;float: left;  margin: 0px 7px 0px 7px; background: url(../images/summary.png) no-repeat; width: 50px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAdmin {text-align:center;float: right;  margin: 0px 6px 0px 6px; background: url(../images/admin.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarViewer {text-align:center;float: left;  margin: 0px 25px 0 25px; background: url(../images/viewer.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarReports {text-align:center;float: right;  margin: 0px 6px 0px 6px; background: url(../images/report.png) no-repeat; width: 45px; height: 55px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLogout {text-align:center;float: right;  margin: 0px 6px 0px 6px; background: url(../images/logout.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarHelp {text-align:center;float: right;  margin: 0px 6px 0px 6px; background: url(../images/help.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLibrary {text-align:center;float: right;  margin: 0px 6px 0px 6px; background: url(../images/library.png); width: 40px; height: 45px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .spacer_line{float:left;margin:0px 12px 0px 12px;background:url(../images/spacer_line.gif);width: 3px; height: 60px;display:none;}
}
/** for 640px or less - 3 column */
@media screen and (max-width: 640px) {
    .summary_right{position:inline;text-align: left;padding-left:5px;margin:0;width:320px;}
    #leftColumn{width:320px;float:left;padding: 5px 5px;}
    #middleColumn{width: auto; float:none;padding: 5px 5px;}
    #rightColumn{width: auto; float:none; padding: 5px 5px;}
    #container {width:100%; font:12px/17px Arial, Helvetica, sans-serif; color:#333;  padding:15px 5px 20px 10px;overflow: hidden;position:relative;}
    div.topheader{background-color: #0F2148;;width:400px;height:32px;vertical-align:middle;line-height:32px;}
    div.bottomicons{background-color: #0F2148;;width:400px;height:32px;vertical-align:middle;margin: 0 auto;z-index:99;position:relative;padding:0;}
    div#outer { background-color:#FFFFFF;position: relative;  top: 0px; width: 100%; border: none; min-height: 100%;height: auto !important;height: 100%;margin: 0 auto}
    .t {margin-top: 5px; background: url(../images/dot.gif) 0 0 repeat-x; width: 440px;}
    div#secondaryMenu {  margin-top:11px;height: 43px; width: 400px;  background: url(../images/seconaryMenu_bg.png) #FFF;background-repeat:repeat-x;}
    div.blue_header{width: 400px; text-align: left; margin: 8px 0px 8px 10px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #000000;text-decoration: none; }
    .mainMenu {padding-top:8px;width: 400px; height: 30px; background-color: #FFFFFF;}
    .section {padding-left:5px;padding-right:5px;position: relative;  float: left;  width: 400px;}
    .footer {  width: 400px; height: 66px; background-color: #FFFFFF;margin: 0 auto;z-index:99;position:relative;padding:0;}
    div#content{position: relative; float: left;  width: 40px;  clear: both;}
    .sectionWide{position:relative;}
    .patient_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/patient_overview.png);}
    .wound_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/wound_overview.png);}
    .patient_line_dark{background-color: #e2e9f4;}
    .wound_line_dark{background-color: #f4e4e2;}
    div.formmenu1{ float:left;width: 180px; height: 25px;line-height:25px;text-align:left;margin-left:15px;}
    div#pix_logo_header {float:left;width:110px;vertical-align:middle;text-align:center;}
    div#footer_breadcrumb2{background-color:#E8E8E8;width:480px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #3D3DA3;margin: 0 auto;}
    .toolbarPatient {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/patient.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarWound {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/wound.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAssessment {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/assess.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarTreatment {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/treatment.png)  no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarSummary {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/summary.png)  no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAdmin {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/admin.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarViewer {text-align:center;float: left;  margin: 0px 10px 0 10px; background: url(../images/viewer.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarReports {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/report.png)  no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLogout {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/logout.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarHelp {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/help.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLibrary {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/library.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .spacer_line{float:left;margin:0px 12px 0px 12px;background:url(../images/spacer_line.gif);width: 3px; height: 60px;display:none;}
   #navPatient label{display:none;}
    #navWound label{display:none;}
    #navAssessment label{display:none;}
    #navAdmin label{display:none;}
    #navTreatment label{display:none;}
    #navSummary label{display:none;}
    #navViewer label{display:none;}
    #navReports label{display:none;}
    #navLibrary label{display:none;}
    #navPatient2 label{display:none;}
    #navWound2 label{display:none;}
    #navAssessment2 label{display:none;}
    #navAdmin2 label{display:none;}
    #navTreatment2 label{display:none;}
    #navSummary2 label{display:none;}
    #navViewer2 label{display:none;}
    #navReports2 label{display:none;}
    #navLibrary2 label{display:none;}
    img[name="navPatient"] { display: none; }
    img[name="navWound"] { display: none; }
    img[name="navAssessment"] { display: none; }
    img[name="navAdmin"] { display: none; }
    img[name="navTreatment"] { display: none; }
    img[name="navSummary"] { display: none; }
    img[name="navViewer"] { display: none; }
    img[name="navReports"] { display: none; }
    img[name="navLibrary"] { display: none; }
    img[name="navPatient2"] { display: none; }
    img[name="navWound2"] { display: none; }
    img[name="navAssessment2"] { display: none; }
    img[name="navAdmin2"] { display: none; }
    img[name="navTreatment2"] { display: none; }
    img[name="navSummary2"] { display: none; }
    img[name="navViewer2"] { display: none; }
    img[name="navReports2"] { display: none; }
    img[name="navLibrary2"] { display: none; }
    #help_text{display:none;}
    #ref_popup2{display:none;}
    #home_text{display:none;}
    #logout_text{display:none;}
}
/** for 1020px or greater - 3 column */
@media screen and (max-width: 479px) {
    .summary_right{position:inline;text-align: left;padding-left:5px;margin:0;width:320px;}
    #leftColumn{width:320px;float:left;padding: 5px 5px;}
    #middleColumn{width: auto; float:none;padding: 5px 5px;}
    #rightColumn{width: auto; float:none; padding: 5px 5px;}
    .toolbarPatient {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/patient.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarWound {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/wound.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAssessment {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/assess.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarTreatment {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/treatment.png)  no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarSummary {text-align:center;float: left;  margin: 0px 2px 0px 2px; background: url(../images/summary.png)  no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarAdmin {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/admin.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarViewer {text-align:center;float: left;  margin: 0px 10px 0 10px; background: url(../images/viewer.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarReports {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/report.png)  no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLogout {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/logout.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarHelp {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/help.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .toolbarLibrary {text-align:center;float: right;  margin: 0px 2px 0px 2px; background: url(../images/library.png) no-repeat;background-size:100%; width: 20px; height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
    .spacer_line{float:left;margin:0px 12px 0px 12px;background:url(../images/spacer_line.gif);width: 3px; height: 60px;display:none;}
    #container {width:100%; font:12px/17px Arial, Helvetica, sans-serif; color:#333;  padding:15px 5px 20px 10px;overflow: hidden;position:relative;}
    div.topheader{background-color: #0F2148;;width:400px;height:32px;vertical-align:middle;line-height:32px;}
    div.bottomicons{background-color: #0F2148;;width:400px;height:32px;vertical-align:middle;margin: 0 auto;z-index:99;position:relative;padding:0;}
    div#outer { background-color:#FFFFFF;position: relative;  top: 0px; width: 100%; border: none; min-height: 100%;height: auto !important;height: 100%;margin: 0 auto}
    .t {margin-top: 5px; background: url(../images/dot.gif) 0 0 repeat-x; width: 440px;}
    div#secondaryMenu {  margin-top:11px;height: 43px; width: 400px;  background: url(../images/seconaryMenu_bg.png) #FFF;background-repeat:repeat-x;}
    div.blue_header{width: 400px; text-align: left; margin: 8px 0px 8px 10px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;color: #000000;text-decoration: none; }
    .mainMenu {padding-top:8px;width: 400px; height: 30px; background-color: #FFFFFF;}
    .section {position: relative;  float: left;  width: 400px;}
    .footer {  width: 400px; height: 66px; background-color: #FFFFFF;margin: 0 auto;z-index:99;position:relative;padding:0;}
    div#content{position: relative; float: left;  width: 40px;  clear: both;}
    .sectionWide{position:relative;}
    .patient_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/patient_overview.png);}
    .wound_overview{ display:block;color:#FFFFFF;font-weight: bold;font-size: 16px;width:280px;height:27px;text-align:left;padding-top:8px;padding-left:40px;background: url(../images/wound_overview.png);}
    .patient_line_dark{background-color: #e2e9f4;}
    .wound_line_dark{background-color: #f4e4e2;}
    div.formmenu1{ float:left;width: 180px; height: 25px;line-height:25px;text-align:left;margin-left:15px;}
    div#pix_logo_header {float:left;width:110px;vertical-align:middle;text-align:center;}
    div#footer_brealabedcrumb2{background-color:#E8E8E8;width:480px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #3D3DA3;margin: 0 auto;}
    #navPatient label{display:none;}
    #navWound label{display:none;}
    #navAssessment label{display:none;}
    #navAdmin label{display:none;}
    #navTreatment label{display:none;}
    #navSummary label{display:none;}
    #navViewer label{display:none;}
    #navReports label{display:none;}
    #navLibrary label{display:none;}
    #navPatient2 label{display:none;}
    #navWound2 label{display:none;}
    #navAssessment2 label{display:none;}
    #navAdmin2 label{display:none;}
    #navTreatment2 label{display:none;}
    #navSummary2 label{display:none;}
    #navViewer2 label{display:none;}
    #navReports2 label{display:none;}
    #navLibrary2 label{display:none;}
    #help_text{display:none;}
    #ref_popup2{display:none;}
    #home_text{display:none;}
    #logout_text{display:none;}
    img[name="navPatient"] { display: none; }
    img[name="navWound"] { display: none; }
    img[name="navAssessment"] { display: none; }
    img[name="navAdmin"] { display: none; }
    img[name="navTreatment"] { display: none; }
    img[name="navSummary"] { display: none; }
    img[name="navViewer"] { display: none; }
    img[name="navReports"] { display: none; }
    img[name="navLibrary"] { display: none; }
    img[name="navPatient2"] { display: none; }
    img[name="navWound2"] { display: none; }
    img[name="navAssessment2"] { display: none; }
    img[name="navAdmin2"] { display: none; }
    img[name="navTreatment2"] { display: none; }
    img[name="navSummary2"] { display: none; }
    img[name="navViewer2"] { display: none; }
    img[name="navReports2"] { display: none; }
    img[name="navLibrary2"] { display: none; }
}
.ui-draggable-dragging {border: 1px solid; border-color: #3D3DA3;}
.dataTables_length label {color:#FFFFFF;}
.dataTables_info  {color:#FFFFFF;}
.dataTables_paginate a {padding:2px;padding-left:5px;padding-right:5px;}

