.toolbarPatient {float: left; padding:0; margin: 0px 2px 0px 2px; background: url(../images/legacy/patient.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarWound {float: left;  margin: 0px 2px 0px 2px; background: url(../images/legacy/wound.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarAssessment {float: left;  margin: 0px 2px 0px 2px; background: url(../images/legacy/assess.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarTreatment {float: left;  margin: 0px 2px 0px 2px; background: url(../images/legacy/treatment.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarSummary {float: left;  margin: 0px 2px 0px 2px; background: url(../images/legacy/summary.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarAdmin {float: right;  margin: 0px 2px 0px 2px; background: url(../images/legacy/admin.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarViewer {float: left;  margin: 0px 2px 0px 2px; background: url(../images/legacy/viewer.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarReports {float: right;  margin: 0px 2px 0px 2px; background: url(../images/legacy/report.gif) no-repeat; width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.toolbarLibrary {float: right;  margin: 0px 2px 0px 2px; background: url(../images/legacy/help.gif); width: 66px; height: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000;}
.mainMenu {width: 1140px; height: 62px; background-color: #7c7cFF;margin-top:3px;}
.blue_topLeft {float: left; margin: 0;  width: 10px; height: 60px;}
.blue_topRight {float: right; margin: 0;  width: 10px; height: 60px;}
.spacer_line{float:left;margin:0px 25px 0px 25px;background:none;width: 3px; height: 60px;display:block;}
.blue_bottomLeft {float: left;  margin: 0;  width: 10px; height: 60px;}
.blue_bottomRight {float: right;  margin: 0;  width: 10px; height: 60px;}
img.toolbarSpacer{width:66px;height:45px;}
.footer {  width: 1140px; height: 62px; background-color: #7c7cFF;margin: 0 auto;z-index:99;position:relative;padding:0;}
img[name="navPatient"]{margin-left:11px;margin-top:-27px;}
img[name="navWound"]{margin-left:11px;margin-top:-27px;}
img[name="navAssess"]{margin-left:11px;margin-top:-27px;}
img[name="navTreatment"]{margin-left:11px;margin-top:-27px;}
img[name="navSummary"]{margin-left:11px;margin-top:-27px;}
img[name="navViewer"]{margin-left:11px;margin-top:-27px;}
img[name="navAdmin"]{margin-left:11px;margin-top:-27px;}
img[name="navLibrary"]{margin-left:11px;margin-top:-27px;}
img[name="navReports"]{margin-left:11px;margin-top:-27px;}
img[name="navPatient2"]{margin-left:11px;margin-top:-27px;}
img[name="navWound2"]{margin-left:11px;margin-top:-27px;}
img[name="navAssess2"]{margin-left:11px;margin-top:-27px;}
img[name="navTreatment2"]{margin-left:11px;margin-top:-27px;}
img[name="navSummary2"]{margin-left:11px;margin-top:-27px;}
img[name="navViewer2"]{margin-left:11px;margin-top:-27px;}
img[name="navAdmin2"]{margin-left:11px;margin-top:-27px;}
img[name="navLibrary2"]{margin-left:11px;margin-top:-27px;}
img[name="navReports2"]{margin-left:11px;margin-top:-27px;}