#prod-recommenations-message {background-color:#ebecec}
#recomm_title{background: #FFFFFF url('../images/trigger/medline.png');}
#recomm_form{background: #FFFFFF url('../images/trigger/recommendations.png')}
#searchBTN{background: url(../images/trigger/search.png);}
#recommendations{background: #FFF url('../images/trigger/background.png') repeat-y;}
#recomm_box{background: #fff url('../images/trigger/box.png') no-repeat;}
#recomm_needs{color:#336699;font-weight:bold;}
#recommendation_btn{background: #fff url('../images/trigger/medline_recommend.gif') no-repeat;}