#data_entry {display:none;}
#mainMenu{display:none;}
#footer{display:none;}
#tabs_gui{display:none;}
#patient_profile{float:left;}
#exam{float:left;}
#wound_profile{float:left;}
#foot{float:left;}
#limb{float:left;}
#braden{float:left;}
#wound_assessments{float:left;}
#drain_assessments{float:left;}
#incision_assessments{float:left;}
#ostomy_assessments{float:left;}
#nursing_care_plan{float:left;}