.blue_bar {
    top: 10px;
    width: 100%;
    background-color: #3d3da3;
    height: 43px;
}


.middle_sso {
    top: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
    border-bottom: 10px solid #3d3da3;
}

.sso_title{
	display: block;
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	margin: 10px 0px;
}
.sso_description {
	display: block;
	width: 100%;
}

.sso_content p {
	text-align: left;
	font-size: 13px;
	line-height: 17px;
	padding-bottom: 1em 0;
}

.sso_content table, th, td {
	border-collapse: collapse;
	border: 1px solid #CCC;
	font-size: 13px;
}

.sso_content th {
	font-weight: bold;
}
.sso_content td, .sso_content th {
	padding: 3px 6px;
}

.sso_content .blue_button {
    background-color: #3d3da3;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}