

   #if($!report != "" && $report.size()>0)

        <h3 style="text-align:center;margin-top:10px;">$text.get('pixalere.lastassessment.title')</h3>
        <table id="table_lastassess" summary="Last Assessments" class="display">
        <thead>
        <tr>
                <th style="font-size:12px;font-weight:bold;">$text.get("pixalere.lastassessment.form.patient")</th>
                <th style="font-size:12px;font-weight:bold;">$text.get("pixalere.search.form.treatment_location")</th>
                <th style="font-size:12px;font-weight:bold;">$text.get("pixalere.search.form.woundprofiles")</th>
                <th style="font-size:12px;font-weight:bold;">$text.get("pixalere.reporting.parameterform.assessment_type")</th>
                <th style="font-size:12px;font-weight:bold;">$text.get("pixalere.reporting.parameterform.lastassessment")</th>
            </tr>
            </thead>
            <tbody>
        #foreach($e in $report)
            <tr>
                <td>$!e.get(0) / $!e.get(5)</td>
                <td>$!e.get(4)</td>
                <td>$!e.get(1) ($!e.get(3))</td>
                <td>$text.get('pixalere.full')</td>
                <td  data-order="$!e.get(6)">$!e.get(2)</td>
                
            </tr>
        #end
        </tbody>
        </table>
    #end

        <script language="JavaScript" type="text/javascript" >


        
        $(function() {
                        var oTable = $('#table_lastassess').dataTable({
                            "bFilter": false,
                            "bJQueryUI": true,
                            "aoColumns": [
                                   { "bSortable": false },
                                   { "bSortable": false },
                                    { "bSortable": false },{ "bSortable": false },
                                   null
                                    ],"aoColumnDefs": [{
                                'bSortable': true,
                                'aTargets': [4]
                            }],"iDisplayLength": 25,"aaSorting": [ [4,'desc'] ] 
                                    
                                    
                        });
                        /* Add event listeners to the two range filtering inputs */
                        $('#min').keyup( function() { oTable.fnDraw(); } );
                        $('#max').keyup( function() { oTable.fnDraw(); } );

                    });

        </script>
