#parse ("/vm/header.vm")

<script language="JavaScript" type="text/javascript" >
	function verify(){document.form.submit();}
	function selectAll(){}
	
</script>
<form action="ReportingHome.do" method="post" name="form">
    <input type="hidden" name="alpha_id" value="$!alpha_id">
    <input type="hidden" name="patient_id" value="$!patient_id">
    <input type="hidden" name="wound_id" value="$!wound_id">
    <input type="hidden" name="wound_profile_type_id" value="$!wound_profile_type_id">
	  <table border="0" cellspacing="0" cellpadding="0" align="Center">
	  	<input type="hidden" name="cmd" value="blank">
	  	<input type="hidden" name="page" value="[page]">
			#set ($colcount=0)
                        
			
				#*
                                    reportButton("report_wound_count" "$text.get('pixalere.reporting.form.report_wound_count')" $colcount)
                                *#
			

                        #if("$config.get('reportWoundCount')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_wound_count_with_dressings" "$text.get('pixalere.reporting.form.report_wound_count_with_dressings')" $colcount)
			#end

			#if("$config.get('reportOverviewActivePatients')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_overview_active_patients" "$text.get('pixalere.reporting.form.report_overview_active_patients')" $colcount)
			#end

			#if("$config.get('reportReferralsAndRecommendations')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_referrals_and_recommendations" "$text.get('pixalere.reporting.form.report_referrals_and_recommendations')" $colcount)
			#end

			

			#if("$config.get('reportHealtimeAndCostPerEtiology')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_healtime_and_cost_per_etiology" "$text.get('pixalere.reporting.form.report_healtime_and_cost_per_etiology')" $colcount)
			#end

			

			#if("$config.get('reportLastAssessments')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_last_assessments" "$text.get('pixalere.reporting.form.report_last_assessments')" $colcount)
			#end

			

			#if("$config.get('reportPatientFile')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_patient_file" "$text.get('pixalere.reporting.form.report_patient_file')" $colcount)
			#end

                        
			#if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("report_wound_management_plan" "$text.get('pixalere.reporting.form.report_wound_management_plan')" $colcount)
			
			#if("$config.get('reportDashboard')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_dashboard" "$text.get('pixalere.reporting.form.report_dashboard')" $colcount)
			#end

                        #if("$config.get('reportDashboard')"=="1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_dashboard_4quarters" "$text.get('pixalere.reporting.form.report_dashboard_4quarters')" $colcount)
			#end
            
                        #if("$hide_wound_acquired" != "1")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end
				#reportButton("report_wound_acquired" "$text.get('pixalere.reporting.form.report_wound_acquired')" $colcount)
			#end
			
			#if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("report_patient_outcomes" "$text.get('pixalere.reporting.form.report_patient_outcomes')" $colcount)

			#if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("report_wound_tracking" "$text.get('pixalere.reporting.form.report_wound_tracking')" $colcount)

                        #if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("wound_tracking_details_monthly" "$text.get('pixalere.reporting.form.wound_tracking_details_monthly')" $colcount)
			
                        #if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("report_usage_stats" "$text.get('pixalere.reporting.form.report_usage_stats')" $colcount)

			#if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("report_facility_comparison" "$text.get('pixalere.reporting.form.report_facility_comparison')" $colcount)
			#if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("wound_list" "$text.get('pixalere.reporting.form.report_wound_list')" $colcount)
			
            #if ($colcount==4)
				#set ($colcount=1)
			#else
				#set ($colcount=$colcount+1)
			#end
			#reportButton("referrals" "$text.get('pixalere.reporting.form.report_referrals')" $colcount)

			#if("$userVO.id" == "7")
				#if ($colcount==4)
					#set ($colcount=1)
				#else
					#set ($colcount=$colcount+1)
				#end

				#reportButton("report_sn_extract" "$text.get('pixalere.reporting.form.report_smithnephew_export')" $colcount)
			#end
                        
			#if($colcount<4)
				</tr>			
			#end
		</tr>			
		<tr> 
          <td  valign="top"><img src="images/spacer.gif" width="10" height="8"></td>
        </tr>
        <tr>
        	<td>
        		<span style="text-align:center;">
	    			<input 
		                type="button" 
		                name="scheduler" 
		                value="$text.get("pixalere.reporting.form.scheduler")" 
		                onClick="document.cmdform.submit();"  />
        		</span>
        	</td>
        </tr>
        <tr> 
          <td  valign="top"><img src="images/spacer.gif" width="10" height="8"></td>
        </tr>
      </table>
	<img src="images/spacer.gif" width="10" height="8">
	</form>
	</td>
</td>
<form action="ReportSchedulerSetup.do" method="post" name="cmdform">
</form>
#parse ("/vm/footer.vm")