#parse ("/vm/header.vm")	
<script language="javascript" src="js/woundform.js?$text.get('build.number')"></script>
<script language="JavaScript" type="text/javascript" >
function addToList(newText, newValue) {
   if ( ( newValue == "" ) || ( newText == "" ) ) {
      alert("You cannot add blank values!");
   } else {
	  // Increase the size of list and return the size
	  var check=0;

	document.getElementById(newText).value=newValue;
	  document.getElementById(newText).style.visibility='visible';
	

   } // oh Ends the check to see if the value entered on the form is empty
}
function verify(){document.form.submit();}
function selectAll(){}

</script>
<span class="BODY">$text.get("pixalere.woundassessment.form.select_alpha")</span>
</tr>
</table>
<p>#parse("/vm/blueman.vm")</p>
<p style="height: 220px">&nbsp;</p>
<form  action="AssessmentDispatch.do" method="post" name="form">

                <input type=hidden name=image_array value="$!image_array"/>
                <input type=hidden name=image_array2 value="$!image_array2"/>
				<input type="hidden" name="which" value="[which]"/>
				<input type="hidden" name="page" value=""/>
                <input type="hidden" name="$form.getTokenName()" value="$form.getToken()"/>
                <input type="hidden" name="alpha_id" value="$!alpha_id"/>
</form>

#if($text.get('pixalere.istest') == "true")
    <!-- testing purposes only -->
<a href="javascript:document.form.assessments.value='1:A:A:167';document.form.page.value='assess';document.form.submit();" id="alphaA"></a>
    <a href="javascript:document.form.assessments.value='2:A:B:40';document.form.page.value='assess';document.form.submit();" id="alphaB"></a>
    <a href="javascript:document.form.assessments.value='3:A:C:101';document.form.page.value='assess';document.form.submit();" id="alphaC"></a>
    <a href="javascript:document.form.assessments.value='4:A:D:106';document.form.page.value='assess';document.form.submit();" id="alphaD"></a>
    <a href="javascript:document.form.assessments.value='5:O:ostu:40';document.form.page.value='ostomy';document.form.submit();" id="alphaOstu"></a>
    <a href="javascript:document.form.assessments.value='6:O:ostf:101';document.form.page.value='ostomy';document.form.submit();" id="alphaOstf"></a>
    <a href="javascript:document.form.assessments.value='7:I:lcrc:167';document.form.page.value='incision';document.form.submit();" id="alphaIncs"></a>
    <a href="javascript:document.form.assessments.value='8:D:1:106';document.form.page.value='incision';document.form.submit();" id="alphaDrain"></a>

#end
#parse ("/vm/footer.vm")	
