<div class="tddraggable redBox " id="dragTD" alt="Tube/Drain"><img src="images/Alphas/td.gif"/></div>
<script language="JavaScript" type="text/javascript" >
    var drainAlphas = new Array('td1','td2','td3','td4','td5','td6','td7','td8','td9');
    var drainAlphasStatic = new Array('td1','td2','td3','td4','td5','td6','td7','td8','td9');
$(function() {
    var positions = getPos('blueman_grid');
    
    #foreach($key in $!allalphas.keySet())
        #if("$!allalphas.get($!{key})" != "" && "$!allalphas.get($!{key}).getWound_profile_type().getAlpha_type()" =="D")#set ($color = "red")#if("$!allalphas.get($!{key}).getDischarge()" == "1")#set ($color = "grn")#elseif("$!allalphas.get($!{key}).getActive()" == "1")#set ($color = "ylw")#end
            #if("$!allalphas.get($!{key}).getX()" != "")#set ($left = $!allalphas.get($!{key}).getX())#end
            #if("$!allalphas.get($!{key}).getY()" != "")#set ($top = (10)+ $!allalphas.get($!{key}).getY()) #end
            $('#blueman_grid').append('<div id="alpha$key" class="$!{color}Box  #if($!allalphas.get($!{key}).getActive() == 1)tdmovable#elseif($!allalphas.get($!{key}).getActive() == 0)tdtrash  #end" style="position:absolute;"><img src="images/Alphas/${key}_${color}.gif"/><input type="hidden" name="${key}_coords" id="${key}_coords"  value="${key}|$!allalphas.get($!{key}).getX()|$!allalphas.get($!{key}).getY()|$!allalphas.get($!{key}).getId()"/></div>');
            $('#alpha$key').offset({left: positions.x+$!{left}, top: positions.y+$!{top}});
            removeByElement(drainAlphas,'$key');
        #end
    #end

    #if("$config.get('alphaDraggable')" == "1")
        $(".tddraggable").draggable({  scroll: false,collide: 'block',opacity: 0.35,cursorAt: { left: 5 },cursor: 'move',helper: 'clone',revert: "invalid"});
        $(".tdtrash").draggable({  scroll: false,collide: 'block',opacity: 0.35,cursorAt: { left: 5 },cursor: 'move',revert: "invalid"});
        $(".tdmovable").draggable({  containment: 'parent',scroll: false,collide: 'block',opacity: 0.35,cursorAt: { left: 5 },cursor: 'move'});
    #else
        $(".tdmovable").draggable({  containment: 'parent',scroll: false,collide: 'block',opacity: 0.35,cursorAt: { left: 5 },cursor: 'move'});
        $("#dragTD").selectable({
                                stop: function(event, ui ) {
                                        $(".touchScreen").removeClass("touchScreen");$("#dragTD").addClass("touchScreen");
                                        $("#alpha_move").val("dragTD");
                                }
       });
    #end
});

</script>