#parse ("/vm/header.vm")

#set($obj_surgerydate=$!woundProfile.getDate_surgery_formvalues())
#set($month_surgerydate="")
#set($year_surgerydate="")
#set($day_surgerydate="")
#if($obj_surgerydate.size()>0)#set($month_surgerydate=$obj_surgerydate.get(0))#end
#if($obj_surgerydate.size()>0)#set($day_surgerydate=$obj_surgerydate.get(1))#end
#if($obj_surgerydate.size()>0)#set($year_surgerydate=$obj_surgerydate.get(2))#end

#set($obj_preliminarydate=$!woundProfile.getPreliminary_tbsa_formvalues())
#set($month_preliminarydate="")
#set($year_preliminarydate="")
#set($day_preliminarydate="")
#if($obj_preliminarydate.size()>0)#set($month_preliminarydate=$obj_preliminarydate.get(0))#end
#if($obj_preliminarydate.size()>0)#set($day_preliminarydate=$obj_preliminarydate.get(1))#end
#if($obj_preliminarydate.size()>0)#set($year_preliminarydate=$obj_preliminarydate.get(2))#end

#set($obj_finaldate=$!woundProfile.getFinal_tbsa_formvalues())
#set($month_finaldate="")
#set($year_finaldate="")
#set($day_finaldate="")
#if($obj_finaldate.size()>0)#set($month_finaldate=$obj_finaldate.get(0))#end
#if($obj_finaldate.size()>0)#set($day_finaldate=$obj_finaldate.get(1))#end
#if($obj_finaldate.size()>0)#set($year_finaldate=$obj_finaldate.get(2))#end
<script  language="JavaScript" type="text/javascript"  src="js/wound.js?$text.get('build.number')"></script>
<script  language="JavaScript" type="text/javascript" >

#set($showAnterior="0")
#set($showPosterior="0")
#set($showLateral="0")
#set($showOther="0")


#set($radio_count=0)
#if("$!strShowFull"=="1")
    #set($intRadioFull=$radio_count)
    #set($radio_count=$radio_count+1)
#end
#if("$!strShowLeftRight"=="1")
    #set($intRadioLeft=$radio_count)
    #set($radio_count=$radio_count+1)
#end
#if("$!strShowMidline"=="1")
    #set($intRadioMidline=$radio_count)
    #set($radio_count=$radio_count+1)
#end
#if("$!strShowLeftRight"=="1")
    #set($intRadioRight=$radio_count)
#end

#if($woundLocationsImagesAnterior.size()>0 || "$!woundProfile.wound.location_image.getView()"=="A")
    #set($showAnterior="1")
    #locationimagesarray("arr_anterior" $woundLocationsImagesAnterior)
#end

#if($woundLocationsImagesPosterior.size()>0 || "$!woundProfile.wound.location_image.getView()"=="P")
    #set($showPosterior="1")
    #locationimagesarray("arr_posterior" $woundLocationsImagesPosterior)
#end

#if($woundLocationsImagesLateral.size()>0 || "$!woundProfile.wound.location_image.getView()"=="L")
    #set($showLateral="1")
    #locationimagesarray("arr_lateral" $woundLocationsImagesLateral)
#end

#if($woundLocationsImagesOther.size()>0 || "$!woundProfile.wound.location_image.getView()"=="O")
    #set($showOther="1")
    #locationimagesarray("arr_other" $woundLocationsImagesOther)
#end
var arrUsedImages = new Array (
        #set($exitCount=0)
        #foreach($wound in $woundProfilesDrop)
                #if("$!wound.getStatus()"!="Closed")
                #if($exitCount==0)
                   "[$!wound.getId()]:$!wound.getImage_name()"
                #else
                   ,"[$!wound.getId()]:$!wound.getImage_name()"
                #end
                        #set($exitCount=$exitCount+1)
            #end
    #end
    )



function setBluemodel(objDropdown,strLR,strFLMR,intFLMR,arrValues,blnRadioClick) {
    var blnImageAlreadyUsed=false;
    var blnNotAllowed=false;
    // Check for field "Lower Limb"
    document.form.limbalert.value=arrValues[objDropdown.options[objDropdown.selectedIndex].value][4];
        

    for(var i = 0; i<arrUsedImages.length; i++ )
        {
            
            if(arrUsedImages[i].indexOf(":"+arrValues[objDropdown.options[objDropdown.selectedIndex].value][6+intFLMR])>-1 && arrUsedImages[i].indexOf("[$!woundProfile.wound.getId()]:")==-1)
            {
            blnImageAlreadyUsed=true;
            }
        }

    if(blnImageAlreadyUsed){
        #if("$config.get('allowMultipleWoundProfiles')"=="1")
            document.getElementById("alert-message").innerHTML="$text.get("pixalere.woundprofile.form.error_wpalreadyexists")";
            $( "#alert-message" ).dialog( "open" );
        #else
            document.getElementById("alert-message").innerHTML="$text.get("pixalere.woundprofile.form.error_multiwpnotallowed")";
            $( "#alert-message" ).dialog( "open" );
            blnNotAllowed=true;
        #end
     }

    if(blnNotAllowed==false){
        if((document.form.bluemodel_image.value=="" || blnRadioClick)){
            document.getElementById("blueman").style.background = 'url(images/bluemodel/'+arrValues[objDropdown.options[objDropdown.selectedIndex].value][6+intFLMR]+')';
            document.form.bluemodel_image.value=arrValues[objDropdown.options[objDropdown.selectedIndex].value][6+intFLMR];
        }
        else{
            document.getElementById("blueman").style.background = 'url(images/bluemodel/$!woundProfile.wound.getImage_name())';
            document.form.bluemodel_image.value="$!imageBluemodelName";
        }
        document.form.bluemodel_image_id.value=arrValues[objDropdown.options[objDropdown.selectedIndex].value][0];
        document.form.position.value=strFLMR;
        if("$!imageBluemodelName".indexOf("_bil_")!=-1){
            showBluemodelTitle('$!text.get("pixalere.woundprofile.form.bluemodel_bilateral_title")');
        }else{
            showBluemodelTitle(strLR);
        }
       }else{
          document.getElementById("blueman").style.background = 'url(images/bluemodel/$!woundProfile.wound.getImage_name())';
          objDropdown.options[objDropdown.selectedIndex].selected=false;
        }
}

function setLocationRadios(objRadios,objDropdown,arrValues,blnDisabled) {
// When user selects a location in the dropdown with bluemodel images, the radios for Left/Right might need to be enabled

    if(objDropdown.selectedIndex>0)
        {
        document.form.location.value=arrValues[objDropdown.options[objDropdown.selectedIndex].value][1];
        document.form.location_detailed.value=arrValues[objDropdown.options[objDropdown.selectedIndex].value][2];

        var blnFull=arrValues[objDropdown.options[objDropdown.selectedIndex].value][6]!="";

        var blnLeft=arrValues[objDropdown.options[objDropdown.selectedIndex].value][7]!="";
        var blnMidline=arrValues[objDropdown.options[objDropdown.selectedIndex].value][8]!="";
        var blnRight=arrValues[objDropdown.options[objDropdown.selectedIndex].value][9]!="";

        #if("$!strShowFull"=="1")
            objRadios[$intRadioFull].disabled=(!blnFull || blnDisabled==true);
            objRadios[$intRadioFull].checked=(blnFull && !blnLeft && !blnMidline && !blnRight);
        #end
        #if("$!strShowLeftRight"=="1")
            objRadios[$intRadioLeft].disabled=(!blnLeft || blnDisabled==true);
            objRadios[$intRadioLeft].checked=false;
        #end
        #if("$!strShowMidline"=="1")
            objRadios[$intRadioMidline].disabled=(!blnMidline || blnDisabled==true);
            objRadios[$intRadioMidline].checked=(!blnFull && !blnLeft && blnMidline && !blnRight);
        #end
        #if("$!strShowLeftRight"=="1")
            objRadios[$intRadioRight].disabled=(!blnRight || blnDisabled==true);
            objRadios[$intRadioRight].checked=false;
        #end

        if(blnFull && !blnLeft && !blnMidline && !blnRight)
        {

            setBluemodel(objDropdown,'','F',0,arrValues,false);
        }
        if(!blnFull && !blnLeft && blnMidline && !blnRight)
            {
            setBluemodel(objDropdown,'','M',2,arrValues,false);
            }
        }
    else
        {
        #if("$!strShowFull"=="1")
            objRadios[$intRadioFull].disabled=true;
            objRadios[$intRadioFull].checked=false;
        #end
        #if("$!strShowLeftRight"=="1")
            objRadios[$intRadioLeft].disabled=true;
            objRadios[$intRadioLeft].checked=false;
        #end
        #if("$!strShowMidline"=="1")
            objRadios[$intRadioMidline].disabled=true;
            objRadios[$intRadioMidline].checked=false;
        #end
        #if("$!strShowLeftRight"=="1")
            objRadios[$intRadioRight].disabled=true;
            objRadios[$intRadioRight].checked=false;
        #end
        }
}

function enableWoundLocationDropdowns(){

    if($("#lock").hasClass("ui-icon-locked")){
        
        $("#lock").removeClass("ui-icon-locked");
        $("#lock").addClass("ui-icon-unlocked");
        fillAllLocationsDropdowns();
        #if($showAnterior=="1")
            document.form.anterior.disabled=false;
            setLocationRadios(document.form.rad_anterior,document.form.anterior,arr_anterior,true);
        #end
        #if($showPosterior=="1")
            document.form.posterior.disabled=false;
        #end
        #if($showLateral=="1")
            document.form.lateral.disabled=false;
        #end
        #if($showOther=="1")
            document.form.other.disabled=false;
        #end
    }else{
        $("#lock").removeClass("ui-icon-unlocked");
        $("#lock").addClass("ui-icon-locked");
        #if($showAnterior=="1")
            document.form.anterior.disabled=true;
        #end
        #if($showPosterior=="1")
            document.form.posterior.disabled=true;
        #end
        #if($showLateral=="1")
            document.form.lateral.disabled=true;
        #end
        #if($showOther=="1")
            document.form.other.disabled=true;
        #end
    }
}
function resetDropdowns(strActiveDropdown,intItemsCount) {
    document.getElementById("blueman").style.background = "url(images/bluemodel/empty_bluemodel.jpg)";
    document.form.bluemodel_image.value="";
        document.form.bluemodel_image_id.value=0;
        document.form.location.value="";
        document.form.location_detailed.value="";
        document.form.view.value="";
        document.form.position.value="";
    showBluemodelTitle('');

    #if("$config.get('allowWoundCare')"=="1")
        //disableTab('wound');
    #end

        #if("$config.get('allowBurn')"=="1")
        //disableTab('burn');
        #end

        #if("$config.get('allowStoma')"=="1")
        //disableTab('ostomy');
        #end

        #if("$config.get('allowIncision')"=="1")
        //disableTab('incision');
        #end

        #if("$config.get('allowDrain')"=="1")
        //disableTab('tubedrain');
        #end

    #if($showAnterior=="1")
     if(strActiveDropdown!="anterior")
        {
        if(document.form.anterior.options.length==2 && intItemsCount==1)
            {
            document.form.anterior.selectedIndex=1;
            document.form.anterior.disabled=true;
            setLocationRadios(document.form.rad_anterior,document.form.anterior,arr_anterior,true);
            }
        else
            {
            document.form.anterior.selectedIndex=0;
            setLocationRadios(document.form.rad_anterior,document.form.anterior,'',false);
            }
        }
    else
        {
        document.form.view.value="A";
        }
    #end
    #if($showPosterior=="1")
     if(strActiveDropdown!="posterior")
        {
        if(document.form.posterior.options.length==2 && intItemsCount==1)
            {
            document.form.posterior.selectedIndex=1;
            document.form.posterior.disabled=true;
            setLocationRadios(document.form.rad_posterior,document.form.posterior,arr_posterior,true);
            }
        else
            {
            document.form.posterior.selectedIndex=0;
            setLocationRadios(document.form.rad_posterior,document.form.posterior,'',false);
            }
        }
    else
        {
        document.form.view.value="P";
        }
    #end
    #if($showLateral=="1")
     if(strActiveDropdown!="lateral")
        {
            if(document.form.lateral.options.length==2 && intItemsCount==1){
            document.form.lateral.selectedIndex=0;
            document.form.lateral.disabled=true;
            setLocationRadios(document.form.rad_lateral,document.form.lateral,arr_lateral,true);
            }else{
            document.form.lateral.selectedIndex=0;
            setLocationRadios(document.form.rad_lateral,document.form.lateral,'',false);
            }
        }
    else
        {
        document.form.view.value="L";
        }
    #end
    #if($showOther=="1")
     if(strActiveDropdown!="other")
        {
        if(document.form.other.options.length==2 && intItemsCount==1)
            {
            document.form.other.selectedIndex=1;
            document.form.other.disabled=true;
            setLocationRadios(document.form.rad_other,document.form.other,arr_other,true);
            }
        else
            {
            document.form.other.selectedIndex=0;
            setLocationRadios(document.form.rad_other,document.form.other,'',false);
            }
        }
    else
        {
        document.form.view.value="O";
        }
    #end

}

function fillLocationsDropDown(objDropdown,arrValues,strSelected){
        for(var i=(objDropdown.length-1);i>=0;i--) {
                objDropdown.options[i] = null;
        }

        objDropdown.options[0] = new Option("","");

        var intItems=1;
        for(var i=0;i<arrValues.length;i++) {
        if(( arrValues[i][13]!="")
        || (arrValues[i][14]!="")
        || (arrValues[i][15]!="")
        || ( arrValues[i][16]!="")
        || ( arrValues[i][17]!=""))
            {
            objDropdown.options[intItems] = new Option(arrValues[i][1], i);
            if(arrValues[i][1]==strSelected)
               {
               objDropdown.options[intItems].selected=true;
               }
            intItems++;
            }
        }

        objDropdown.disabled=(intItems==1 || "$!woundProfile.wound.getActive()"=="1");
        return intItems-1;
}

function fillAllLocationsDropdowns(){

var intItemsCount=0

#if($showAnterior=="1")
    intItemsCount=intItemsCount+fillLocationsDropDown(document.form.anterior,arr_anterior,"");
#end
#if($showPosterior=="1")
    intItemsCount=intItemsCount+fillLocationsDropDown(document.form.posterior,arr_posterior,"");
#end
#if($showLateral=="1")
    intItemsCount=intItemsCount+fillLocationsDropDown(document.form.lateral,arr_lateral,"");
#end
#if($showOther=="1")
    intItemsCount=intItemsCount+fillLocationsDropDown(document.form.other,arr_other,"");
#end

    return intItemsCount;
}

#set ($wound_start_date = $text.get("pixalere.na"))
#if($!woundProfile.wound.startdate_signature)
    #set ($wound_start_date = $!woundProfile.wound.startdate_signature)

#end
$(function() {
                    
#if("$!{etiology_warning}" == "1")
        document.getElementById("warning_label").innerHTML="$text.get("pixalere.woundprofile.etiologywarning")";
        $( "#warning-message" ).dialog({
                        autoOpen: true,
                        modal: true,
                        height:240,
                        width:300,
                        buttons: [
				
				{
                                    text: 'OK',
                                    id: 'stay_confirm',
                                    click: function() {
					$( this ).dialog( "close" );
                                    }
                                }
			]
                        
    });
    #end
    $( "#alert-message" ).dialog({
                        autoOpen: false,
                        modal: true,
                        height:240,
                        width:300,
                        buttons: [
				{   text: '$text.get("pixalere.go")',
                                    id: 'go_confirm',
                                    click: function() {
					$("#wound_profile_form").submit();
                                    }
                                },
				{
                                    text: '$text.get("pixalere.stay")',
                                    id: 'stay_confirm',
                                    click: function() {
					$( this ).dialog( "close" );
                                    }
                                }
			]
                        
    });
    $('#wound_profile_form').validate({
                    rules: {#if("$!components.get('wound_acquired').hide_gui" == "0") #getValidation($!components.get('wound_acquired')) #end#if($!config.get("allowSaveWPwithoutAlphas") != 1)etiology_alphas: "required",#end #getValidation($!components.get('etiology')) #getValidation($!components.get('goals'))  date_surgery_year : {canadianDate: {data: ["#date_surgery_day","#date_surgery_month","#date_surgery_year"]}}},
                    messages: {#if("$!components.get('wound_acquired').hide_gui" == "0")wound_acquired: "$text.get('pixalere.woundprofile.form.obtained.error')",#end#if($!config.get("allowSaveWPwithoutAlphas") != 1)etiology_alphas: "$text.get('pixalere.woundprofile.error.missing_alphas')",#end etiology: "$text.get('pixalere.woundprofile.error.wound_etiology')",goals: "$text.get('pixalere.woundprofile.error.goals')",location: "$text.get('pixalere.woundprofile.error.locationbroad')",date_surgery_year: "$text.get('pixalere.woundprofile.error.surgery_date')",reason_for_care: "$text.get('pixalere.woundprofile.error.reason_for_care')"},
                    errorLabelContainer:  $('div#errors'),
                    wrapper: 'p',
                    errorClass: "error",
                    invalidHandler: function(form, validator) {
                            $("div#errors").show(); $('html,body').animate({scrollTop: $("#top").offset().top},'slow'); ;
                    },
                    unhighlight: function(element, errorClass) {
                            if (this.numberOfInvalids() == 0) {
                                $("div#errors").hide();
                            }
                            $(element).removeClass(errorClass);
                    },submitHandler: function(form) {
                        
                        if(jQuery.trim($("#location_detailed").val()) != "") {
                             //Form is valid
                             form.submit();
                        }
                        else {
                             //Form is invalid
                             document.getElementById("alert-message").innerHTML="$text.get('pixalere.woundprofile.error.locationbroad')";
                            $( "#alert-message" ).dialog( "open" );
                        }
                    }
     });
     $("div#errors").hide();

    $(".requiredStar").append('<label class="requiredText">*</label>');
    $('#bluemantab').tabs();
    
    $('#bluemantab').droppable({
        drop: function (event,ui){
            
            if((ui.draggable.attr("class").indexOf("incsdraggable")!=-1 || ui.draggable.attr("class").indexOf("burndraggable")!=-1 )|| ( ui.draggable.attr("class").indexOf( "redBox")!=-1) && (ui.draggable.attr("class").indexOf( "Atrash") !=-1 ||  ui.draggable.attr("class").indexOf( "incstrash") !=-1 || ui.draggable.attr("class").indexOf( "tagtrash") !=-1 || ui.draggable.attr("class").indexOf( "ostutrash") !=-1 || ui.draggable.attr("class").indexOf( "ostftrash") !=-1 || ui.draggable.attr("class").indexOf( "tdtrash") !=-1 || ui.draggable.attr("class").indexOf( "skintrash") !=-1) ){
            
                var html = ui.draggable.html();
                var done = false;
                var wounddone=false;
                #if("$config.get('allowWoundCare')" == "1")
                    for(var i = 0; i<woundAlphasStatic.length;i++){

                        if(html.indexOf(woundAlphasStatic[i])== 0){woundAlphas.unshift(woundAlphasStatic[i]);wounddone=true;removeAlphafromEtiology("$text.get('pixalere.woundcarealpha_prefix')",woundAlphasStatic[i],'A');#if("$!components.get('wound_acquired').hide_gui" == "0")removeAlphafromAcquired("$text.get('pixalere.woundcarealpha_prefix')",woundAlphasStatic[i],'A');#end removeAlphafromGoals("$text.get('pixalere.woundcarealpha_prefix')",woundAlphasStatic[i],'A');woundAlphas.sort();}
                    }
                #end
                #if("$config.get('allowIncision')" == "1")
                    if(wounddone == false){
                        for(var i = 0; i<tagAlphasStatic.length;i++){
                            if(html.indexOf(tagAlphasStatic[i])!= -1){tagAlphas.unshift(tagAlphasStatic[i]);wounddone=true;removeAlphafromEtiology("$text.get('pixalere.woundprofile.drawingiconhint.incision')",tagAlphasStatic[i],'T');#if("$!components.get('wound_acquired').hide_gui" == "0")removeAlphafromAcquired("$text.get('pixalere.woundprofile.drawingiconhint.incision')",tagAlphasStatic[i],'T');#end removeAlphafromGoals("$text.get('pixalere.woundprofile.drawingiconhint.incision')",tagAlphasStatic[i],'T');tagAlphas.sort();}
                        }
                    }
                #end
                #if("$config.get('allowDrain')" == "1")
                    if(wounddone == false){
                        for(var i = 0; i<drainAlphasStatic.length;i++){
                            if(html.indexOf(drainAlphasStatic[i])!= -1){drainAlphas.unshift(drainAlphasStatic[i]);wounddone=true;removeAlphafromEtiology("$text.get('pixalere.woundprofile.drawingiconhint.drain')",drainAlphasStatic[i],'D');#if("$!components.get('wound_acquired').hide_gui" == "0")removeAlphafromAcquired("$text.get('pixalere.woundprofile.drawingiconhint.drain')",drainAlphasStatic[i],'D');#end removeAlphafromGoals("$text.get('pixalere.woundprofile.drawingiconhint.drain')",drainAlphasStatic[i],'D');drainAlphas.sort();}
                        }
                    }
                #end
                #if("$config.get('allowSkin')" == "1")
                    if(wounddone == false){
                        for(var i = 0; i<skinAlphasStatic.length;i++){
                            if(html.indexOf(skinAlphasStatic[i])!= -1){skinAlphas.unshift(skinAlphasStatic[i]);wounddone=true;removeAlphafromEtiology("$text.get('pixalere.woundprofile.drawingiconhint.skin')",skinAlphasStatic[i],'S');#if("$!components.get('wound_acquired').hide_gui" == "0")removeAlphafromAcquired("$text.get('pixalere.woundprofile.drawingiconhint.skin')",skinAlphasStatic[i],'S');#end removeAlphafromGoals("$text.get('pixalere.woundprofile.drawingiconhint.skin')",skinAlphasStatic[i],'S');skinAlphas.sort();}
                        }
                    }
                #end
                #if("$config.get('allowStoma')" == "1")
                    if(wounddone == false){
                        if(html.indexOf(ostAlphasStatic[0])!= -1){ostAlphas.unshift(ostAlphasStatic[0]);wounddone=true;removeAlphafromEtiology("$text.get('pixalere.woundprofile.drawingiconhint.fecalstoma')",ostAlphasStatic[0],'O');removeAlphafromGoals("$text.get('pixalere.woundprofile.drawingiconhint.fecalstoma')",ostAlphasStatic[0],'O');#if("$!components.get('wound_acquired').hide_gui" == "0")removeAlphafromAcquired("$text.get('pixalere.woundprofile.drawingiconhint.fecalstoma')",ostAlphasStatic[0],'O');#end ostAlphas.sort();}
                        if(html.indexOf(ostAlphasStatic[1])!= -1){ostAlphas.unshift(ostAlphasStatic[1]);wounddone=true;removeAlphafromEtiology("$text.get('pixalere.woundprofile.drawingiconhint.urinalstoma')",ostAlphasStatic[1],'O');removeAlphafromGoals("$text.get('pixalere.woundprofile.drawingiconhint.urinalstoma')",ostAlphasStatic[1],'O');#if("$!components.get('wound_acquired').hide_gui" == "0")removeAlphafromAcquired("$text.get('pixalere.woundprofile.drawingiconhint.urinalstoma')",ostAlphasStatic[1],'O');#end ostAlphas.sort();}

                    }
                #end

                setTimeout(function(){
                    ui.draggable.remove();
                    if(ostAlphas.length == 2){
                        //document.getElementById("showForOstomy").style.display='none';
                    }
                    if(ostAlphas.length == 2 && drainAlphas.length == 9 && (tagAlphas.length == 9 && "$config.get('requireIncisionTag')" == "1")){

                        
                          $("div.incsdraggable").hide();
                        
                        document.getElementById('date_surgery_day').selectedIndex=0;document.getElementById('date_surgery_month').selectedIndex=0;document.getElementById('date_surgery_year').value='';document.getElementById('date_surgery_day').value='';document.getElementById("showForOstomyPostOp").style.display='none';
                    }
                },100);


            }
        }

    });
    
    $( "#blueman_grid" ).droppable({
               
                        drop: function( event, ui ) {
                            var dropped_alpha = ui.draggable.html();
                            var positions = getPos('blueman_grid');
                            var left = ui.offset.left - positions.x; 
                            var top = ui.offset.top - positions.y;
                            if(ui.draggable.attr("class").indexOf("burnmovable")!=-1 || ui.draggable.attr("class").indexOf("Amovable")!=-1 || ui.draggable.attr("class").indexOf("skinmovable")!=-1  || ui.draggable.attr("class").indexOf("tdmovable")!=-1 || ui.draggable.attr("class").indexOf("tagmovable")!=-1 || ui.draggable.attr("class").indexOf("incsmovable")!=-1 || ui.draggable.attr("class").indexOf("ostumovable")!=-1 || ui.draggable.attr("class").indexOf("ostfmovable")!=-1 || ui.draggable.attr("class").indexOf("burntrash")!=-1 || ui.draggable.attr("class").indexOf("Atrash")!=-1 || ui.draggable.attr("class").indexOf("skintrash")!=-1  || ui.draggable.attr("class").indexOf("tdtrash")!=-1 || ui.draggable.attr("class").indexOf("tagtrash")!=-1 || ui.draggable.attr("class").indexOf("incstrash")!=-1 || ui.draggable.attr("class").indexOf("ostutrash")!=-1 || ui.draggable.attr("class").indexOf("ostftrash")!=-1){
                                
                                //we're moving the alpha.. get coords.
                                if(!jQuery.support.htmlSerialize){
                                    var ind1 = dropped_alpha.indexOf('id=');
                                    var dropped_alpha_str = dropped_alpha.substring(ind1+3,dropped_alpha.length);
                                    var ind2 = dropped_alpha_str.indexOf('_coords');
                                    var id = dropped_alpha_str.substring(0,ind2+7);
                                    var value = $("#"+id).val();
                                    var alpha_data = value.split("|");
                                    
                                    $("#"+id).val(alpha_data[0]+"|"+left+"|"+(top-10)+"|"+alpha_data[3]);
                                }else{

                                    var ind1 = dropped_alpha.indexOf('id="');
                                    var dropped_alpha_str = dropped_alpha.substring(ind1+4,dropped_alpha.length);
                                    var ind2 = dropped_alpha_str.indexOf('"');
                                    var id = dropped_alpha_str.substring(0,ind2);
                                    var value = $("#"+id).val();
                                    var alpha_data = value.split("|");
                                   
                                    $("#"+id).val(alpha_data[0]+"|"+left+"|"+(top-10)+"|"+alpha_data[3]);
                                }
                            }else{
                           
                                if(dropped_alpha == 'A'){//If dropped item is Wound, and there's alpha's remaining

                                    var cloned = ui.draggable.clone().appendTo(this);
                                    placeAlpha("dragA",top,left,cloned,'$config.get("alphaDraggable")',"$text.get("pixalere.woundprofile.error.no_wound_alphas")","$text.get('pixalere.woundprofile.form.woundcare')");
                                }else if( dropped_alpha.indexOf("skin")!=-1){//If dropped item is Wound, and there's alpha's remaining
                                    var cloned = ui.draggable.clone().appendTo(this);
                                    placeAlpha("dragSKIN",top,left,cloned,'$config.get("alphaDraggable")',"$text.get('pixalere.woundprofile.error.no_skin_alphas')","$text.get('pixalere.woundprofile.form.skin')");
                                }else if( dropped_alpha.indexOf("td")!=-1){//If dropped item is Wound, and there's alpha's remaining
                                    var cloned = ui.draggable.clone().appendTo(this);
                                    placeAlpha("dragTD",top,left,cloned,'$config.get("alphaDraggable")',"$text.get('pixalere.woundprofile.error.no_drain_alphas')","$text.get('pixalere.woundprofile.form.tubesanddrains')");
                                }else if( isNaN(dropped_alpha) == false){//If dropped item is Wound, and there's alpha's remaining
                                    var cloned = ui.draggable.clone().appendTo(this);
                                    $('#dragTCRB').attr('disabled', '');$('#dragLTRC').attr('disabled', '');
                                    $('#dragTCRC').attr('disabled', '');$('#dragRTBC').attr('disabled', '');
                                    $('#dragRCLB').attr('disabled', '');$('#dragTCLB').attr('disabled', '');
                                    $('#dragRTLC').attr('disabled', '');$('#dragTCLC').attr('disabled', '');
                                    $('#dragLTBC').attr('disabled', '');$('#dragLCRB').attr('disabled', '');
                                    $('#dragLCBC').attr('disabled', '');$('#dragRCBC').attr('disabled', '');
                                    $('#dragTCBC').attr('disabled', '');$('#dragRTLB').attr('disabled', '');
                                    $('#dragLTRB').attr('disabled', '');$('#dragLCRC').attr('disabled', '');
                                    placeAlpha("dragTAG",top,left,cloned,'$config.get("alphaDraggable")',"$text.get('pixalere.woundprofile.error.no_incision_alphas')","$text.get('pixalere.woundprofile.form.postop')");
                                }else if( (dropped_alpha.indexOf('ostf')!=-1 || dropped_alpha.indexOf('ostu')!=-1 )){//If dropped item is Wound, and there's alpha's remaining
                                    var cloned = ui.draggable.clone().appendTo(this);
                                    if(dropped_alpha.indexOf('ostf')!=-1){
                                        placeAlpha("dragF",top,left,cloned,'$config.get("alphaDraggable")',"$text.get('pixalere.woundprofile.error.no_ostomy_alphas')","$text.get('pixalere.woundprofile.drawingiconhint.fecalstoma')");
                                    } else if(dropped_alpha.indexOf('ostu')!=-1){
                                        placeAlpha("dragU",top,left,cloned,'$config.get("alphaDraggable")',"$text.get('pixalere.woundprofile.error.no_ostomy_alphas')","$text.get('pixalere.woundprofile.drawingiconhint.urinalstoma')");
                                    }
                                }else if(dropped_alpha.indexOf("burn_draw_o")!=-1){//If dropped item is Burn, and there's alpha's remaining


                                    var cloned = ui.draggable.clone().appendTo(this);
                                    placeAlpha("dragBURNO",top,left,cloned,'$config.get("alphaDraggable")',"","");
                                }else if(dropped_alpha.indexOf("burn_draw_y")!=-1){//If dropped item is Burn, and there's alpha's remaining


                                    var cloned = ui.draggable.clone().appendTo(this);
                                    placeAlpha("dragBURNY",top,left,cloned,'$config.get("alphaDraggable")',"","");
                                }else if(dropped_alpha.indexOf("burn_draw_r")!=-1){//If dropped item is Burn, and there's alpha's remaining


                                    var cloned = ui.draggable.clone().appendTo(this);
                                    placeAlpha("dragBURNR",top,left,cloned,'$config.get("alphaDraggable")',"","");
                                }else if(dropped_alpha.indexOf("rb")!=-1 || dropped_alpha.indexOf("rc")!=-1 ||dropped_alpha.indexOf("lb")!=-1  ||dropped_alpha.indexOf("bc")!=-1 ||dropped_alpha.indexOf("lc")!=-1 ||dropped_alpha.indexOf("lc")!=-1 ){//If dropped item is Wound, and there's alpha's remaining

                                    
                                    var cloned = ui.draggable.clone().appendTo(this);
                                    placeAlpha("dragINCS",top,left,cloned,'$config.get("alphaDraggable")',"","$text.get('pixalere.woundprofile.form.postop')");
                                }
                            }
                        }
                });
});

function verify(){
    if(document.getElementById("cancel1").checked == true  ){
            document.form.submit();
    }else{
        
        if(document.form.limbalert.value=="1"){
          if("$config.get('alternativeLimbComment')" == "1"){
            document.getElementById("alert_label").innerHTML="$text.get("pixalere.woundprofile.error.limb_assessment_needed_alt")";
            $( "#alert-message" ).dialog( "open" );
          }else{
            document.getElementById("alert_label").innerHTML="$text.get("pixalere.woundprofile.error.limb_assessment_needed")";
            $( "#alert-message" ).dialog( "open" );
          }
       }else{
            //deselect alphas
            //deselect(document.form.etiology_alphas);
            //deselect(document.form.goals_alphas);
            //deselect(document.form.wound_acquired_alphas);
            $("#wound_profile_form").submit();
        }
   }
}



function setPressureUlcer(object){
    if (object.value == $config.get('woundEtiologyPressure'))
        {
        if (object.checked)
            {
            document.all.pressure_ulcerRequired.innerText="*";
            }
        else
            {
            document.all.pressure_ulcerRequired.innerText=" ";
            }
        document.form.pressure_ulcer.disabled=!object.checked;
        }
}

</script>

<div class="ui-widget ui-state-error ui-corner-all" id="errors" style="margin-bottom: 10px;">
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>

</div>
<div id="alert-message" title="$text.get('pixalere.alert')">
            <p>
                    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
                    <label id="alert_label"></label>

            </p>
</div>
#if("$!{etiology_warning}" == "1")
<div id="warning-message" title="$text.get('pixalere.alert')">
            <p>
                    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
                    <label id="warning_label"></label>

            </p>
</div>
#end

<form action="WoundProfile.do" method="post" id="wound_profile_form" name="form" onsubmit="" >
<input type="hidden" id="alpha_move" name="alpha_move" value=""/>
<input type="hidden" id="start_date" name="start_date" value="$!woundProfile.getStart_date()"/>
<input type="hidden" id="startdate_signature" name="startdate_signature" value="$!woundProfile.wound.startdate_signature"/>
<input type="hidden" name="location" class="required"  id="location" value="$!woundProfile.getWound().getWound_location()"/>
<input type="hidden" name="location_detailed" class="required" id="location_detailed" value="$!woundProfile.getWound().getWound_location_detailed()"/>
<input type="hidden" name="limbalert" value="0"/>
<input type="hidden" name="bluemodel_image" value="$!woundProfile.wound.getImage_name()"/>
<input type="hidden" name="bluemodel_image_id" value="$!woundProfile.wound.getLocation_image_id()"/>
<input type="hidden" id="assessments" name="assessments" value=""/>
<input type="hidden" name="position" value="$!woundProfile.wound.getWound_location_position()"/>
<input type="hidden" name="view" value="$!woundProfile.wound.location_image.getView()"/>
<input type="hidden" name="page"/>
<input type="hidden" name="$form.getTokenName()" value="$form.getToken()"/>
<input type="hidden" name="cancel" id="cancel" value=""/>
<div id="main">
<p>&nbsp;</p>
    <div id="leftColumn" style="width:330px;">
        <div class="section" style="width:330px;">
            <p class="blue"><label class="title" >$text.get("pixalere.woundprofile.form.start_date")</label> <span  id="startDate" class="">$!wound_start_date</span></p>
            <p class="blue"><label class="title">$text.get("pixalere.last_update")</label> #if($!user_signature) <span id="signature" class="hintanchor" onmouseover="showhint('$!profName', this, event, '250px')">$!user_signature</span> #else <span class="smallNote">$text.get('pixalere.na')</span> #end </p>

            #if("$!config.get('showReviewDone')" == "1")
                    <p class="blue"><label class="title">#ip_st($components.get('review_done'))$text.get("pixalere.patientprofile.form.review_done")</label>#onoff("$text.get('pixalere.yes')" "$text.get('pixalere.no')" "review_done" "$!woundProfile.getReview_done()" "" "") </p>
                    #end
                <p class="blue"><label class="longLeftLabel title" style="width:240px;">#ip_st($components.get('wound_location_detailed'))$text.get("pixalere.woundprofile.form.woundlocation")#ip_end($components.get('wound_location_detailed'))<label class="requiredText">*</label>  #if($text.get("pixalere.offline")!="1")<button type="button" onclick="javascript: enableWoundLocationDropdowns($!showAnterior,$!showLateral,$!showOther,$!showPosterior,'$!woundProfile.wound.getActive()');" id="lock" class="ui-icon ui-icon-locked" style="width:14px;height:16px;border:0;display:inline;cursor:pointer;background-color:transparent;"></button>#end </label>
                    #if("$!strShowFull"=="1")
                        <label class=" title" style="margin-left:10px;width: 40px;text-align:center;">$text.get("pixalere.woundprofile.form.full")</label>
                    #end
                    #if("$!strShowLeftRight"=="1")
                        <label class=" title" style="margin-left:10px;width: 40px;text-align:center;">$text.get("pixalere.woundprofile.form.left")</label>
                    #end
                    #if("$!strShowMidline"=="1")
                        <label class=" title" style="margin-left:10px;width: 40px;text-align:center;">$text.get("pixalere.woundprofile.form.midline")</label>
                    #end
                    #if("$!strShowLeftRight"=="1")
                        <label class=" title" style="margin-left:10px;width: 40px;text-align:center;">$text.get("pixalere.woundprofile.form.right")</label>
                    #end                            
                </p>



            #if("$showAnterior" == "1")
            <p class="blue">
            #locationimagesdropdown("anterior" "A" "$!woundProfile.wound.location_image.getView()" "$!woundProfile.wound.getWound_location_position()" "$!woundProfile.getWound().getWound_location()" "$!woundProfile.wound.getActive()" "$!strShowFull" "$!strShowLeftRight" "$!strShowMidline")
            </p>
            #end
            #if("$showPosterior" == "1")
            <p class="blue">
            #locationimagesdropdown("posterior" "P" "$!woundProfile.wound.location_image.getView()" "$!woundProfile.wound.getWound_location_position()" "$!woundProfile.getWound().getWound_location()" "$!woundProfile.wound.getActive()" "$!strShowFull" "$!strShowLeftRight" "$!strShowMidline")
            </p>
            #end
            #if("$showLateral" == "1")
            <p class="blue">
            #locationimagesdropdown("lateral" "L" "$!woundProfile.wound.location_image.getView()" "$!woundProfile.wound.getWound_location_position()" "$!woundProfile.getWound().getWound_location()" "$!woundProfile.wound.getActive()" "$!strShowFull" "$!strShowLeftRight" "$!strShowMidline")
            </p>
            #end
            #if("$showOther" == "1")
            <p class="blue">
            #locationimagesdropdown("other" "O" "$!woundProfile.wound.location_image.getView()" "$!woundProfile.wound.getWound_location_position()" "$!woundProfile.getWound().getWound_location()" "$!woundProfile.wound.getActive()" "$!strShowFull" "$!strShowLeftRight" "$!strShowMidline")
            </p>
            #end
            #set ($tab_cnt=0)
            #set ($ost_cnt=0)
            #set ($brn_cnt=0)
        <div id="blueman_container">
            <div id="bluemantab">
                <ul>
                    #if("$config.get('allowWoundCare')" == "1")#set ($tab_cnt=$tab_cnt+1)<li><a href="#woundDiv" class="tabText" #if( "$config.get('alphaDraggable')" != "1") onClick='$(".touchScreen").removeClass("touchScreen");$("#dragA").addClass("touchScreen");$("#alpha_move").val("dragA");'#end>$text.get('pixalere.woundcarealpha_prefix')</a></li>#end
                    #if("$config.get('allowIncision')" == "1")#set ($tab_cnt=$tab_cnt+1)<li><a href="#incisionDiv" class="tabText" #if( "$config.get('alphaDraggable')" != "1") onClick='$(".touchScreen").removeClass("touchScreen");$("#dragTAG").addClass("touchScreen");$("#alpha_move").val("dragTAG");'#end>$text.get('pixalere.config.allowIncision')</a></li>#end
                    #if("$config.get('allowDrain')" == "1")#set ($tab_cnt=$tab_cnt+1)<li><a href="#drainDiv" class="tabText" #if( "$config.get('alphaDraggable')" != "1") onClick='$(".touchScreen").removeClass("touchScreen");$("#dragTD").addClass("touchScreen");$("#alpha_move").val("dragTD");'#end>$text.get('pixalere.config.allowDrain')</a></li>#end
                    #if("$config.get('allowStoma')" == "1")#set ($ost_cnt=$tab_cnt)#set ($tab_cnt=$tab_cnt+1)<li id="stomaTab"><a href="#stomaDiv" class="tabText" #if( "$config.get('alphaDraggable')" != "1") onClick='$(".touchScreen").removeClass("touchScreen");$("#dragF").addClass("touchScreen");$("#alpha_move").val("dragF");'#end>$text.get('pixalere.config.allowStoma')</a></li>#end
                    #if("$config.get('allowBurn')" == "1")#set ($brn_cnt=$tab_cnt)<li><a href="#burnDiv" class="tabText" #if( "$config.get('alphaDraggable')" != "1") onClick='$(".touchScreen").removeClass("touchScreen");$("#dragBURN").addClass("touchScreen");$("#alpha_move").val("dragBURN");'#end>$text.get('pixalere.config.allowBurn')</a></li>#end
                    #if("$config.get('allowSkin')" == "1")#set ($tab_cnt=$tab_cnt+1)<li><a href="#skinDiv" class="tabText" #if( "$config.get('alphaDraggable')" != "1") onClick='$(".touchScreen").removeClass("touchScreen");$("#dragSKIN").addClass("touchScreen");$("#alpha_move").val("dragSKIN");'#end>$text.get('pixalere.config.allowSkin')</a></li>#end


                </ul>
                <p>
                #if("$config.get('allowWoundCare')" == "1")<div id="woundDiv">#parse("/vm/alphas/wound.vm")</div>#end
                #if("$config.get('allowDrain')" == "1")<div id="drainDiv">#parse("/vm/alphas/drain.vm")</div>#end
                #if("$config.get('allowStoma')" == "1")<div id="stomaDiv">#parse("/vm/alphas/stoma.vm")</div>#end
                #if("$config.get('allowIncision')" == "1")<div id="incisionDiv">#parse("/vm/alphas/incision.vm")</div>#end
                #if("$config.get('allowBurn')" == "1")<div id="burnDiv">#parse("/vm/alphas/burn.vm")</div>#end
                #if("$config.get('allowSkin')" == "1")<div id="skinDiv">#parse("/vm/alphas/skin.vm")</div>#end
                <br/></p>




            </div>
            <p class="small_font">$text.get('pixalere.woundprofile.form.dragdrop')</p>
            <div id="blueman" style="background: url('images/bluemodel/#if("$!woundProfile.wound.getImage_name()" == "")empty_bluemodel.jpg#else$woundProfile.wound.getImage_name()#end')">
                <div id="bluemodeltitle" style="margin-top: 0px; margin-bottom: px;  width: 327px; height: 17px;">#if($!woundProfile.wound.getImage_name().indexOf("_right_") != -1) $text.get('pixalere.woundprofile.form.bluemodel_title_right') #elseif($!woundProfile.wound.getImage_name().indexOf("_left_") != -1) $text.get('pixalere.woundprofile.form.bluemodel_title_left') #elseif($woundProfile.wound.getImage_name().indexOf("_bil_")!=-1) $!text.get("pixalere.woundprofile.form.bluemodel_bilateral_title") #end</div>
                <div id="blueman_grid" #if("$config.get('alphaDraggable')" != "1")onclick="touchScreen(event,'$config.get("alphaDraggable")')"#end style=" width: 327px; height: 232px;"></div><!-- this is the grid we're allowed to drop Alphas into -->
            </div>

        </div><!-- End of blueman container -->
      </div>
   </div><!-- End of section left -->
    <div id="middleColumn"  style="width:315px;">
        <div class="section"  style="width:315px;">
            <p class="blue">
            <label class="leftLabel title">#ip_st($components.get('reason_for_care'))$text.get('pixalere.woundprofile.form.reason_for_care')</label>
            <br/>
            <span class="padding_vert">
                <textarea name="reason_for_care" class="small editor #isRequired($!components.get('reason_for_care'))" >$!woundProfile.reason_for_care</textarea>&nbsp;
            </span>
            </p>
        </div>
        <div class="section"  style="width:315px;">
            <p class="blue nomargin"><label class=" title" for="etiology">#ip_st($components.get('etiology'))$text.get('pixalere.woundprofile.form.etiology')#showRequiredStar($!components.get('etiology'))</label>
            </p>#select_by_alpha_multiplelist("etiology" $!woundProfile.getEtiologies() $list_wound $list_ostomy $list_postop $list_drains $list_burn $list_skin $just_alphas $healed_alphas "$!config.get('allowMultipleEtiologies')" "$text.get('pixalere.woundprofile.form.etiology')" "$text.get('pixalere.wound')")
            #if("$!components.get('wound_acquired').hide_gui" == "0")
                <p class="blue nomargin"><label class=" title" for="wound_acquired">#ip_st($components.get('wound_acquired'))$text.get('pixalere.woundprofile.form.obtained')#showRequiredStar($!components.get('wound_acquired'))</label>
               </p>#select_by_alpha("wound_acquired" $!woundProfile.getWound_acquired() $wound_acquired $just_alphas  "0" "$text.get('pixalere.woundprofile.form.obtained')" "$text.get('pixalere.wound')")
            #end

            #if("$config.get('showPressureUlcer')" == "1")
                <label class="leftLabel title" >#ip_st($components.get('pressure_ulcer'))$text.get("pixalere.woundprofile.form.pressure_ulcer_stage")<label id="pressure_ulcerRequired"></label></label>
                     <select name="pressure_ulcer" id="pressure_ulcer" class="rightColumn">#foreach($p in $!pressure_ulcer)<option value="$p.getId()" #if("$woundProfile.getPressure_ulcer()" == "$p.getId()")#end>$p.getName($language)</option>#end</select>

            #else
             <input type=hidden name=pressure_ulcer value=0>
            #end
        </div>
    </div>  
    <div id="rightColumn" style="width:315px;">
            <div class="section"  style="width:315px;">
            #if("$config.get('allowCCACReporting')" == "1")  
             <p class="blue" id="root_cause" style="margin-top:10px"><label class="leftLabel title" style="width:240px">#ip_st($components.get('root_cause_addressed'))$text.get('pixalere.nursingcareplan.form.root_cause_addressed')</label>#onoffcomment("$text.get('pixalere.yes')" "$text.get('pixalere.no')" "root_cause_addressed" "$woundProfile.root_cause_addressed" "$!woundProfile.root_cause_addressed_comments" "" "")<br/>
                        </p>
              #end
            </div>
            <div class="section"  style="width:315px;">
                   <p class="blue nomargin" style="margin-top:10px"><label class=" title"  for="goals">#ip_st($components.get('goals'))$text.get('pixalere.woundprofile.form.goals')#showRequiredStar($!components.get('goals'))</label>
                    </p>#select_by_alpha_multiplelist("goals" $!woundProfile.getGoals() $!wound_goals $!ostomy_goals $!incision_goals $!drain_goals $!burn_goals $!skin_goals $just_alphas $healed_alphas "$!config.get('allowMultipleGoals')" "$text.get('pixalere.woundprofile.form.goals')" "$text.get('pixalere.wound')")
            </div>
            <div class="section"  style="width:315px;">
                <div id="showForOstomyPostOp">
                    #contentBlock($components.get('operative_procedure_comments') $text.get('pixalere.woundprofile.form.operative_procedures') '$!woundProfile.operative_procedure_comments$!woundProfile.getSurgeon()$!{month_surgerydate}$!{day_surgerydate}$!{year_surgerydate}'  'blue') 
                        <label class=" ">#ip_st($components.get('operative_procedure_comments'))$text.get('pixalere.woundprofile.form.operative_procedure_comments')</label>
                        <br/><textarea name="operative_procedure_comments" class="small editor" >$!woundProfile.operative_procedure_comments</textarea>&nbsp;
                        <br/><label class="leftLabel " >#ip_st($components.get('surgeon'))$text.get("pixalere.woundprofile.form.surgeon")</label> <input type="text" id=surgeon name="surgeon" class="textfield" value="$!woundProfile.getSurgeon()"  size="25" maxlength="25"/><br/>
                        <label class="leftLabel " >#ip_st($components.get('date_surgery'))$text.get('pixalere.woundprofile.form.date_surgery')</label>#date("date_surgery" $month_surgerydate $day_surgerydate $year_surgerydate "" "0" "")
                    #contentBlockEnd()
                </div>
                <div id="showForOstomy">
                    #contentBlock($components.get('type_of_ostomy') $text.get('pixalere.woundprofile.form.type_of_ostomy') $!unserializeTypeOfOstomy 'blue') 
                        #checkbox("type_of_ostomy"  $type_of_ostomy $!unserializeTypeOfOstomy "" "0" "" )
                    #contentBlockEnd()
                    #contentBlock($components.get('marking_prior_surgery') $text.get('pixalere.woundprofile.form.marking_prior_surgery') $!woundProfile.marking_prior_surgery 'blue') 
                        #onoff("$text.get('pixalere.yes')" "$text.get('pixalere.no')" "marking_prior_surgery" $!woundProfile.marking_prior_surgery "" "")
                    #contentBlockEnd()
                    #contentBlock($components.get('teaching_goals') $text.get('pixalere.woundprofile.form.teaching_goals') $!woundProfile.teaching_goals 'blue') 
                            #select("teaching_goals" $teaching_goals $!woundProfile.teaching_goals "" "" "" "1")
                    #contentBlockEnd()
                </div>
            </div>
            <div class="section"  style="width:315px;">
                <div id="showForBurn">
                    <p class="blue">
                        <label class="title">$text.get("pixalere.woundprofile.form.burn_tbsa")</label><br/>
                        <label class="blue">#ip_st($components.get('preliminary_tbsa'))$text.get('pixalere.woundprofile.form.preliminary_tbsa')<span class="required">*</span></label>#date("preliminary_date" $month_preliminarydate $day_preliminarydate $year_preliminarydate "" "0" "")<br/>
                        <tr><td><label class="blue" >#ip_st($components.get('final_tbsa'))$text.get('pixalere.woundprofile.form.final_tbsa')</label>#date("final_date" $month_finaldate $day_finaldate $year_finaldate "" "0" "")<br/><br/>
                        <br/>

                                <image src="images/Alphas/burn_draw_y.gif"  class="opacity30">&nbsp;<label class="blue">$text.get('pixalere.woundprofile.burn.yellow'):</label><img src="images/spacer.gif" height="20"><label id="burn_yellow" class="blue"></label><br/>
                                <image src="images/Alphas/burn_draw_o.gif"  class="opacity30">&nbsp;<label class="blue">$text.get('pixalere.woundprofile.burn.orange'):</label><img src="images/spacer.gif" height="20"><label id="burn_orange" class="blue"></label><br/>
                                <image src="images/Alphas/burn_draw_r.gif"  class="opacity30">&nbsp;<label class="blue">$text.get('pixalere.woundprofile.burn.red'):</label><img src="images/spacer.gif" height="20"><label id="burn_red" class="blue"></label><br/>
                                <label class="blue">$text.get('pixalere.woundprofile.burn.total_tbsa'):</label><img src="images/spacer.gif" height="20"><label id="burn_total_tbsa" class="blue"></label><br/>

                    </p>
                </div>
            </div><!-- end of section -->
     </div><!-- end of rightcolumn -->
</div>
</form>
<p style="clear:both;width:100%;">#if("$config.get('showSaveButton')"=="1")<input type="button" name="save" class="blue_button button" onclick="javascript:document.form.page.value='wound';selectAll();document.form.submit();" value="$text.get('pixalere.temporarysave')"><br/><br/>#end
            <p><label class="requiredText">$text.get("pixalere.indicates_required_field")</label></p>
            <p id="force_redraw">&nbsp;</p>

<script  language="JavaScript" type="text/javascript" >

    document.getElementById("showForOstomyPostOp").style.display='none';
    document.getElementById("showForOstomy").style.display='none';
    document.getElementById("showForBurn").style.display='none';
    if(document.getElementById("showForWound")){
        document.getElementById("showForWound").style.display='none';
    }

    
    $!showOstomyJS
    $!showOstomyPostOpJS
    $!showBurnJS
    if(document.getElementById("showForWound")){
        $!showWoundJS
    }
    #set($current_selected="")

    #if("$!woundProfile.wound.location_image.getView()"=="A")
        #set($current_selected="anterior")
    #end
    #if("$!woundProfile.wound.location_image.getView()"=="P")
        #set($current_selected="posterior")
    #end
    #if("$!woundProfile.wound.location_image.getView()"=="L")
        #set($current_selected="lateral")
    #end
    #if("$!woundProfile.wound.location_image.getView()"=="O")
        #set($current_selected="other")
    #end

    #if($current_selected!="")
        var intBlueModel=-1;
        var arrValues=arr_$current_selected;


            #if("$!woundProfile.wound.getActive()"!="1" )
            fillAllLocationsDropdowns(document.form.anterior,document.form.posterior,document.form.lateral,document.form.other);
            fillLocationsDropDown(document.form.$current_selected,arr_$current_selected,"$!woundProfile.wound.location_image.getLocation()");
            setLocationRadios(document.form.rad_$current_selected,document.form.$current_selected,arr_$current_selected,false);

            #if("$!strShowFull"=="1")
                document.form.rad_$current_selected[$intRadioFull].checked=(document.form.rad_$current_selected[$intRadioFull].value.indexOf("$!woundProfile.wound.getWound_location_position()")!=-1);
            #end
            #if("$!strShowLeftRight"=="1")
                document.form.rad_$current_selected[$intRadioLeft].checked=(document.form.rad_$current_selected[$intRadioLeft].value.indexOf("$!woundProfile.wound.getWound_location_position()")!=-1);
            #end
            #if("$!strShowMidline"=="1")
                document.form.rad_$current_selected[$intRadioMidline].checked=(document.form.rad_$current_selected[$intRadioMidline].value.indexOf("$!woundProfile.wound.getWound_location_position()")!=-1);
            #end
            #if("$!strShowLeftRight"=="1")
                document.form.rad_$current_selected[$intRadioRight].checked=(document.form.rad_$current_selected[$intRadioRight].value.indexOf("$!woundProfile.wound.getWound_location_position()")!=-1);
            #end
        #end
    #else
        var intItemsCount=fillAllLocationsDropdowns();
        //  resetDropdowns('',intItemsCount);
    #end

    
    
    function hideOstomyTab(hide){
        #if("$config.get('allowStoma')" == "1")
        if(hide==1){
            $('#bluemantab').tabs('disable', $ost_cnt);
        }else{
            $('#bluemantab').tabs('enable', $ost_cnt);
        }
        #end
    }
    function hideBurnTab(hide){
        
        if(hide==1){
           // $('#bluemantab').tabs('disable', $brn_cnt);
        }else{
            
            //$('#bluemantab').tabs('enable', $brn_cnt);
        }
    }
    var strAlert="";
    if(document.form.goals.length > 0){
        if(document.form.goals.options[0].text.indexOf("Wound Profile: ")>-1)
        {
            strAlert="The Goal of Care for this wound profile was set to "+document.form.goals.options[0].text.substring(15)+", but it needs to be set for each alpha individually in this new version of Pixalere.";
            document.form.goals.options[0]=null;
        }
    }
    if(document.form.etiology.length > 0){
        if(document.form.etiology.options[0].text.indexOf("Wound Profile: ")>-1)
        {
            if(strAlert!="") strAlert=strAlert+" ";
                strAlert=strAlert+"The Etiology for this wound profile was set to "+document.form.etiology.options[0].text.substring(15)+", but it needs to be set for each alpha individually in this new version of Pixalere.";
                document.form.etiology.options[0]=null;

        }
    }
    if(strAlert!=""){
        alert(strAlert+" Please update this.");
    }

    
</script>
<script  language="JavaScript" type="text/javascript" >
$(function() {
#if("$config.get('allowIncision')" == "1")
if(tagAlphas.length != 9 || "$config.get('requireIncisionTag')" == "0"){
  $("div.incsdraggable").show();
}else{
  $("div.incsdraggable").hide();
}
#end
    if(document.form.location.value == 'Full Back' || document.form.location.value == 'Abdomen (Female)'|| document.form.location.value == 'Abdomen (Male)' || document.form.location.value == 'Abdomen' || document.form.location.value == '$text.get('pixalere.burn.area.ab')' || document.form.location.value == '$text.get('pixalere.burn.area.abf')'  || document.form.location.value == '$text.get('pixalere.burn.area.abm')' ){
        #if("$config.get('allowStoma')" == "1")$('#bluemantab').tabs('enable', $ost_cnt);#end
        //$('#bluemantab').tabs('disable',$brn_cnt);
        $('#blueman_grid').height(232);$('#blueman').height(266);
    }else if(document.form.location.value == 'Full body'){
        $('#blueman_grid').height(463);$('#blueman').height(497);
        //$('#bluemantab').tabs('enable',$brn_cnt);
        #if("$config.get('allowStoma')" == "1")$('#bluemantab').tabs('disable', $ost_cnt);#end
    }
    else {
        $('#blueman_grid').height(232);$('#blueman').height(266);
        //$('#bluemantab').tabs('disable',$brn_cnt);
        
        #if("$config.get('allowStoma')" == "1")$('#bluemantab').tabs('disable', $ost_cnt);#end
    }
});

</script>
<!-- testing purposes only -->
<a href="#" onclick="javascript:placeAlpha('dragA',25,57,cloned,'$config.get("alphaDraggable")','');" id="alpha167"></a>
<a href="#" onclick="javascript:swap(document.img101,101);" id="alpha101"></a>
<a href="#" onclick="javascript:swap(document.img40,40);" id="alpha40"></a>
<a href="#" onclick="javascript:swap(document.img106,106);" id="alpha106"></a>



#parse ("/vm/footer.vm")