<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<LINK HREF="common/pixalere.css" REL="stylesheet" TYPE="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>$text.get('pixalere.info_popup.information_popup')</title>
<script language="JavaScript" type="text/javascript" >
    function submitMe() {
        #if($form_name)
            window.opener.document.${form_name}.submit();
        #else
            window.opener.document.form.submit();
		#end
        window.close();
        }
	function cancelSubmit() {
        window.close();
	}
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>
#set ($INFO = "#3D3DA3")
#set ($ALERT = "#DF1B0A")
#set ($SAVED = "#6BE596")
#set ($CONFIRM = "#FAE535")
#set ($INFO_TEXT = "** Information **")
#set ($ALERT_TEXT = "** Attention **")
#set ($SAVED_TEXT = "** Saved **")
#set ($EXCEPTION_TEXT = "** Exception **")
#set ($CONFIRM_TEXT = "** Confirm **")
#set ($INFO_FONT = "#5B5BDC")
#set ($ALERT_FONT = "#B82013")
#set ($SAVED_FONT = "#119540")
#set ($CONFIRM_FONT = "#D0B310")

#set ($title="")
#set ($header_colour="")
#set ($font_colour="")

#if($type == "warn" || $type == "exception" || $type=="warn2")
    #set ($title=$ALERT_TEXT)
    #set ($header_colour=$ALERT)
    #set ($font_colour=$ALERT_FONT)
    #if($type == "exception")
        #set ($title=$EXCEPTION_TEXT)
    #end
#elseif($type == "info")
    #set ($title=$INFO_TEXT)
    #set ($header_colour=$INFO)
    #set ($font_colour=$INFO_FONT)
#elseif($type == "saved")
    #set ($title=$SAVED_TEXT)
    #set ($header_colour=$SAVED)
    #set ($font_colour=$SAVED_FONT)
#elseif($type == "confirm" || $type == "rconfirm")
    #set ($title=$CONFIRM_TEXT)
    #set ($header_colour=$CONFIRM)
    #set ($font_colour=$CONFIRM_FONT)
#end

<body >
<form name="form" action="">
<table width="100%" cellpadding="1" cellspacing="0" border="0" bgcolor="$header_colour">
  <tr>
    <td><table width="100%"  cellpadding="0" cellspacing="0" border=0 bgcolor="#FFFFFF">
      <tr>
        <td  align="right" valign="middle"></td>
        <td  valign="middle"></td>
        <td align=right><a href="#" onclick="self.close();" id="closeWindow"><img src="images/closepopup.gif" border=0/></td>
      </tr>
      <tr>
        <td  valign="middle" align="center" colspan="3"><strong><span class="infostyle1" style="color:$font_colour;font-size: 16px;"> 
            
               $title
            
            <br/>
            </span></strong>
        </td>
      </tr>
    <tr>
        <td  align="center" valign="middle" colspan=3><img src="images/infoboxes.gif" /></td>
      </tr>
      <tr >
        <td width="100%" colspan="3" height="1" #if($type == "exception" && $type == "info") align="left" #else align="left" #end><span class="infostyle3"><br/><br/>

#if($type == "exception") $info.description
<br/><br/>
<script  language="JavaScript" type="text/javascript" >

       $(document).ready(function() {


          $('#form2').validate({
            rules: {
                name : "required",
                summary : "required",
                body : "required",
                email: {required:true,email:true}
            },
            messages: {summary: "$text.get('pixalere.issue.error.summary')",name: "$text.get('pixalere.issue.error.name')",email: "$text.get('pixalere.issue.error.email')",body: "$text.get('pixalere.issue.error.body')"},
            errorLabelContainer:  $('div#errors_issue'),
            wrapper: 'p',
            errorClass: "error",
            invalidHandler: function(form, validator) {
                    $("div#errors_issue").show();
            },
            unhighlight: function(element, errorClass) {
                    if (this.numberOfInvalids() == 0) {
                        $("div#errors_issue").hide();
                    }
                    $(element).removeClass(errorClass);
            }
        });
    });

    function submitIssue(){
        $('#form2').submit();

    }

</script>
<div class="ui-widget ui-state-error ui-corner-all" id="errors_issue" style="margin-bottom: 10px;">
	<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>

</div>
#if("${send_email}" == "yes")
    <div class="ui-widget ui-state-error ui-corner-all" id="errors_create" style="margin-bottom: 10px;">
	<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>
        Issue was successfully sent.
    </div>
    <a href="javascript:window.close();" class="bluelinks">Close Window</a>
#else
    <form action="SendEmail.do" method="post" name="form2" id="form2">

        <dl><dt id="issue4">Your Name:</dt><dd><input type="text" name="name" id="name" value="$!{userVO.getFullName()}" size="30"/></dd></dl>
        <dl><dt id="issue1">Your Email:</dt><dd><input type="text" name="email" id="email" value="$!{userVO.getEmail()}" size="30"/></dd></dl>
        <dl><dt id="issue2">Summary (max 50 characters) :</dt><dd><input type="text" name="summary" id="summary" width="50em" maxlength="50"></textarea></dd></dl>
        <dl><dt id="issue2">Detailed Desc.:</dt><dd><textarea name="body" id="body" style="width:400px;height:200px;">\n\n\n$info.description </textarea></dd></dl>
        <dl><dt id="issue3"></dt><dd><input type="button" name="submit2" value="Send Issue" onclick="submitIssue();"/></dd></dl>
            <label class="mainheader">Example Issue:</label>
            <pre>
                Your Name:  John Doe
                Your Email: john@doe.com
                Summary: Unable to save Patient
                Detailed Desc.: The 'Save my Electronic signature' button on the summary page is disabled and I'm not able to save Patient # 75.
            </pre>
    </form>
#end
<script  language="JavaScript" type="text/javascript" >
$("div#errors_issue").hide();
</script>

#else $info.getDescription() <br/><br/>
#foreach($i in $definitions)
    <ul>
    <li><label class="title">$!i.getName($language): </label>$!i.getDefinition($language)</li>
    </ul>
#end
#end</span></td></tr>
        #if($type == "confirm") <tr><td width="100%" colspan="3" align="center"><span class="infostyle3"><input type="button" name="ok" class="button" onclick="submitMe();" value="$text.get('pixalere.ok')"> <input type="button" name="cancel" class="button" onclick="cancelSubmit();" value="$text.get('pixalere.cancel')"></span>  </td></tr>
        #elseif($type == "rconfirm")<tr><td width="100%" colspan="3" align="center"><span class="infostyle3" ><input type="button" name="cancel" id="cancel" class="button" onclick="submitMe();" value="$text.get('pixalere.go')"> <input type="button" name="ok" id="ok" class="button" onclick="cancelSubmit();" value="$text.get('pixalere.stay')"> </span> </td></tr>#end
        </tr>
    </table><br/><br/></td>
  </tr>

</table>
</form>
#if($field == "success")
<script language="JavaScript" type="text/javascript">
    window.opener.form.submit();
</script>
#end
<script language="JavaScript" type="text/javascript">
    self.focus();
</script>
</body>
</html>
