#parse ("/vm/header.vm")
<script language="JavaScript" type="text/javascript" >function selectAll(){}</script>
#pageheader($text.get('pixalere.admin.form.pageheader'))
<form action="AdminSetup.do" method="post">
<table width="710" border="0" cellspacing="0" cellpadding="0">
#if("$text.get('pixalere.offline')"=="0")
<tr>
	<td width="100%" class="mainheader">
		<br/>$text.get("pixalere.admin.form.administration_title")
		#************************
		* Toolbar
		************************#

		#adminmenu($userVO)
	</td>
</tr>
#end
</form>
</table>
 <form action="AdminSetup.do" method="post" name="cmdform">
<input type=hidden name=list_action value="">
	<input type=hidden name=choice>

</form>

<form action="AdminSetup.do" method="post" name="form">
<input type="hidden" name="page" value="">
</form>
<br/>
#parse ("/vm/footer.vm")
