<script language="JavaScript" type="text/javascript" >
function verifyImport(){
    
    $("#professional_form_import").submit();
}
$(function() {
  $('div#errors_import').hide();
 
  $('#professional_form_import').validate({
        onkeyup: false,
        onclick: false,
        onfocusout: false,
        rules: {
            excel: "required"
        },
        messages: {excel: "$text.get('pixalere.professional.import.error')"},
        errorLabelContainer:  $('div#errors_import'),
        wrapper: 'p',
        errorClass: "error",
        invalidHandler: function(form, validator) {
                $("div#errors_import").show(); $('html,body').animate({scrollTop: $("#top").offset().top},'slow'); 
        },
        unhighlight: function(element, errorClass) {
                if (this.numberOfInvalids() == 0) {
                    $("div#errors_import").hide();
                }
                $(element).removeClass(errorClass);
        }
    });

});
</script>
            
            
                <div class="ui-widget ui-state-error ui-corner-all" id="errors_import" style="margin-bottom: 10px;">
                     <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>
                </div>
		<form action="ProfessionalAdmin.do#importDiv" method="post" name="professional_form_import" id="professional_form_import" autocomplete="off">

		<input type="hidden" name="action" value="import"/>
                <div class="ui-widget"><div class="ui-state-tooltip ui-corner-all" style="padding: .5em .7em;"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 20px 0;"></span>$text.get("professional.import.create_info")</div></div>

                <dl><dt>$text.get('professional.import.file')</dt><dd><input type="file" name="excel" /></dd></dl>

		<dl><dt></dt><dd><input type="button" class="button" value=" $text.get('pixalere.import.professionals') " name="addsubmit" id="addsubmit" onclick="verifyImport();"/></dd></dl>
	</form>

	<table border="0" cellpadding="0" cellspacing="0" id="tableImportProfessional">
	#if($professionalList.size() > 0)
	<tr>
		<td>&nbsp;</td>
		<td class="normal" nowrap><b>$text.get("pixalere.admin.professionalaccounts.form.professional_id_search")</b></td>
		<td width="10"><img src="images/spacer.gif" width="10" height="1"></td>
		
	</tr>
        #end
		#***********************************
		*Professional Listing
		***********************************#
                #foreach( $p in $professionalListImport )
                    <tr>
                    <td>&nbsp;</td>
                    <td class="normal" nowrap>$p</td>
                    <td width="10"><img src="images/spacer.gif" width="10" height="1"></td>
                    </tr>
                #end
    </table>
