#if("$!saved_assign" == "yes")
<script  language="JavaScript" type="text/javascript" >
    $("div#info_assign").show();
 $("#search_form input").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();
        $("#search_form").submit();
    }
   });
</script>

#if($config.get('parisInterface') == "1" && $!parisMessage != "")
    <div class="ui-widget ui-state-tooltip ui-corner-all" id="info_assign" style="margin-bottom: 10px;">
	<span class="ui-icon ui-icon-info" style="float: left; margin: 0 .3em 0 1em;"></span>
        $text.get('pixalere.admin.patientaccounts.form.checkParis')
    </div>
#else
<div class="ui-widget ui-state-error ui-corner-all" id="info_assign" style="margin-bottom: 10px;">
	<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>
        $text.get('pixalere.admin.form.assign_patients_saved')
</div>
#end
#end
#set ($fmt = $config.get("phnFormat").split("-"))

        <table border="0" cellpadding="0" cellspacing="0" id="tablePatientList" style="width:100%">
	#if($patientList.size() > 0)
	<tr bgcolor="#4a8e42">
		<td class="normal" nowrap></td>

		<td width="3" align="right"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>

		<td class="BODY" nowrap style="color:#FFFFFF;font-weight:bold;" ><b>$config.get("appAbb") $text.get("pixalere.pixalere_id")</b></td>

		<td width="3" align="left"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>

		<td class="BODY" align="left" style="color:#FFFFFF;font-weight:bold;"  nowrap><b>$text.get("pixalere.admin.patientaccounts.form.patientname")</b></td>

		<td width="3" align="left"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>
                <td class="BODY" align="left"  style="color:#FFFFFF;font-weight:bold;" nowrap><b>$text.get("pixalere.admin.patientaccounts.form.dob")</b></td>

		<td width="3" align="left"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>
		<td class="BODY" align="left" style="color:#FFFFFF;font-weight:bold;" nowrap><b>$config.get('treatmentLocationName')</b></td>

		<td width="3" align="left"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>


		<td class="BODY" align="left"  style="color:#FFFFFF;font-weight:bold;" nowrap><b>$text.get("pixalere.admin.patientaccounts.form.status")</b></td>
	</tr>

        #end
        #if($patientList.size() == 0 && "$!error" == "")
       <div class="ui-widget ui-state-tooltip ui-corner-all" id="info_assign" style="margin-bottom: 10px;">            <span class="ui-icon ui-icon-error" style="float: left; margin: 0 .3em 0 1em;"></span>
  
        	   $text.get('pixalere.admin.patientaccounts.form.nopatients')
            </div>
       
        #elseif("$!error" != "")
          <div class="ui-widget ui-state-error ui-corner-all" id="info_assign" style="margin-bottom: 10px;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>
        	   $text.get('pixalere.admin.patientaccounts.form.patient_not_found_no_create')
            </div>
        #end
            #foreach($p in $patientList)
                #set ($object = $p.getAccount())
                #if("$config.get('hidePatientsFromSearch')" != "1" || ("$config.get('hidePatientsFromSearch')" == "1" && "$p.isAccess_permission()" == "true") )
		<tr style="border-bottom: 1px solid #4a8e42;text-align:left;">

			<td nowrap valign="top" class="breadcrumb-border" nowrap>
			#if($userVO.getAccess_audit() == 1 && "$text.get('pixalere.offline')"=="0")
                            <input type="button"  style="padding:2px;padding-top:4px;padding-bottom:4px;" name="patient_log_$object.getId()" id="patient_log_$object.getId()" value="$text.get('pixalere.log_audit')" onclick="location.href='LogAuditAdminSetup.do?patient_id=$object.getPatient_id()'"/>
                        #end
                        #if( "$p.isAccess_permission()" == "true" && "$!object.getPatient_id()" != ""  )
				<input type="button" class="button"  style="padding:2px;padding-top:4px;padding-bottom:4px;" value="$text.get('pixalere.view')" id="patient_view_$object.getPatient_id()" onclick="document.cmdform.list_action.value='view';document.cmdform.choice.value='$object.getPatient_id()';document.cmdform.submit();"/>
                        #end
                        
                        #if("$!object.getPatient_id()" != ""  && "$text.get('pixalere.offline')"=="0" )
                            <input type="button" class="button" style="padding:2px;padding-top:4px;padding-bottom:4px;" value="$text.get('pixalere.admin_fnc')" id="patient_admin_$object.getPatient_id()" onclick="document.cmdform.list_action.value='admfnc';document.cmdform.choice.value='$object.getPatient_id()';document.cmdform.submit();"/>
                        #elseif("$!object.getPatient_id()" == "")
                                <input type="button" class="button"  style="padding:2px;padding-top:4px;padding-bottom:4px;" value="$text.get('pixalere.admin.patientaccounts.form.create_pixid')"  id="patient_trans_$object.getId()" onClick="document.cmdform.list_action.value='interface_create';document.cmdform.choice.value='$object.getId()';document.cmdform.submit();">
                        #end
                        #if("$p.isAccess_permission()" == "true" && "$!p.wounds" != "" && "$!p.getActive()" == "1")
                        <select name="wound_id" id="wound_id" class="wound_combo" style="z-index:99;" onchange="document.cmdform.list_action.value='wound';document.cmdform.choice.value=$!object.getPatient_id();document.cmdform.wound_id.value=this.options[this.selectedIndex].value;document.cmdform.submit();">
                        <option value="-1"></option>#foreach($wound in $p.wounds)<option value="$wound.getId()" style="background-color:$bgcolor !important; color:$fontcolor;" $selection>$wound.getName()</option> #end</select>
                        #end
			</td>

			<td width="10" class="breadcrumb-border"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>

			<td class="BOLD breadcrumb-border" valign="top" align="right" nowrap>$!object.getPatient_id()</td>

			<td width="10" class="breadcrumb-border"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>

			<td class="BODY breadcrumb-border" valign="top" align="left" nowrap>$!object.getFirstName() $!object.getLastName()</td>

			<td width="10" class="breadcrumb-border"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>

                        <td class="BODY breadcrumb-border" valign="top" align="left" nowrap>$!object.getDateOfBirthStr()</td>
                        <td width="10" class="breadcrumb-border"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>

                        #set ($treatmentLocation=$object.getTreatmentLocation())

			<td class="BODY breadcrumb-border" valign="top" align="left" nowrap>$!treatmentLocation.getName($language)</td>
			<td width="10" class="breadcrumb-border"><img src="images/spacer.gif" width="10" height="1" alt=""/></td>


                        <td class="BODY breadcrumb-border" valign="top" align="left" nowrap>#if($!object.getAccount_status() == 1) $text.get('pixalere.admitted') #elseif($!object.getAccount_status() == 0) $text.get('pixalere.discharged') #end</td>

                        </tr>
                 #end
            #end
            

			<tr>

				<td height="8" colspan="5"><img src="images/spacer.gif" height="8" alt=""/></td>

			</tr></table>
            #if( "$text.get('pixalere.offline')"=="0" && $patientList.size() > 0 && ("$!config.get('hidePatientAccountModification')" == "0" || "$userVO.access_create_patient" == "1"))
                <div class="ui-widget">
                    <div class="ui-state-tooltip ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                            $text.get('pixalere.admin.patientaccounts.form.create_note'). <input type="button" name="create_new" id="create_new" value="$text.get('pixalere.admin.patientaccounts.form.savecreate')" onclick="document.search_form.id.value='-1';document.search_form.submit();"/> 
                    </div>
                </div>
                #end

<br/><br/>

<script language="javascript" type="text/javascript">
function  disableFields(){


    if((!document.getElementById("id") || document.getElementById("id").value == "") && (!document.getElementById("lastNameSearch") || document.getElementById("lastNameSearch").value == "") && ((!document.getElementById("phnSearch1_2") || document.getElementById("phnSearch1_1").value == "") && (!document.getElementById("phnSearch1_2") || document.getElementById("phnSearch1_2").value == "") && (!document.getElementById("phnSearch1_3") || document.getElementById("phnSearch1_3").value == "")) && (!document.getElementById("otherSearch") || document.getElementById("otherSearch").value == "") && (!document.getElementById("otherSearch") || document.getElementById("mrnSearch").value == "") && (!document.getElementById("parisSearch") || document.getElementById("parisSearch").value == "")){
       document.getElementById('id').disabled=false;
       document.getElementById('lastNameSearch').disabled=false;
        
        #foreach($f in $fmt)
       document.getElementById('phnSearch1_${velocityCount}').disabled=false;
        #end
        document.getElementById('otherSearch').disabled=false;
       #if("$config.get('hidephn2')" == "0")
        document.getElementById('mrnSearch').disabled=false;
       #end
       #if("$config.get('hidephn3')" == "0")
        document.getElementById('parisSearch').disabled=false;
       #end
    }else {
        document.getElementById('id').disabled=true;
       document.getElementById('lastNameSearch').disabled=true;
       #foreach($f in $fmt)
       document.getElementById('phnSearch1_${velocityCount}').disabled=true;
        #end
       document.getElementById('otherSearch').disabled=true;
       #if("$!config.get('hidephn2')" == "0")
        document.getElementById('mrnSearch').disabled=true;
       #end
       #if("$!config.get('hidephn3')" == "0")
        document.getElementById('parisSearch').disabled=true;
       #end
    }
    if(document.getElementById("lastNameSearch").value != ""){
        document.getElementById('lastNameSearch').disabled=false;
    }
    if(document.getElementById("id").value != ""){
        document.getElementById('id').disabled=false;
    }
        #foreach($f in $fmt)
          if(document.getElementById("phnSearch1_${velocityCount}").value != ""){
            #foreach($f2 in $fmt)
                document.getElementById('phnSearch1_${velocityCount}').disabled=false;
            #end
          }
        #end

    if(document.getElementById("otherSearch").value != ""){
        document.getElementById('otherSearch').disabled=false;
    }
    if(document.getElementById("mrnSearch").value != "" && "$!config.get('hidephn2')" == "0"){
        document.getElementById('mrnSearch').disabled=false;
    }
    if(document.getElementById("parisSearch") && document.getElementById("parisSearch").value != "" && "$!config.get('hidephn3')" == "0"){
        document.getElementById('parisSearch').disabled=false;
    }

}
</script>
<div class="ui-widget">
	<div class="ui-state-tooltip ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
		<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>

		$text.get('pixalere.admin.patientaccounts.form.note').

	</div>
</div>
<p>&nbsp;</p>
<form action="PatientAdminSearch.do#searchDiv" method="post" name="search_form"  class="admin_form" id="search_form" autocomplete="off">
                                <input type="hidden" name="action" value="$action"/>


                            
                                <dl>
                                    <dt><label for="id">$config.get("appAbb") $text.get("pixalere.pixalere_id")</label></dt>
                                    <dd><input  name="id" type="text" id="id"  tabindex="1"  value="" onkeypress="return intOnly(event);" onblur="disableFields();"/></dd>
                                </dl>
                            


				<dl>
                                    <dt><label for="lastNameSearch">$text.get("pixalere.admin.patientaccounts.form.lastname")</label></dt>
                                    <dd><input  type="text" name="lastNameSearch" id="lastNameSearch"value="" tabindex="2"   onblur="disableFields();"/></dd>
				</dl>
                               
                                <dl>
                                    <dt><label for="phn1_1" class="opt">$config.get('phn1_name') </label>
                                    </dt>
                                    <dd>
                                        #set ($tab = 2)
                                         #foreach($f in $fmt)
                                            #set ($nextField = ${velocityCount}+1)
                                            #set ($index = ${velocityCount} - 1)
                                            #set ($tab = ${tab} + 1)
                                            <input  type="text"  tabindex="4{tab}" name="phn1_${velocityCount}" id="phnSearch1_${velocityCount}" value="$!phn1_1.get($!{index})" size="$f" maxlength="$f"  onblur="disableFields();" onkeypress="return intOnly(event);" onkeyup="#if($velocityCount != $fmt.size())moveOnMax(this,'phnSearch1_${nextField}');#end"  />&nbsp;&nbsp;
                                        #end
                                        
                                    </dd>
                                </dl>
                                
                                
                                <dl>
                                    <dt><label id="outofprovince_text" for="otherSearch">$text.get("pixalere.admin.patientaccounts.form.otherhealthid")</label></dt>
                                    <dd><input  type="text" name="otherSearch" id="otherSearch" tabindex="7" value="" size="25" onblur="disableFields();"/></dd>
                                </dl>
                                #if("$config.get('hidephn2')" == "0")
                                    <dl>
                                        <dt><label for="phn2" id="mrn">$config.get('phn2_name')</label></dt>
                                        <dd><input  type="text" name="mrnSearch" id="mrnSearch" tabindex="8" value="" size="25" maxlength="25"  onkeypress="return $config.get('phn2_validate')"  onblur="disableFields();"/></dd>
                                    </dl>
                                #else
                                    <input type="hidden" name="mrnSearch" value="">
                                #end
                                #if("$config.get('hidephn3')" == "0")
                                    <dl>
                                        <dt><label for="phn3" id="paris">$config.get('phn3_name')</label></dt>
                                        <dd><input  type="text" name="parisSearch"   id="parisSearch" tabindex="9" value="" size="25" maxlength="25"  onkeypress="return $config.get('phn3_validate')"   onblur="disableFields();"/></dd>
                                    </dl>
                                #else
                                    <input type="hidden" name="parisSearch" value=""/>
                                #end

                                <dl>
                                <dt></dt><dd><input type="submit" name="search_admin" class="button blue_button" id="search_admin" value="$text.get("pixalere.search")" /></dd>
                                </dl>
                         		</form>
       

    <script language="JavaScript" type="text/javascript" >
        function verifyTransfer2(){
            //$("#trans_form").submit();
document.trans_form.submit();
    }
	$(function() {
            $('div#errors_trans').hide();
            $('#trans_form').validate({
                rules: {
                    treatmentLocationPop: "required",

                },
                messages: {treatmentLocationPop: "$text.get('pixalere.admin.professional.error.treatmentlocation')"},
                errorLabelContainer:  $('div#errors_trans'),
                wrapper: 'p',
                errorClass: "error",
                invalidHandler: function(form, validator) {
                        $("div#errors_trans").show();
                },
                unhighlight: function(element, errorClass) {
                        if (this.numberOfInvalids() == 0) {
                            $("div#errors_trans").hide();
                        }
                        $(element).removeClass(errorClass);
                }
            });
            $( "#noaccess_transfer" ).dialog({
                                        autoOpen: false,
			height:240,
                        width:500,
			modal: true,
			buttons: [
				{   text: 'Transfer',
                                    id: 'trans',
                                    click: function() {
					verifyTransfer2();
                                    }
                                }
			]
    });
            $('div#noaccess_transfer').bind('dialogclose', function(event) {
            
               // document.ack_form.submit();
            
            });
        });
$("div#errors_trans").hide();
</script>
<script language="javascript" type="text/javascript">
function fillTreatmentDropdownTransferPop(category,treatObj){
                for(var i=(treatObj.length-1);i>=0;i--) {
                        treatObj.options[i] = null;
                }
                var count=1;
                treatObj.options[0] = new Option("","");
                for (i = 0; i < treatments.length; i++) {
                            if(category.options[category.selectedIndex].value == treatments[i][0]){
                               treatObj.options[count] = new Option(treatments[i][2], treatments[i][1]);
                               count++;
                            }
                }
                if (count==2){
                    treatObj.selectedIndex=1;
                }
                treatObj.disabled=count==1;
        }
</script>
<div id="noaccess_transfer" title="Transfer Patient">
	<p>
        <form action="PatientTransfer.do" method="post" name="trans_form" id="trans_form">
                <input type="hidden" name="$form.getTokenName()" value="$!form.getToken()"/>
                <input type="hidden" name="action" value="transfer"/>
                <input type="hidden" name="patient_id" value=""/>
               <table>
                              <tr><td><label for="treatmentRegion" > &nbsp;$config.get("treatmentCatName")</label><label class="requiredText">*</label>
                              </td>
                            <td>
                               #set ($selectedcat="")
                                <select name="treatmentRegion" size="1" id="treatmentRegionP" onchange="javascript:fillTreatmentDropdownTransferPop(this,document.trans_form.treatmentLocationP);" >#foreach($l1 in $treatmentCats)#set ($locationsfound=false)#set ($selecttext="")#foreach($l2 in $treatmentList2)#if("$l2.getCategoryId()" == "$l1.getId()")#set ($locationsfound=true)#if("$l2.getId()" == "$!select" || ("$!select"=="" && "$selectedcat"==""))#set ($selecttext = 'selected="selected"')#set ($selectedcat="$l1.getId()")#end#end#end#if($locationsfound==true)<option value="$l1.getId()" $selecttext>$l1.getName($language)</option>#end#end#if("$config.get('noTreatmentListID')" == "$select" )<option value="-1" selected="selected">Please select a Treatment Area</option>#end</select>
                                 <script language="javascript" type="text/javascript"> var treatments = new Array( #foreach($l3 in $treatmentList2)#if($velocityCount > 1),#end new Array($l3.getCategoryId(),$l3.getId(),"$l3.getName($language)") #end );  </script>
                                 
                            </td>
                         </tr>
                          <tr>
                              <td><label for="treatmentLocation" > &nbsp;$config.get("treatmentLocationName")</label><label class="requiredText">*</label>
                              </td>
                            <td>
                            #if($uservo.training_flag == 1)
                              <select name="treatmentLocation" tabindex="21"  size="1" id="treatmentLocationP" onchange=""  ><option value="" ></option>#foreach($l4 in $treatmentTraining)#if("$l4.getCategoryId()"=="$selectedcat")<option value="$l4.getId()" #if("$l4.getId()" == "$!select") selected="selected" #end>$l4.getName($language)</option>#end #end </select>
                            #else
                                <select name="treatmentLocation" tabindex="21"  size="1" id="treatmentLocationP" onchange=""  ><option value="" ></option>#foreach($l4 in $treatmentList2)#if("$l4.getCategoryId()"=="$selectedcat")<option value="$l4.getId()" #if("$l4.getId()" == "$!select") selected="selected" #end>$l4.getName($language)</option>#end #end </select>
                            #end
                              
                            </td>
                         </tr>
                  </table>
                
        </form>
</p>

</div>

