#parse ("/vm/header.vm")
<script language="JavaScript" type="text/javascript" >

    tinymce.init({
        selector: "textarea"
    });
               
$(function() {
    $("div#errors").hide();
    $('#resources_form').validate({
                    rules: {name : "required"#if("$!resource_id" == "51"),categoryId: "required",IP4Checker:true,#end#if("$!resource_id" == "28" || "$!resource_id" == "25"  || "$!resource_id" == "35"),report_value : "required"#end},
                    messages: {IP4Checker: "$text.get('pixalere.admin.resources.form.error.ip4checker')",name: "$text.get('pixalere.admin.resources.form.error.treatmentcat')"#if("$!resource_id" == "28"),report_value:"Report Value is required for DCF.  Enter the # of days in a week your dressing changes occur.   For instance, Q7 = 1, BID = 21, More then weekly, or as needed = 0"#end#if("$!resource_id" == "35"),report_value:"Report Value is required for Wound Bed. Enter the PUSH scale score for your value.  Enter 0 if none."#end#if("$!resource_id" == "28"),report_value:"Report Value is required for Exudate Amount. Enter the PUSH scale score for your value.  Enter 0 if none."#end},
                    errorLabelContainer:  $('div#errors'),
                    wrapper: 'p',
                    errorClass: "error",
                    invalidHandler: function(form, validator) {
                            $("div#errors").show(); $('html,body').animate({scrollTop: $("#top").offset().top},'slow'); ;
                    },
                    unhighlight: function(element, errorClass) {
                            if (this.numberOfInvalids() == 0) {
                                $("div#errors").hide();
                            }
                            $(element).removeClass(errorClass);
                    }
     });
});
function selectAll(){}

function verify()
{
  document.form.submit();
}


function verifyP(){
  $("#content_form").submit();
}
</script>
#pageheader("$text.get('pixalere.admin.form.pageheader') - $text.get('pixalere.admin.form.manageresources')")

<div class="ui-widget ui-state-error ui-corner-all" id="errors" style="margin-bottom: 10px;">
  <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 .3em 0 1em;"></span>

</div>
<form action="ResourcesAdminSetup.do" method="post" name="resources" id="resources_form">
<input type="hidden" name="selectResource" value="yes"/>
<p>

<select name="resourceMenu" class="textfield">
      <option value=""></option>
    <option value="215">Reminder Types</option>
    <option value="205">Verbal Patient Consent</option>
      <option value="169">Patient: Discharge Reason</option>
      <option value="1">Patient Profile: Funding Source</option>
      <option value="4">Patient Profile: Patient Residence</option>
      <option value="41">Patient Profile: Co-morbidities - Endocrine/Metabolic/Nutritional</option>
      <option value="42">Patient Profile: Co-morbidities - Heart/Circulation</option>
      <option value="43">Patient Profile: Co-morbidities - Musculoskeletal</option>
      <option value="44">Patient Profile: Co-morbidities - Neurological</option>
      <option value="45">Patient Profile: Co-morbidities - Psychiatric/Mood</option>
      <option value="46">Patient Profile: Co-morbidities - Pulmonary</option>
      <option value="47">Patient Profile: Co-morbidities - Sensory</option>
      <option value="48">Patient Profile: Co-morbidities - Infections</option>
      <option value="49">Patient Profile: Co-morbidities - Other</option>
      <option value="6">Patient Profile: Interfering Factors</option>
      <option value="165">Patient Profile: Interfering Medications</option>
      <option value="7">Patient Profile: Gender</option>
      <option value="13">Patient Profile: Albumin</option>
      <option value="14">Patient Profile: Pre Albumin</option>
      <option value="16">Patient Profile: Investigations</option>
      <option value="195">Patient Profile: External Referrals</option>
      <option value="196">Patient Profile: Arranged</option>
    <option value="216">Patient Profile: Expected Risk of  Life</option>
    <option value="265">Visit Type </option>
    <option value="217">Vital Signs: Blood Pressue - Arm</option>
    <option value="218">Vital Signs: Blood Pressue - Position</option>
    <option value="219">Vital Signs: Blood Pressue - Pulse Type</option>
    <option value="220">Vital Signs: Temperature Location</option>

    #if($config.get("medRisk") == 1)

      <option value="206">MedRat: Adherence</option>
      <option value="214">MedRat: Adherence Chaotic</option>
    <option value="207">MedRat: Regime</option>
      <option value="208">BPMH: Route</option>
      <option value="209">BPMH: Frequency</option>
      <option value="210">BPMH: Source</option>
      <option value="211">BPMH: Discrepancy</option>
      <option value="212">BPMH: Type</option>
      <option value="213">BPMH: States</option>
      <option value="214">Reminder Types</option>
    <option value="222">eMar: Administered By</option>
    <option value="223">eMar: Solution</option>
    <option value="224">eMar: Route</option>
    <option value="225">eMar: Method</option>
    <option value="266">eMar: Emergency Planning</option>
    <option value="267">eMar: Not Given Reason</option>
    <option value="226">dMar: Scale</option>
    <option value="227">Pain Profile: ADL</option>
    <option value="229">Pain Profile: Quality of Pain</option>
    <option value="231">Pain Profile: Frequency</option>
    <option value="232">Pain Profile: Symptoms</option>
    <option value="230">Pain Profile: Non Pharma Intervention</option>
    <option value="233">PCA Pain Pump: Route</option>
    <option value="234">PCA Pain Pump: Site Appearance</option>
    <option value="235">PCA Pain Pump: Lock Level</option>
   


    <option value="236">iCAT: Cardio History</option>
    <option value="237">iCAT: Respiratory History</option>
    <option value="238">iCAT: Respiratory Assessment</option>
    <option value="239">iCAT: Vision Aid</option>
    <option value="240">iCAT: Ear Infection</option>
    <option value="241">iCAT: Nose</option>
    <option value="242">iCAT: Throat</option>
    <option value="243">iCAT: Neurological History</option>
    <option value="244">iCAT: Neurological Assessment </option>
    <option value="245">iCAT: Endocrine History </option>
    <option value="246">iCAT: Gastrointestinal History </option>
    <option value="247">iCAT: Gastrointestinal Assessment </option>
    <option value="248">iCAT: Genitourinary History </option>
    <option value="249">iCAT: Genitourinary Assessment </option>
    
    <option value="251">iCAT: Musco History </option>
    <option value="252">iCAT: Alt Complem. Therapies </option>
    <option value="253">iCAT: Experience </option>
    <option value="255">iCAT: Disease Management </option>
    <option value="256">iCAT: Physical </option>
    <option value="257">iCAT: Psychological </option>
    <option value="254">iCAT: Site Appearance </option>
    <option value="258">iCAT: Spirtual </option>
    <option value="259">iCAT: Practical </option>
    <option value="260">iCAT: Site Appearance </option>
    <option value="261">iCAT: End of Life </option>
    <option value="262">iCAT: Loss Grief </option>
    <option value="263">iCAT: Handouts </option>

    <option value="221">Education Checklist </option>
    <option value="264">Diabetes Checklist </option>
   
    

    #end
    #if($userVO.getAccess_regions()==1)

      <option value="50">$config.get('treatmentCatName')</option>
      <option value="51">$config.get('treatmentLocationName')</option>
    #end

                               

      <option value="18">Mobility&Limb: Limb Color</option>
      <option value="19">Foot&Limb: Basic Limb Temperature</option>
      <option value="199">Foot&Limb: Adv Limb Temperature</option>
      <option value="20">Foot&Limb: Limb Edema</option>
      <option value="21">Foot&Limb: Limb Edema Severity</option>
      <option value="22">Foot&Limb: Doppler</option>
      <option value="23">Foot&Limb: Palpation</option>
      <option value="110">Mobility&Limb: Missing Limbs</option>
      <option value="111">Mobility&Limb: Basic Pain Assessments</option>
                               
      <option value="198">Mobility&Limb: Adv Pain Assessments</option>
      <option value="116">Mobility&Limb: Basic Skin Assessment</option>
      <option value="112">Mobility&Limb: Adv Skin Assessments</option>
      <option value="113">Mobility&Limb: Sensory</option>
      <option value="114">Mobility&Limb: Proprioception</option>
      <option value="115">Mobility&Limb: Deformities</option>

      <option value="117">Mobility&Limb: Toes</option>
      <option value="118">Mobility&Limb: Weight Bearing Status</option>
      <option value="119">Mobility&Limb: Balance</option>
      <option value="120">Mobility&Limb: Calf Muscle Function</option>
      <option value="121">Mobility&Limb: Mobility Aids</option>
      <option value="122">Mobility&Limb: Muscle Tone</option>
      <option value="123">Mobility&Limb: Arches</option>
      <option value="124">Mobility&Limb: Foot Active</option>
      <option value="125">Mobility&Limb: Foot Passive</option>


      <option value="126">Mobility&Limb: Sensation</option>
      <option value="127">Mobility&Limb: Lab Done</option>
      <option value="128">Mobility&Limb: Trancutaneous Pressures</option>
      <option value="129">Mobility&Limb: E-Stim</option>
      <option value="130">Mobility&Limb: Massage</option>
      <option value="131">Mobility&Limb: Ultrasound</option>
      <option value="132">Mobility&Limb: Hbot</option>
      <option value="188">Mobility&Limb: Missing Upper Limb</option>
      <option value="189">Mobility&Limb: Upper Limb Edema Location</option>
      <option value="190">Mobility&Limb: Range of Motion</option>
      <option value="199">Adv. Limb: Temperature</option>
      <option value="200">Adv. Limb: Shape</option>

      <option value="8">Wound Profile: Wound Etiology</option>


      #if($config.get('allowStoma')=="1")
          <option value="85">Wound Profile: Ostomy Etiology</option>
      #end

      #if($config.get('allowIncision')=="1")
          <option value="134">Wound Profile: PostOp Etiology</option>
      #end

      #if($config.get('allowDrain')=="1")
          <option value="135">Wound Profile: Tubes&Drains Etiology</option>
      #end

      #if($config.get('allowBurn')=="1")
          <option value="163">Wound Profile: Burn Etiology</option>
      #end
      #if($config.get('allowSkin')=="1")
          <option value="180">Wound Profile: Skin Etiology</option>
      #end

      <option value="12">Wound Profile: Pressure Ulcer Stage</option>
      <option value="86">Wound Profile: Goal of Healing (Wound)</option>

      #if($config.get('allowIncision')=="1")
          <option value="167">Wound Profile: Goal of Healing (Incision)</option>
      #end

      #if($config.get('allowStoma')=="1")
          <option value="87">Wound Profile: Goal of Healing (Ostomy)</option>
      #end

      #if($config.get('allowDrain')=="1")
          <option value="168">Wound Profile: Goal of Healing (Drain)</option>
      #end

      #if($config.get('allowSkin')=="1")
          <option value="183">Wound Profile: Goal of Healing (Skin)</option>
      #end

      <option value="89">Wound Profile: Patient Limitations</option>
      <option value="146">Wound Profile: Teaching Goals</option>


      <option value="148">Wound Profile: Type of Ostomy</option>
      <option value="175">Wound Profile: Acquired</option>
      <option value="38">Treatment: C&S Result</option>
      <option value="39">Treatment: C&S Route</option>
      <option value="250">Treatment: Bath </option>

      <option value="17">Treatment: Adjunctive Treatment Modalities</option>
      <option value="40">Treatment: Pressure Reading</option>
                                
      <option value="185">Treatment: Intiated By</option>
      <option value="184">Treatment: Negative Pressure Connector</option>
      <option value="186">Treatment: Reason for Ending</option>
      <option value="187">Treatment: Goal of Therapy</option>
      <option value="28">Treatment: Dressing Change Frequency</option>
      <option value="29">Treatment: Nursing Visit Frequency</option>
      <option value="98">Treatment: Reading Variable</option>
      <option value="192">Treatment: Clinical Barriers</option>
      <option value="98">Treatment: Reading Variable</option>
      <option value="193">Treatment: IV Therapy Barriers</option>
      <option value="201">Treatment: Vendor Name</option>
      <option value="202">Treatment: Machine Acquirement</option>
      <option value="24">Wound Assess: Exudate Type</option>
      <option value="25">Wound Assess: Exudate Amount</option>
      <!--<option value="26">Wound Assess: Odor</option>-->

      <option value="32">Wound Assess: Discharge Reason</option>
      <option value="30">Priority</option>
      
      #if($userVO.getId() == 7)
          <option value="31">Wound Status</option> 
      #end

      <option value="34">Wound Assess: Wound Edge</option>
      <option value="35">Wound Assess: Wound Base</option>
      <option value="36">Wound Assess: Color</option>
      <option value="37">Wound Assess: Periwound Skin</option>
      <option value="54">Wound Assess: Time of Blood Sugar</option>
      <option value="55">Wound Assess: Visits</option>

      #if($userVO.getId() == 7)
          <option value="164">Professionals</option>
      #end

      #if($config.get('allowIncision')=="1")
          <!--option value="151">Incision Assess: Incision Closure Reason</option-->

          <option value="152">Incision Assess: PostOp Management</option>
          <option value="90">Incision Assess: Incision Exudate</option>
          <option value="91">Incision Assess: Peri-Incisional</option>
          <option value="92">Incision Assess: Incision Status</option>
          <option value="150">Incision Assess: Discharge Reason</option>
          <option value="97">Incision Assess: Pain</option>
          <option value="99">Incision Assess: Incision Closure Type</option>
          <option value="101">Incision Assess: Incision Exudate Amount</option>
      #end



      #if($config.get('allowDrain')=="1")
          <option value="96">Tubes&Drains Assess: Drainage Odour</option>
          <option value="93">Tubes&Drains: Type of Drain</option>
          <option value="94">Tubes&Drains: Peri Drain Skin</option>
          <option value="95">Tubes&Drains: Characteristics</option>
          <option value="140">Tubes&Drains: Exudate</option>
          <option value="141">Tubes&Drains: Exudate Amount</option>
          <option value="143">Tubes&Drains: Drainage Amount Desc</option>
          <option value="144">Tubes&Drains: Discharge Reason Reason</option>
          <option value="102">Tubes&Drains: Drain Site</option>
      #end



      #if($config.get('allowStoma')=="1")
          <option value="136">Ostomy Assess: Construction</option>
          <option value="137">Ostomy Assess: Drainage</option>
          <option value="138">Ostomy Assess: Mucocutaneous Margin</option>
          <option value="139">Ostomy Assess: Peri-fistula Skin</option>
          <option value="166">Ostomy Assess: Devices</option>
          <option value="149">Ostomy Assess: Discharge Reason Reason</option>
          <option value="67">Ostomy Assess: Concerns for Pouching</option>
          <option value="62">Ostomy Assess: Profile</option>
          <option value="65">Ostomy Assess: Flange Pouch</option>
          <option value="66">Ostomy Assess: Urine - Colour</option>
          <option value="70">Ostomy Assess: Urine - Type</option>
          <option value="71">Ostomy Assess: Urine - Quantity</option>
          <option value="61">Ostomy Assess: Stool - Colour</option>
          <option value="72">Ostomy Assess: Stool - Consistency</option>
          <option value="73">Ostomy Assess: Stool - Quantity</option>
          <option value="74">Ostomy Assess: Skin - Appearance</option>
          <option value="75">Ostomy Assess: Skin - Contour</option>
          <option value="68">Ostomy Assess: Self Care Progress</option>
          <option value="69">Ostomy Assess: Peri Ostomy Skin</option>
          <option value="78">Ostomy Assess: Stoma - Shape</option>
          <option value="147">Ostomy Assess: Nutritional Status</option>
      #end

      #if($config.get('allowBurn')=="1")
          <option value="156">Burn Assessment: Burn Status</option>
          <option value="157">Burn Assessment: Burn Wound</option>
          <option value="158">Burn Assessment: Exudate Colour</option>
          <option value="159">Burn Assessment: Exudate Amount</option>
          <option value="160">Burn Assessment: Grafts</option>
          <option value="161">Burn Assessment: Donors</option>
          <option value="162">Burn Assessment: Discharge Reason</option>
      #end
      
      #if($config.get('allowSkin')  == "1")
        <option value="181">Skin Assessment: Status</option>
        <option value="182">Skin Assessment: Discharge Reason</option>
      #end

      <option value="170">Timezone (tz format)</option>

</select>

<input type="submit" class="button" value=" $text.get('pixalere.continue') "/>

</p>
</form>
<p>
#if($!resource_id && (("$!listitem.getId()" == "" && "$resource.lock_add_n_del" == "0") || ("$!listitem.getId()" != "")))
    <form action="ResourcesAdmin.do" method="post" name="content_form" id="content_form">
    <input type="hidden" name="action" value="$!action"/>
    <input type="hidden" name="resource_id" value="$!resource_id"/>
    <input type="hidden" name="id" value="$!listitem.getId()"/>

<div class="w100p ">
 <div class="" style="color:#00000;background-color:#CCC;font-size:16px;font-weight:bold;">&nbsp;&nbsp;$!resource_section $text.get("pixalere.admin.resources.form.title")</div>
#foreach($language in $languages)


 <div class=" section blue "  >
    <p class="cat_title">$text.get($language.name)</p>
    <p class="pad5">$text.get('resources.name')<label class="requiredText">*</label> &nbsp;<input type="text" name="${language.name}" value="$!listitem.getName(${language.id})" > </p>
    <p class="pad5">$text.get('pixalere.admin.info.form.definition') &nbsp;<textarea name="definition${language.name}"  cols="35" rows="2" >$!listitem.definition()</textarea>
 </div>

#end
<div class="section blue">
  <p>
  &nbsp;$text.get('pixalere.admin.library.orderby') #if($resource_id != "51" || $resource_id != "50") #orderby_dropdwn($!resource.getOrderby()  $resourceList) #end
  #if($!resource_id != "1" && $!resource_id != "2" && $!resource_id != "3" && $!resource_id != "4") 
      &nbsp;&nbsp;      
      <input type="checkbox" name="title" value="1" #if($!listitem.getTitle()==1) checked #end> $text.get("pixalere.admin.resources.form.category")
      
  </p>
  
      #if($!resource_id == "51")
  <p>&nbsp;$text.get('pixalere.admin.resources.form.user_access')<input type="radio" name="item_filter" id="item_filter1" value="1" #if("$!listitem.getItem_filter()" == "1")checked #end> $!text.get('pixalere.admin.resources.form.update_access') <input type="radio" name="item_filter" id="item_filter2" value="0" #if("$!listitem.getItem_filter()" == "0")checked #end> $!text.get('pixalere.admin.resources.form.no_access')</p>
  <p>&nbsp;$text.get('pixalere.admin.resources.form.patient_location')<input type="radio" name="clinic" value="0" #if("$!listitem.getClinic()" == "0")checked#end/> $text.get('pixalere.admin.resources.form.home')  <input type="radio" name="clinic" value="1" #if("$!listitem.getClinic()" == "1")checked#end/> $text.get('pixalere.admin.resources.form.clinic')</p>
      #else
          <input type="hidden" name="item_filter" id="item_filter" value="$!listitem.getItem_filter()">
          <p>&nbsp;$text.get('pixalere.icd9')&nbsp;<input type="text" name="icd9" id="icd9" value="$!listitem.getIcd9()"/>
          &nbsp;&nbsp;$text.get('pixalere.icd10')&nbsp;<input type="text" name="icd10" id="icd10" value="$!listitem.getIcd10()"/>
          &nbsp;&nbsp;$text.get('pixalere.cpt')&nbsp;<input type="text" name="cpt" id="cpt" value="$!listitem.getCpt()"/></p>
      #end

        #if($!resource_id == "51")
         <p>$text.get("pixalere.admin.resources.form.treatment_category")&nbsp;<select name="categoryId" class="textfield">
          <option value=""></option>
          
          #foreach($category in $resourceCategories)
              #set ($select="")
              #if("$category.getId()"=="$!listitem.getCategoryId()")
                  #set ($select = 'selected="selected"')
              #end
              #if($category.getId() != 200)
              <option value="$category.getId()" $select>$category.getName($language)</option>
              #end
          #end
        
          </select></p>
          <p>$text.get("pixalere.admin.resources.form.treatment_ip_address")&nbsp;<textarea name="ipaddresses" id="ipaddresses"></textarea></p>
        #else
          <input type=hidden name="categoryId">
        #end
                                
    <br/>
    #if("$!listitem"!="")
     $text.get("$!listitem.getResource().getReport_value_label_key()")&nbsp;&nbsp;
        #if("$!listitem.getResource().getReport_value_component_type()"=="TXTN")
      <input type="text" name="report_value" value="$!listitem.getReport_value()">
      #else
      <input type=hidden name="report_value" value="$!listitem.getReport_value()">
        #end
    #end
    <br/>
      #end
</div>
<div class="blue" style="width:100%;float:left;padding-left:10px;padding-bottom:15px;"><input type="button" class="button" value="$text.get('pixalere.save')" id="editsubmit" name="editsubmit" onclick="verifyP();"></div>
</div>

      </form>
#end
<p style="margin-top:15px">
      <table border="0" cellpadding="0" cellspacing="0" id="tableResources">
              <tr>
          <td>
          <br/></td>
          <td width="10"><img src="images/spacer.gif" width="10" height="1"></td>
          <td class="normal"><b>Id</b></td>
          <td class="normal">&nbsp;&nbsp;<b>Item</b></td>
          <td class="normal">&nbsp;&nbsp;<b>Order By #</b></td>
          <td class="normal">&nbsp;&nbsp;<b>Column #</b></td>
          <td class="normal">&nbsp;&nbsp;<b>Report Value</b></td>
            <td class="normal">&nbsp;&nbsp;<b>Item Filter</b></td>
           
        </tr>

        #ResourcesAdminList($resourceList $text)
      </table>
</P>
</form>
<form action="ResourcesAdmin.do" method="post" name="cmdform">
<input type=hidden name=list_action value="">
  <input type=hidden name=choice>
  <input type=hidden name="resource_id">
  <input type=hidden name="value">
</form>
<form action="ResourcesAdmin.do" method="post" name="orderbyform">
<input type=hidden name=list_action value="orderby"/>
  <input type=hidden name="choice" value=""/>
  <input type=hidden name="resource_id"/>
  <input type=hidden name="orderby" value=""/>
</form>
<form action="ResourcesAdminSetup.do" method="post" name="form">
<input type="hidden" name="page" value="">
</form>

<br/>
#parse ("/vm/footer.vm")
