<form action="PatientUnassign.do" method="post" name="unassign_form" id="unassign_form">
            <div class="ui-widget"><div class="ui-state-tooltip ui-corner-all" style="padding: .5em .7em;"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>$text.get('pixalere.patientaccounts.form.unassign')</div></div>
            <input type="hidden" name="unassign_patient_id" id="unassign_patient_id" value=""/>

            #foreach($i in $unassigned_patients)
                <dl><dt>$i.getPatientId(): $i.getPatient().getPatientName()</dt><dd><input type="button" name="unassign_${i.getId()}" value="$text.get('pixalere.admin.form.unassign')" onclick="document.unassign_form.unassign_patient_id.value=${i.getPatientId()};document.unassign_form.submit();"/></dd></dl>
            #end
            <dl><dt><input type="button" class="blue_button" name="unassign_all" value="$text.get('pixalere.admin.form.unassign_all')" onclick="document.unassign_form.unassign_patient_id.value=-411;document.unassign_form.submit();"/></dt><dd></dd></dl>
              </form>
