<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" />

<title>Pixalere Uploader</title>
<link rel="apple-touch-icon" href="images/infoboxes.jpg" />
<LINK HREF="common/jquery-ui-1.8.10.custom.css" REL="stylesheet" TYPE="text/css" media="all" >
<!--script language="JavaScript" type="text/javascript" src="js/wz_tooltip.js"></script-->
<script language="JavaScript" type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="js/jquery-ui-1.8.10.custom.min.js"></script>
</head>
        <script>
	$(function() {
		$( "#error-message" ).dialog({
                        width: 400,
			modal: true,
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
                                        window.close();
				}
			}
		});

	});
	</script>



        <div id="error-message" title="Success">
            <p>
                    <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 50px 0;"></span>
                    <label id="error-message-label">Your Image successfully to uploaded</label>

            </p>

        </div>
        
</html>