<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>

<HEAD>

	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html">

	<TITLE></TITLE>

	<META name="GENERATOR" CONTENT="OpenOffice.org 1.0.3  (Linux)">

	<META name="CREATED" CONTENT="20031210;14583900">

	<META name="CHANGED" CONTENT="20031210;15061700">

	<LINK HREF="common/pixalere.css" REL="stylesheet" TYPE="text/css">

	<script language="javascript">
	  function closePopup() {
		self.close();
	  }
	</script>

</HEAD>

<BODY LANG="en-US">





            <TABLE WIDTH="330" BORDER="0" CELLPADDING="2" CELLSPACING="0" CLASS="tableBorder">

              <TR CLASS="lgtgrey">

                <TD VALIGN="TOP">&nbsp;</TD>

                <TD>&nbsp;</TD>

              </TR>

              <TR CLASS="lgtgrey">

                <TD WIDTH="25" VALIGN="MIDDLE"><span CLASS="alertText"><img src="images/spacer.gif"  class="alert" WIDTH="23" HEIGHT="23"></span></TD>

                <TD><span CLASS="alertText"><font class="alertText" id=errorAlert>Your session will timeout in... <strong>$counter</strong></font></span></TD>

              </TR>

              <TR CLASS="lgtgrey">

                <TD VALIGN="TOP">&nbsp;</TD>

                <TD>&nbsp;</TD>

              </TR>

            </TABLE>

<!-- endErrorBox -->



		#if($close==1)
            <script language="JavaScript" type="text/javascript" >closePopup();self.close();</script>
        #end




</BODY>

</HTML>
