
<html>
<head>
    <link href="common/pixalere.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <style type="text/css">
        #container {
            width: auto;
            height: auto;
            margin: 24px;
            padding: 16px;
            border: 1px solid #999;
            background-color: white;
            overflow: hidden;
            font: 11px/16px Arial, Helvetica, sans-serif;;
        }
        #container .subsection {
            margin-top: 8px;
            width: 100%;
            overflow: hidden;
        }
        #container .subsection p{
            margin-bottom: 8px;
        }
    </style>
    <title>$config.get('appShort') $text.get('pixalere.reporting.parameterform.patient_consent')</title>
</head>
<body>
    <div id="container">
        <div class="subsection">
            <h1>$text.get('pixalere.admin.resources.form.patient_consent_revoked')</h4>
            <div>
                <p>$text.get('pixalere.admin.resources.form.patient_consent_revoked_redirect')</p>
            </div>
        </div>
    </div>
    <script language="JavaScript" type="text/javascript" >
        window.onload=function(){ 
            setTimeout(function () {
                // redirect to patient admin search
                opener.location.href = 'AdminSetup.do';
                self.close();
            }, 3500);
        }
    </script>
</body>
</html>