#parse ("/vm/header.vm")        
<script language="JavaScript" type="text/javascript" >
$(function() {
    $( "#deleteconfirm" ).dialog({
                        autoOpen: false,
                        resizable: false,
                        width: 500,
                        modal: true,
                        buttons: {
                                "Delete this charting": function() {
                                        $('#delete_form').submit();
                                },
                                Cancel: function() {
                                        $( this ).dialog( "close" );
                                }
                        }
                });
    $('.opener').click(function() {
        $( "#deleteconfirm" ).dialog( "open" );return false;
    });
    $('#tabs').tabs({
        beforeActivate: function(event, ui) {
            var url = $(ui.newTab).find("a").attr("rel");

            //var url = $('#tabs').data(ui.tab, 'load.tabs');
            if( url ) {
                location.href = url;
                return false;
            }
            return true;
        }

    });
var index = $('#tabs a[href="#woundDiv"]').parent().index();
                $('#tabs').tabs('option','active',index);
});
function selectAll(){}
function loadwindow(sUrl,width,height)

{

        large_fix_win = window.open(sUrl, 'large_fix_win', 'width='+width+',height='+height+',scrollbars=yes,resizable=yes,status=no,location=no,menubar=no');
        large_fix_win.focus();
        checkPopupBlocker(large_fix_win);
}
function FlowCharts(which){
        
    document.form.page.value=which;
    verify();
   
}
function verify(){

        document.form.submit();

}
</script>
<div id="deleteconfirm" title="$text.get('pixalere.viewer.form.delete-confirm')">
        <p>
        <form action="ProfilesAmend.do" method="post" name="delete_form" id="delete_form">
            <input type="hidden" name="id" value="0"/>
            <input type="hidden" name="action" value="delete"/>
            <input type="hidden" name="delete_reason" value=""/>
            <input type="hidden" name="type" value="2"/>
            <input type="hidden" name="fwd" value="uploader.go.woundflowchart"/>

        <span>$text.get('pixalere.viewer.form.deleted_reason')&nbsp;&nbsp;&nbsp;&nbsp;<textarea id="deleted_reason" name="deleted_reason" rows="2" cols="50"></textarea></span><br/>
            
            <br/><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>#if($results == 1)$text.get('pixalere.viewer.form.wound_delete-areyousure')#else $text.get('pixalere.viewer.form.wound_delete-areyousure')#end
            </form>
        </p>
</div>
#set ($tab_width = 135)
#if($config.get('showExamTab') == "1") #set ($tab_width = 110)#end
<div id="tabs">
        <ul>

                        <li style="width:$!{tab_width}px"><a id="patientLink" href="#emptyDiv" class="tabText"  rel="PatientFlowchartSetup.do#patientDiv" >$text.get("pixalere.viewer.form.patientflowchart")</a></li>
                        #if($config.get('showExamTab') == "1")<li style="width:$!{tab_width}px"><a  id="examLink" href="#emptyDiv"  class="tabText" rel="ExamFlowchartSetup.do#examDiv">$text.get("pixalere.viewer.form.examflowchart")</a></li>#end
                        #if($config.get('showBraden') == "1")<li style="width:$!{tab_width}px"><a id="bradenLink" href="#emptyDiv"  class="tabText" rel="BradenFlowchartSetup.do#bradenDiv">$text.get("pixalere.viewer.form.bradenflowchart")</a></li>#end
                        #if($config.get('showInvestigations') == "1")<li style="width:$!{tab_width}px"><a  id="investLink" href="#emptyDiv"  class="tabText" rel="DiagnosticFlowchartSetup.do#diagDiv">$text.get("pixalere.viewer.form.diagflowchart")</a></li>#end
                        #if($config.get('showLimb') == "1")<li style="width:$!{tab_width}px" ><a id="limbLink" href="#emptyDiv" class="tabText" rel="LimbFlowchartSetup.do#limbDiv">$text.get("pixalere.viewer.form.limbflowchart")</a></li>#end
                        #if($config.get('showFoot') == "1")<li style="width:$!{tab_width}px" ><a id="footLink" href="#emptyDiv"  class="tabText" rel="FootFlowchartSetup.do#footDiv">$text.get("pixalere.viewer.form.footflowchart")</a></li>#end
                        #if("$!wound_profile_type_id" != "")
                        <li ><a id="viewerLink" href="#emptyDiv" class="tabText " rel="ViewerSetup.do#photosDiv">$text.get("pixalere.viewer.form.photos")</a></li>
                        <li ><a id="commentsLink" href="#emptyDiv"  class="tabText" rel="CommentsSetup.do#notesDiv">$text.get("pixalere.viewer.form.progressnotes")</a></li>
                        <li  ><a href="#woundDiv"  class="tabText">$text.get("pixalere.viewer.form.woundflowchart")</a></li>
                        <li ><a id="assessmentLink" href="#emptyDiv"  class="tabText" rel="AssessmentFlowchartSetup.do#assessDiv">$text.get("pixalere.viewer.form.assessflowchart")</a></li>
                        #if($text.get("pixalere.offline")!="1")<li ><a id="measurementLink" href="#emptyDiv" class="tabText" rel="MeasurementsDiagramSetup.do#measurementDiv">$text.get("pixalere.viewer.form.measurementsdiagram")</a></li>#end
                        <li><a id="historyLink" href="#emptyDiv" class="tabText" rel="ProductHistorySetup.do#historyDiv">$text.get("pixalere.viewer.form.producthistory")</a></li>
                        <li><a id="ncpLink" href="#emptyDiv" class="tabText" rel="NursingCarePlanSetup.do#ncpDiv">$text.get("pixalere.viewer.form.nursing_care_plan")</a></li>
                        #end


        </ul>
        <div id="emptyDiv"></div>
        <div id="woundDiv">
        

<form  action="WoundFlowchartSetup.do" method="post" name="form">
    <input type="hidden" name="patient_select"/>
    <input type="hidden" name="page" value="wpflowchart"/>
</form>
<table class="container" id="wpflowchart" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="row-layer">
                        <td class="spacer-row"></td>
                </tr>
                #assessmentFlowChartRow ("WoundFlowchartSetup.do?not_used" $error_class $!alpha_id ""  $results $dropdown $selectedid   )
        <tr class="row-layer">
            <td class="spacer-row">
                <a href="Javascript:window.print();">
                <div id="print_report"> $text.get('pixalere.spritetxt.printpage')</div>
                </a>
            </td>
        </tr>
</table>

</div></div>
#parse ("/vm/footer.vm")  