<h1>Create a License</h1>
<p>Goto http://server1.pixalere.com/PixalereLicense/</p>
<p>User: seven</p>
<p>Pass: game.of.thrones1!</p>
<p>&nbsp;</p>
<p>1. Enter the # of users</p>
<p>2. # of allowed facilities, you can leave this blank, its not actually used yet.</p>
<p>3. Valid date, set crazy high unless this is a pilot or a customer is hosting themselves, then set this to expiry yearly , so there's no way for them to use the software after failing to pay for it.</p>
<p>Take the generated license, and update the customer's license in Admin or the database.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
