<h1>Deploy Pixalere to Production</h1>
<h3>Deploy to Standalone customer</h3>
<ol>
  <li>Stop Tomcat</li>
  <li>Drop pixalere.war into webapps</li>
  <li>Update server.xml with:</li>
</ol>
<p><span id="internal-source-marker_0.2918285115211787">&lt;Context path=&quot;/pixalere&quot; docBase=&quot;/[insert path here]/webapps/pixalere&quot; debug=&quot;0&quot; reloadable=&quot;true&quot;&gt;</span><br />
               &lt;Resource auth=&quot;Container&quot;  driverClassName=&quot;com.mysql.jdbc.Driver&quot; maxActive=&quot;20&quot; name=&quot;jdbc/pixDS&quot;  password=&quot;[insert_password]&quot; type=&quot;javax.sql.DataSource&quot;  url=&quot;jdbc:mysql://localhost:3306/pixalere_live?useUnicode=true&amp;amp;characterEncoding=UTF8&quot;  username=&quot;[insert_user]&quot; validationQuery=&quot;select 1&quot;/&gt;<br />
                       &lt;Resource auth=&quot;Container&quot;  driverClassName=&quot;com.mysql.jdbc.Driver&quot; maxActive=&quot;20&quot;  name=&quot;jdbc/pixReportingDS&quot; password=&quot;[insert_password]&quot; type=&quot;javax.sql.DataSource&quot;   url=&quot;jdbc:mysql://localhost:3306/pixalere_reporting_live?useUnicode=true&amp;amp;characterEncoding=UTF8&quot;  username=&quot;[insert_user]&quot; validationQuery=&quot;select 1&quot;/&gt;<br />
<br />
&lt;/Context&gt;</p>
<p><span id="internal-source-marker_0.7395391506792077">&lt;Context path=&quot;/photos&quot; docBase=&quot;/opt/[storage_path]&quot; debug=&quot;0&quot; reloadable=&quot;true&quot; crossContext=&quot;true&quot;&gt;&lt;/Context&gt;</span></p>
<p>Or change URL / Driver if its SQL Server.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Deploy to Saas </h3>
<ol>
  <li>Stop Tomcat</li>
  <li>Drop pixalere.war into webapps</li>
  <li>Update server.xml with:</li>
</ol>
<p>&nbsp;</p>
<p><span id="internal-source-marker_0.">&lt;Host appBase=&quot;webapps&quot; name=&quot;cust1&quot;&gt;</span><br />
              &lt;Alias&gt;cust1.pixalerehealthcare.com&lt;/Alias&gt;<br />
               &lt;Context path=&quot;&quot; docBase=&quot;C:\\Program Files  (x86)\\Atlassian\\Application Data\\webapps\\pixalere&quot; debug=&quot;0&quot;  reloadable=&quot;true&quot;&gt;<br />
               &lt;Resource auth=&quot;Container&quot;  driverClassName=&quot;com.mysql.jdbc.Driver&quot; maxActive=&quot;20&quot; name=&quot;jdbc/pixDS&quot;  password=&quot;774977&quot; type=&quot;javax.sql.DataSource&quot;  url=&quot;jdbc:mysql://localhost:3306/pixalere_live?useUnicode=true&amp;amp;characterEncoding=UTF8&quot;  username=&quot;root&quot; validationQuery=&quot;select 1&quot;/&gt;<br />
              &lt;/Context&gt;<br />
          &lt;/Host&gt;<br />
          &lt;Host appBase=&quot;webapps&quot; name=&quot;cust2&quot;&gt;<br />
              &lt;Alias&gt;www.cust2.pixalerehealthcare.com&lt;/Alias&gt;<br />
              &lt;Alias&gt;cust2.pixalerehealthcare.com&lt;/Alias&gt;<br />
                   &lt;Context path=&quot;&quot; docBase=&quot;C:\\Program Files  (x86)\\Atlassian\\Application Data\\webapps\\pixalere&quot; debug=&quot;0&quot;  reloadable=&quot;true&quot;&gt;<br />
               &lt;Resource auth=&quot;Container&quot;  driverClassName=&quot;com.mysql.jdbc.Driver&quot; maxActive=&quot;20&quot; name=&quot;jdbc/pixDS&quot;  password=&quot;774977&quot; type=&quot;javax.sql.DataSource&quot;  url=&quot;jdbc:mysql://localhost:3306/pixalere_live_cust2?useUnicode=true&amp;amp;characterEncoding=UTF8&quot;  username=&quot;root&quot; validationQuery=&quot;select 1&quot;/&gt;<br />
            &lt;/Context&gt;</p>
<p>	&lt;Context path=&quot;/photos&quot; docBase=&quot;/opt/[storage_path]&quot; debug=&quot;0&quot; reloadable=&quot;true&quot; crossContext=&quot;true&quot;&gt;&lt;/Context&gt;<br />
          &lt;/Host&gt;</p>
<p>Each customer will get their own Host section, and will be customized for each.  You will be required to create the sub domain prior to adding new hosts (for new customers). </p>
