<h1>Documents of Interest</h1>
<p>All the documents which you might find of interest will be listed below, feel free to edit or modify any documents as you see fit.</p>
<p>&quot;Risk Management&quot; - Any risks or obstacles.</p>
<p>&quot;Pixalere  Looking Forward&quot; - Lists of projects or features expected or needed in the near future.  Just gives a general overview of items or projects on the horizon.</p>
<p>&quot;Pixalere IT Spec Sheet&quot; - The Architecture layers</p>
<p>&quot;Deployment Diagram&quot; - Deployment layers, and servers</p>
<p>&quot;Technical Overview&quot; - An older document (about 6 years old), but most of it is still valid today.</p>
<p>&nbsp;</p>
<p>Just search Google docs for these names.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
