<h1>How to Access Email, and Documents</h1>
<p>You will be provided with a gmail address.  You can access our email server at:</p>
<p>http://mail.google.com/a/pixalere.com</p>
<p>From here you'll notice our calendar and documents along the top.  You can create your own collections and drag any of the shared documents to your own collections or just access them from the shared collections.</p>
<p>&nbsp;</p>
