<h1>How to use Assembla</h1>
<p>You will be invited to join assembla on the Pixalere project.   The four main sectons we utilize are Tickets, Milestones, Time and StandUp. </p>
<h3>Tickets</h3>
<p>All tickets initial are created with the milestone left empty.  Every few weeks/months we go over the issues and pick which issues will be in the next release.  At this point we assign the release to the ticket issue.  Given our rather fluid development, we follow the Kanban principles of development methodology as we also do support, and sometimes priorities/projects change on the fly. We can't commit to iterations or release deadlines. </p>
<h3>Milestones</h3>
<p>Just a breakdown of current and future releases.</p>
<h3>StandUp</h3>
<p>On a daily basis or close to it, we'd like to have an update of what your working on now, just finished, and any obstacles or concerns you have.  </p>
<h3>Time</h3>
<p>Most of your time tracking will be covered by your project tasks, but if you need to track anything outside of this such as testing,s upport, meetings etc.. you can do this under the Time tab, just add a description of what the task was instead of creating or assigning a ticket.</p>
